<div class="store-pickup-availability-wrapper">
    <h3>Chembur Experience Store - Mumbai</h3>
    <div class="store-pickup-availability-details-wrapper">
        <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/FACADE_OPTION_2_BG_Removed_3_1.png?v=1760770920" width="400" height="auto" alt="Chembur Experience Store - Mumbai" class="store-image">
        <div class="store-pickup-availability-details  gradient-border">
            <span>Design Available {{ 'check.svg' | inline_asset_content }}</span>
            <a href="#">Book Appointment</a>
        </div>
    </div>
</div>

<style>
    .gradient-border {position: relative;}
    .gradient-border:after {content: ""; position: absolute; inset: 0; border-radius: 50px; padding: 10px; background:linear-gradient(45deg,red,blue); mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude;}
</style>