<div class="store-pickup-availability-wrapper">
    <h3>Chembur Experience Store - Mumbai</h3>
    <div class="store-pickup-availability-details-wrapper gradient-border">
        <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/FACADE_OPTION_2_BG_Removed_3_1.png?v=1760770920" width="400" height="auto" alt="Chembur Experience Store - Mumbai" class="store-image">
        <div class="store-pickup-availability-details">
            <span>Design Available {{ 'check.svg' | inline_asset_content }}</span>
            <a href="#">Book Appointment</a>
        </div>
    </div>
</div>

<style>
    .gradient-border { --border-width: 4px; /* thickness of the border */ border-radius: 12px; /* rounded corners */ padding: var(--border-width); /* space for the border */ background: linear-gradient(91.17deg, #5858C6 0%, #D8326F 50%, #EE5344 100%); /* gradient border */ } 
    .gradient-border > * { border-radius: calc(12px - var(--border-width)); /* inner content rounded corners */ background: white; /* background for inner content */ display: block; padding: 16px; }
</style>