<div class="store-pickup-availability-wrapper">
    <h3>Chembur Experience Store - Mumbai</h3>
    <div class="store-pickup-availability-details-wrapper">
        <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/FACADE_OPTION_2_BG_Removed_3_1.png?v=1760770920" width="400" height="auto" alt="Chembur Experience Store - Mumbai" class="store-image">
        <div class="store-pickup-availability-details  gradient-border">
            <span>Design Available {{ 'check.svg' | inline_asset_content }}</span>
            <a href="#">Book Appointment</a>
        </div>
    </div>
</div>

<style>
    .gradient-border { position: relative; padding: 20px; }
    .gradient-border:after {content: ""; position: absolute; inset: 0; border-radius: 8px; padding: 1.2px; mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; background: linear-gradient(91.17deg, #5858C6 0%, #D8326F 50%, #EE5344 100%);}
    .store-pickup-availability-details a {background: linear-gradient(92.97deg, #505BCC 0%, #D42D75 50%, #F05641 100%); padding: 10px 22px; font-size: 14px; color: #fff; border-radius: 8px;}
    .store-pickup-availability-details span {display: inline-flex ; align-items: center; gap: 8px; margin-right: 16px; font-weight: 400; font-size: 12px; line-height: 150%; letter-spacing: 0.6px; text-align: center; vertical-align: middle; color: #1A1A1A;}
    img.store-image { position: absolute; width: 135px; bottom: 0; z-index: 1; }
</style>