<div class="trust-icons-wrapper">
    <div class="grid-row">
        <div class="grid-column">
            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315897_1.png" alt="Certified Jewelry Icon" title="Certified Jewelry" width="60" height="60">
            <div class="trust-icons-title">Certified<br> Jewelry</div>
        </div>
         <div class="grid-column">
            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315898_1.png" alt="Lucira Support" title="Lucira Support" width="60" height="60">
            <div class="trust-icons-title">Lucira<br> Support</div>
        </div>
         <div class="grid-column">
            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315899_1.png" alt="15 Days Money Back" title="15 Days Money Back" width="60" height="60">
            <div class="trust-icons-title">15 Days<br> Money Back</div>
        </div>
         <div class="grid-column">
            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315900_1.png?v=1757488153" alt="100% Lifetime Exchange" title="100% Lifetime Exchange" width="60" height="60">
            <div class="trust-icons-title">Lifetime<br> Exchange</div>
        </div>
    </div>
</div>

<div class="comparison-table">
    <span class="comparison-table-title" style="font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;display: block; margin-bottom: 0;">Discover the Difference</span>
    <table>
        <thead>
            <tr>
                <th><span>Diamond Comparison</span></th>
                <th><span>Lucira Grown Diamond</span></th>
                <th><span>Other Mined Diamond</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-color-bg">
                <td class="icon-head">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 20 20" fill="none">
                            <path d="M4.99996 2.5H15L18.3333 7.5L9.99996 18.3333L1.66663 7.5L4.99996 2.5Z"
                                stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9.16663 2.5L6.66663 7.5L9.99996 18.3333L13.3333 7.5L10.8333 2.5" stroke="#1A1A1A"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M1.66663 7.5H18.3333" stroke="#1A1A1A" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="icon-heading">
                        Carat
                    </span>
                </td>
                <td class="carate-weight-value-1"></td>
                <td class="carate-weight-value-2"></td>
            </tr>
            <tr>
                <td class="icon-head">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 20 20" fill="none">
                            <path
                                d="M18 18L14.2223 14.2156M16.3158 9.15789C16.3158 11.0563 15.5617 12.8769 14.2193 14.2193C12.8769 15.5617 11.0563 16.3158 9.15789 16.3158C7.2595 16.3158 5.43886 15.5617 4.0965 14.2193C2.75413 12.8769 2 11.0563 2 9.15789C2 7.2595 2.75413 5.43886 4.0965 4.0965C5.43886 2.75413 7.2595 2 9.15789 2C11.0563 2 12.8769 2.75413 14.2193 4.0965C15.5617 5.43886 16.3158 7.2595 16.3158 9.15789Z"
                                stroke="black" stroke-linecap="round" />
                            <g clip-path="url(#clip0_3282_97)">
                                <path d="M6.50004 6.125H11.5L13.1667 8.375L9.00004 13.25L4.83337 8.375L6.50004 6.125Z"
                                    stroke="#1A1A1A" stroke-width="0.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M8.58337 6.125L7.33337 8.375L9.00004 13.25L10.6667 8.375L9.41671 6.125"
                                    stroke="#1A1A1A" stroke-width="0.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M4.83337 8.375H13.1667" stroke="#1A1A1A" stroke-width="0.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_3282_97">
                                    <rect width="10" height="9" fill="white" transform="translate(4 5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                    <span class="icon-heading">
                        clarity
                        <div class="tooltip-icon info-tooltip si-tooltip">
                            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Info_1.svg?v=1753854005" width="12" height="12" alt="info icon" title="info icon">
                            <div class="tooltip-box-1 tooltip-box">
                                <div><span style="font-weight: 500;">VVS </span> : Top</div>
                                <div><span style="font-weight: 500;">VS</span> </div>
                                <div><span style="font-weight: 500;">SI </span> : Low</div>
                            </div>
                        </div>
                    </span>
                </td>
                <td>
                    VVS
                </td>
                <td>
                    SI
                </td>
            </tr>
            <tr class="tr-color-bg">
                <td class="icon-head">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 20 20" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.324 6.717C16.7794 6.2455 17.0314 5.61399 17.0257 4.9585C17.02 4.30301 16.7571 3.67598 16.2936 3.21246C15.8301 2.74894 15.203 2.48602 14.5475 2.48032C13.892 2.47462 13.2605 2.72661 12.789 3.182L3.81404 12.157L3.70204 12.327C3.53704 12.744 3.33604 13.154 2.83704 14.124C1.58204 16.56 1.38204 17.059 1.91404 17.592C2.44704 18.125 2.94604 17.924 5.38204 16.669C6.35204 16.169 6.76203 15.969 7.18004 15.804L7.35004 15.692L16.324 6.717ZM15.617 3.889C15.8982 4.1703 16.0562 4.55176 16.0562 4.9495C16.0562 5.34725 15.8982 5.72871 15.617 6.01L6.71404 14.913C6.28804 15.087 5.85604 15.3 4.92404 15.78C3.97404 16.27 3.57304 16.467 3.15804 16.633C3.01603 16.6913 2.87079 16.7414 2.72304 16.783C2.7537 16.6643 2.8037 16.5193 2.87304 16.348C3.03904 15.934 3.23704 15.532 3.72604 14.582C4.20604 13.65 4.41904 13.218 4.59304 12.792L13.496 3.889C13.7773 3.6078 14.1588 3.44982 14.5565 3.44982C14.9543 3.44982 15.3357 3.6078 15.617 3.889Z"
                                fill="black" />
                            <path
                                d="M9.85105 3.82398C9.75997 3.72968 9.70957 3.60338 9.71071 3.47228C9.71185 3.34118 9.76444 3.21577 9.85714 3.12307C9.94984 3.03037 10.0753 2.97778 10.2063 2.97664C10.3374 2.9755 10.4637 3.0259 10.558 3.11698L16.215 8.77398C16.2628 8.8201 16.3009 8.87528 16.3271 8.93628C16.3533 8.99728 16.3671 9.06289 16.3677 9.12928C16.3683 9.19567 16.3556 9.26151 16.3305 9.32296C16.3053 9.3844 16.2682 9.44023 16.2212 9.48718C16.1743 9.53412 16.1185 9.57125 16.057 9.59639C15.9956 9.62153 15.9297 9.63418 15.8633 9.6336C15.797 9.63303 15.7313 9.61924 15.6703 9.59303C15.6093 9.56683 15.5542 9.52873 15.508 9.48098L9.85105 3.82398Z"
                                fill="black" />
                        </svg>
                    </span>
                    <span class="icon-heading">
                        color
                        <div class="tooltip-icon info-tooltip ef-tooltip">
                            <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Info_1.svg?v=1753854005" width="12" height="12" alt="info icon">
                            <div class="tooltip-box tooltip-box-2">
                                <div><span style="font-weight: 500;">ef </span> : white</div>
                                <div><span style="font-weight: 500;">fg </span> </div>
                                <div><span style="font-weight: 500;">gh </span> </div>
                                <div><span style="font-weight: 500;">hi </span> </div>
                                <div><span style="font-weight: 500;">ij </span> : yellowish</div>
                            </div>
                        </div>
                    </span>
                </td>
                <td>
                    EF
                </td>

                <td>
                    IJ
                </td>
            </tr>
            <tr>
                <td class="icon-head">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 10 18" fill="none">
                            <mask id="path-1-inside-1_3282_99" fill="white">
                                <path
                                    d="M4.56481 18L0.0288126 10.08V9.024H0.556813C1.40481 9.024 2.11681 8.944 2.69281 8.784C3.28481 8.624 3.74881 8.36 4.08481 7.992C4.42081 7.624 4.62081 7.12 4.68481 6.48H0.0288126V4.944H4.66081C4.54881 4.352 4.32481 3.872 3.98881 3.504C3.65281 3.12 3.19681 2.84 2.62081 2.664C2.06081 2.488 1.37281 2.4 0.556813 2.4H0.0288126V0.863999H9.96481V2.4H5.42881C5.79681 2.704 6.10081 3.064 6.34081 3.48C6.58081 3.896 6.73281 4.384 6.79681 4.944H9.96481V6.48H6.84481C6.73281 7.648 6.28481 8.56 5.50081 9.216C4.73281 9.856 3.70881 10.264 2.42881 10.44L7.01281 18H4.56481Z" />
                            </mask>
                            <path
                                d="M4.56481 18L0.0288126 10.08V9.024H0.556813C1.40481 9.024 2.11681 8.944 2.69281 8.784C3.28481 8.624 3.74881 8.36 4.08481 7.992C4.42081 7.624 4.62081 7.12 4.68481 6.48H0.0288126V4.944H4.66081C4.54881 4.352 4.32481 3.872 3.98881 3.504C3.65281 3.12 3.19681 2.84 2.62081 2.664C2.06081 2.488 1.37281 2.4 0.556813 2.4H0.0288126V0.863999H9.96481V2.4H5.42881C5.79681 2.704 6.10081 3.064 6.34081 3.48C6.58081 3.896 6.73281 4.384 6.79681 4.944H9.96481V6.48H6.84481C6.73281 7.648 6.28481 8.56 5.50081 9.216C4.73281 9.856 3.70881 10.264 2.42881 10.44L7.01281 18H4.56481Z"
                                fill="black" />
                            <path
                                d="M4.56481 18L4.34787 18.1242L4.4199 18.25H4.56481V18ZM0.0288126 10.08H-0.221187V10.1465L-0.188127 10.2042L0.0288126 10.08ZM0.0288126 9.024V8.774H-0.221187V9.024H0.0288126ZM2.69281 8.784L2.62758 8.54265L2.6259 8.54312L2.69281 8.784ZM4.08481 7.992L3.90019 7.82343L4.08481 7.992ZM4.68481 6.48L4.93357 6.50488L4.96106 6.23H4.68481V6.48ZM0.0288126 6.48H-0.221187V6.73H0.0288126V6.48ZM0.0288126 4.944V4.694H-0.221187V4.944H0.0288126ZM4.66081 4.944V5.194H4.96254L4.90646 4.89753L4.66081 4.944ZM3.98881 3.504L3.80063 3.66866L3.80419 3.67257L3.98881 3.504ZM2.62081 2.664L2.54585 2.9025L2.54776 2.90309L2.62081 2.664ZM0.0288126 2.4H-0.221187V2.65H0.0288126V2.4ZM0.0288126 0.863999V0.613999H-0.221187V0.863999H0.0288126ZM9.96481 0.863999H10.2148V0.613999H9.96481V0.863999ZM9.96481 2.4V2.65H10.2148V2.4H9.96481ZM5.42881 2.4V2.15H4.73364L5.26959 2.59274L5.42881 2.4ZM6.34081 3.48L6.12427 3.60493V3.60493L6.34081 3.48ZM6.79681 4.944L6.54843 4.97239L6.57376 5.194H6.79681V4.944ZM9.96481 4.944H10.2148V4.694H9.96481V4.944ZM9.96481 6.48V6.73H10.2148V6.48H9.96481ZM6.84481 6.48V6.23H6.61764L6.59595 6.45614L6.84481 6.48ZM5.50081 9.216L5.66086 9.40806L5.66124 9.40773L5.50081 9.216ZM2.42881 10.44L2.39476 10.1923L2.01771 10.2442L2.21504 10.5696L2.42881 10.44ZM7.01281 18V18.25H7.45677L7.22658 17.8704L7.01281 18ZM4.56481 18L4.78175 17.8758L0.245752 9.95575L0.0288126 10.08L-0.188127 10.2042L4.34787 18.1242L4.56481 18ZM0.0288126 10.08H0.278813V9.024H0.0288126H-0.221187V10.08H0.0288126ZM0.0288126 9.024V9.274H0.556813V9.024V8.774H0.0288126V9.024ZM0.556813 9.024V9.274C1.41881 9.274 2.15495 9.19287 2.75972 9.02488L2.69281 8.784L2.6259 8.54312C2.07867 8.69513 1.39082 8.774 0.556813 8.774V9.024ZM2.69281 8.784L2.75804 9.02534C3.38534 8.8558 3.89469 8.57101 4.26943 8.16057L4.08481 7.992L3.90019 7.82343C3.60294 8.14899 3.18429 8.3922 2.62759 8.54266L2.69281 8.784ZM4.08481 7.992L4.26943 8.16057C4.65105 7.74261 4.86578 7.1828 4.93357 6.50488L4.68481 6.48L4.43605 6.45512C4.37585 7.05719 4.19058 7.50539 3.90019 7.82343L4.08481 7.992ZM4.68481 6.48V6.23H0.0288126V6.48V6.73H4.68481V6.48ZM0.0288126 6.48H0.278813V4.944H0.0288126H-0.221187V6.48H0.0288126ZM0.0288126 4.944V5.194H4.66081V4.944V4.694H0.0288126V4.944ZM4.66081 4.944L4.90646 4.89753C4.78764 4.26953 4.54668 3.74423 4.17343 3.33543L3.98881 3.504L3.80419 3.67257C4.10294 3.99977 4.30998 4.43447 4.41517 4.99047L4.66081 4.944ZM3.98881 3.504L4.17696 3.33937C3.80512 2.91442 3.30628 2.61204 2.69387 2.42491L2.62081 2.664L2.54776 2.90309C3.08735 3.06796 3.5005 3.32558 3.80067 3.66863L3.98881 3.504ZM2.62081 2.664L2.69577 2.4255C2.10412 2.23955 1.38911 2.15 0.556813 2.15V2.4V2.65C1.35652 2.65 2.01751 2.73645 2.54586 2.9025L2.62081 2.664ZM0.556813 2.4V2.15H0.0288126V2.4V2.65H0.556813V2.4ZM0.0288126 2.4H0.278813V0.863999H0.0288126H-0.221187V2.4H0.0288126ZM0.0288126 0.863999V1.114H9.96481V0.863999V0.613999H0.0288126V0.863999ZM9.96481 0.863999H9.71481V2.4H9.96481H10.2148V0.863999H9.96481ZM9.96481 2.4V2.15H5.42881V2.4V2.65H9.96481V2.4ZM5.42881 2.4L5.26959 2.59274C5.61445 2.87762 5.89908 3.21461 6.12427 3.60493L6.34081 3.48L6.55736 3.35507C6.30254 2.91339 5.97918 2.53038 5.58803 2.20726L5.42881 2.4ZM6.34081 3.48L6.12427 3.60493C6.34445 3.98657 6.48765 4.44057 6.54843 4.97239L6.79681 4.944L7.0452 4.91561C6.97797 4.32742 6.81718 3.80542 6.55736 3.35507L6.34081 3.48ZM6.79681 4.944V5.194H9.96481V4.944V4.694H6.79681V4.944ZM9.96481 4.944H9.71481V6.48H9.96481H10.2148V4.944H9.96481ZM9.96481 6.48V6.23H6.84481V6.48V6.73H9.96481V6.48ZM6.84481 6.48L6.59595 6.45614C6.48922 7.5692 6.06646 8.41673 5.34038 9.02427L5.50081 9.216L5.66124 9.40773C6.50316 8.70327 6.9764 7.7268 7.09367 6.50386L6.84481 6.48ZM5.50081 9.216L5.34077 9.02394C4.61784 9.62639 3.64173 10.0209 2.39476 10.1923L2.42881 10.44L2.46287 10.6877C3.7759 10.5071 4.84779 10.0856 5.66086 9.40805L5.50081 9.216ZM2.42881 10.44L2.21504 10.5696L6.79904 18.1296L7.01281 18L7.22658 17.8704L2.64258 10.3104L2.42881 10.44ZM7.01281 18V17.75H4.56481V18V18.25H7.01281V18Z"
                                fill="#FAF3EC" mask="url(#path-1-inside-1_3282_99)" />
                        </svg>
                    </span>
                    <span class="icon-heading">
                        price
                    </span>
                </td>
                <td class="caret-weight-price-1"></td>
                <td class="caret-weight-price-2"></td>
            </tr>
            <tr class="total-row tr-color-bg">
                <td style="text-align: left;">Total Savings</td>
                <td class="Total-saving-price green"></td>
                <td class="red">₹ 0</td>
            </tr>
        </tbody>
    </table>

    <span class="Diamond_setting-1">{{settings.Diamond_setting-1}}</span>
    <span class="Diamond_setting-2">{{settings.Diamond_setting-2}}</span>
</div>
