<div class="diamond-metal-guide-section">
  <div class="grid-row">
    <div class="grid-column">
      <div class="diamond-metal-guide-wrapper">
        
      </div>
    </div>
    <div class="grid-column">
      <div class="diamond-metal-guide-wrapper">
        
      </div>
    </div>
  </div>
</div>