<div class="diamond-metal-guide-section">
  <div class="grid-row">
    <div class="grid-column">
    <a href="https://www.lucirajewelry.com/pages/diamond-education">
      <div class="diamond-metal-guide-wrapper diamond-guide-wrapper">
        <div class="guide-content-wrapper">
          <h3>Diamond Guide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/metal-education">
        <div class="diamond-metal-guide-wrapper metal-guide-wrapper">
          <div class="guide-content-wrapper">
          <h3>Metal Guide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>