<div class="diamond-metal-guide-section">
  <div class="grid-row">
    <div class="grid-column">
      <div class="diamond-metal-guide-wrapper diamond-guide-wrapper">
        <div class="guide-content-wrapper">
          <h3>Diamond Guide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="grid-column">
      <div class="diamond-metal-guide-wrapper metal-guide-wrapper">
        <div class="guide-content-wrapper">
        <h3>Metal Guide</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>