<div class="diamond-metal-guide-section">
  <div class="grid-row">
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/diamond-education">
        <div class="diamond-metal-guide-wrapper diamond-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Diamond Guide</h3>
            <p>Understand diamonds beyond the sparkle. Learn about the 4Cs, diamond quality, certifications, and what truly impacts beauty and value before making your choice.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/metal-education">
        <div class="diamond-metal-guide-wrapper metal-guide-wrapper">
          <div class="guide-content-wrapper">
          <h3>Metal Guide</h3>
          <p>Explore precious metals used in fine jewellery, from gold purity to finishes and durability, so you can choose a metal that suits your style and lifestyle.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="size-guide-section">
  <h2>Size Guide</h2>
  <p>Find the perfect fit with our easy sizing guide. Learn how to measure rings, bracelets, and necklaces accurately for comfort and everyday wear.</p>
  <div class="grid-row">
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="size-guide-wrapper ring-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Ring Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="size-guide-wrapper bracelet-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Bracelet Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="size-guide-wrapper bangle-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Bangle Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="size-guide-wrapper necklace-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Necklace Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="faqs-features-section">
  <div class="grid-row">
    <div class="grid-column">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/How-to-Wear-Jewelry.jpg?v=1769077182" alt="Descriptive Alt Text" class="faqs-features-image" width="100%" height="100%" loading="lazy"/>
    </div>
    <div class="grid-column">
      <div class="content-wrapper">
        <h2>How to wear jewelry</h2>
        <p>Discover simple styling tips to wear jewellery with confidence. From everyday elegance to special occasions, learn how to layer, pair, and balance your pieces.</p>
        <a href="/pages/how-to-wear-2" class="button-design">Know more</a>
      </div>
    </div>
  </div>
  <div class="grid-row grid-reverse">
    <div class="grid-column">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/LGD-vs-Mined-Diamond.jpg?v=1769077182" alt="Descriptive Alt Text" class="faqs-features-image" width="100%" height="100%" loading="lazy"/>
    </div>
    <div class="grid-column">
      <div class="content-wrapper">
        <h2>Lgd vs mined</h2>
        <p>Compare lab grown and mined diamonds clearly. Understand their origins, appearance, value, and impact to decide which diamond aligns with your preferences.</p>
        <a href="/pages/lgd-mine-page" class="button-design">Know more</a>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-column">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Product-Passport.jpg?v=1769077182" alt="Descriptive Alt Text" class="faqs-features-image" width="100%" height="100%" loading="lazy"/>
    </div>
    <div class="grid-column">
      <div class="content-wrapper">
        <h2>Product Passport</h2>
        <p>Trace your jewellery’s journey. Learn about diamond origin, craftsmanship, and authenticity through transparent details unique to every piece you own.</p>
        <a href="/pages/product-passport" class="button-design">Know more</a>
      </div>
    </div>
  </div>
  <div class="grid-row grid-reverse">
    <div class="grid-column">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Rectangle_24049_2.jpg?v=1767961966" alt="Descriptive Alt Text" class="faqs-features-image" width="100%" height="100%" loading="lazy"/>
    </div>
    <div class="grid-column">
      <div class="content-wrapper">
        <h2>Diamond Shapes</h2>
        <p>Explore popular diamond shapes and their personalities. From classic to modern cuts, find the shape that best reflects your style and sparkle preference.</p>
        <a href="/pages/diamond-shapes" class="button-design">Know more</a>
      </div>
    </div>
  </div>
</div>