<div class="diamond-metal-guide-section">
  <div class="grid-row">
    <div class="grid-column">
    <a href="https://www.lucirajewelry.com/pages/diamond-education">
      <div class="diamond-metal-guide-wrapper diamond-guide-wrapper">
        <div class="guide-content-wrapper">
          <h3>Diamond Guide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/metal-education">
        <div class="diamond-metal-guide-wrapper metal-guide-wrapper">
          <div class="guide-content-wrapper">
          <h3>Metal Guide</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>

<div class="size-guide-section">
  <h2>Size Guide</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="grid-row">
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="diamond-metal-guide-wrapper ring-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Ring Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="diamond-metal-guide-wrapper bracelet-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Bracelet Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="diamond-metal-guide-wrapper bangle-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Bangle Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-column">
      <a href="https://www.lucirajewelry.com/pages/size-guide-1">
        <div class="diamond-metal-guide-wrapper necklace-guide-wrapper">
          <div class="guide-content-wrapper">
            <h3>Necklace Size Guide</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>