<div class="fab-container">
  <div class="fab-actions" id="fabActions">
    <a href="#" class="fab-btn" id="fabChat" title="Live Chat">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/chat_1.png?v=1772104883" width="20" height="20" loading="lazy">
      <span class="fab-badge" id="fabChatBadge"></span>
    </a>
    <a href="tel:+918976773659" target="_blank" class="fab-btn" id="fabPhone" title="Call">
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/phone-call_1.png?v=1772105479" width="20" height="20" loading="lazy">
    </a>
    {% assign wa_text = 'Hi, I want to get more information about Lucira' %}
    {% if template.name == 'index' %}
      {% assign wa_text = "Hi! Can you tell me more about Lucira Jewelry's collection and designs?" %}
    {% elsif template.name == 'collection' %}
      {% assign wa_text = 'Hi, I want to get more information about this collection: ' | append: collection.title %}
    {% elsif template.name == 'product' %}
      {% assign wa_text = 'Hi, I want to get more information about this product: ' | append: product.title %}
    {% elsif template.name == 'blog' %}
      {% assign wa_text = 'Hi, Can you Tell me more about Lucira Blogs' %}
    {% elsif template.name == 'article' %}
      {% assign wa_text = 'Hi, can you tell me more about this blog: ' | append: article.title %}
    {% elsif template.name == 'page' %}
      {% if page.handle contains 'gold-rate' %}
        {% assign city = page.handle | remove: 'gold-rate-' | replace: '-', ' ' %}
        {% assign wa_text = 'Tell me more about ' | append: city | append: ' gold rate' %}
      {% elsif page.handle contains 'platinum-rate' %}
        {% assign city = page.handle | remove: 'platinum-rate-' | replace: '-', ' ' %}
        {% assign wa_text = 'Tell me more about ' | append: city | append: ' platinum rate' %}
      {% endif %}
    {% endif %}
    <a
      href="https://wa.me/919004435760?text={{ wa_text | url_encode }}"
      class="fab-btn"
      id="fabWhatsapp"
      title="WhatsApp"
      target="_blank"
    >
      <img src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/whatsapp_3_1.png?v=1772105856" width="20" height="20" loading="lazy">
    </a>
  </div>
  <div class="fab-tooltip" id="fabTooltip">
    At your Service
  </div>
  <div class="fab-main" id="fabMain">
    <svg class="fab-icon-default" width="25" height="25" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_15199_7954" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
      <rect width="32" height="32" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_15199_7954)">
      <path d="M7.07708 26.0002C6.40353 26.0002 5.83341 25.7668 5.36675 25.3002C4.90008 24.8335 4.66675 24.2634 4.66675 23.5898V14.6668C4.66675 13.1079 4.96419 11.6413 5.55908 10.2668C6.15397 8.89238 6.96597 7.69072 7.99508 6.66183C9.02397 5.63272 10.2256 4.82072 11.6001 4.22583C12.9745 3.63094 14.4412 3.3335 16.0001 3.3335C17.559 3.3335 19.0256 3.63094 20.4001 4.22583C21.7745 4.82072 22.9762 5.63272 24.0051 6.66183C25.0342 7.69072 25.8462 8.89238 26.4411 10.2668C27.036 11.6413 27.3334 13.1079 27.3334 14.6668V27.1795C27.3334 27.8531 27.1001 28.4232 26.6334 28.8898C26.1667 29.3565 25.5966 29.5898 24.9231 29.5898H17.0001C16.7163 29.5898 16.4787 29.4941 16.2874 29.3025C16.0959 29.1112 16.0001 28.8736 16.0001 28.5898C16.0001 28.3061 16.0959 28.0685 16.2874 27.8772C16.4787 27.6856 16.7163 27.5898 17.0001 27.5898H24.9231C25.0429 27.5898 25.1412 27.5514 25.2181 27.4745C25.295 27.3976 25.3334 27.2993 25.3334 27.1795V26.0002H23.0257C22.3609 26.0002 21.793 25.7647 21.3221 25.2938C20.851 24.8227 20.6154 24.2547 20.6154 23.5898V18.9745C20.6154 18.3096 20.851 17.7417 21.3221 17.2708C21.793 16.7997 22.3609 16.5642 23.0257 16.5642H25.3334V14.6668C25.3334 12.0891 24.4223 9.88905 22.6001 8.06683C20.7779 6.24461 18.5779 5.3335 16.0001 5.3335C13.4223 5.3335 11.2223 6.24461 9.40008 8.06683C7.57786 9.88905 6.66675 12.0891 6.66675 14.6668V16.5642H8.97441C9.6393 16.5642 10.2072 16.7997 10.6781 17.2708C11.1492 17.7417 11.3847 18.3096 11.3847 18.9745V23.5898C11.3847 24.2547 11.1492 24.8227 10.6781 25.2938C10.2072 25.7647 9.6393 26.0002 8.97441 26.0002H7.07708ZM7.07708 24.0002H8.97441C9.09397 24.0002 9.1923 23.9617 9.26941 23.8848C9.3463 23.8079 9.38475 23.7096 9.38475 23.5898V18.9745C9.38475 18.8549 9.3463 18.7566 9.26941 18.6795C9.1923 18.6026 9.09397 18.5642 8.97441 18.5642H6.66675V23.5898C6.66675 23.7096 6.70519 23.8079 6.78208 23.8848C6.85897 23.9617 6.9573 24.0002 7.07708 24.0002ZM23.0257 24.0002H25.3334V18.5642H23.0257C22.9062 18.5642 22.8079 18.6026 22.7307 18.6795C22.6539 18.7566 22.6154 18.8549 22.6154 18.9745V23.5898C22.6154 23.7096 22.6539 23.8079 22.7307 23.8848C22.8079 23.9617 22.9062 24.0002 23.0257 24.0002ZM23.0257 18.5642H22.6154H25.3334H23.0257Z" fill="#fff"/>
      </g>
    </svg>
    <svg class="fab-icon-close" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 6L6 18M6 6L18 18" stroke="#fff" stroke-width="2.5" stroke-linecap="round"/>
    </svg>
    <span class="fab-badge" id="fabMainBadge"></span>
  </div>
</div>
<style>
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .fab-container {bottom: 80px;}
  }
</style>