{% if settings.goEnable %}

    {% assign cart_product_title = cart.items.first.product.title | url_encode %}

  <div
    class="gokwik-checkout"
    {% if settings.hideFlow %}
      style="display:none !important;"
    {% endif %}
  >
    <div class="whatsapp-icon">
      <a
        href="https://wa.me/+919004435760?text=Can you tell me more about product in cart? {{ cart_product_title }}"
        style="padding: 0 !important; border: 0 !important;"
        target="_blank"
      >
        <img
          style="display:block;"
          class="chat-with-experts"
          src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Group_1321315733_1.png?v=1755165022"
          height="50"
          width="50"
          alt="whatsapp icon"
          title="whatsapp"
        >
      </a>
    </div>
    <button type="button" class="disabled" disabled onclick="onCheckoutClick(this)">
      <span class="btn-text"> Proceed to Checkout </span>
      <span class="pay-opt-icon"> </span>
      <div style="display:none" class="addloadr" id="btn-loader"><div class="cir-loader">Loading..</div></div>
    </button>
  </div>
{% endif %}
