{% if settings.goEnable %}
  <div
    class="gokwik-checkout"
    {% if settings.hideFlow %}
      style="display:none !important;"
    {% endif %}
  >

    <div class="whatsapp-icon" style="background-color:#32D951">

<img class="chat-with-experts" src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Group_1321315733_1.png?v=1755165022" height="46" width="46" alt="whatsapp icon" title="whatsapp">
    </div>
    <button type="button" class="disabled" disabled onclick="onCheckoutClick(this)">
      <span class="btn-text"> Proceed to Checkout </span>
      <span class="pay-opt-icon"> </span>
      <div style="display:none" class="addloadr" id="btn-loader"><div class="cir-loader">Loading..</div></div>
    </button>
  </div>
{% endif %}