<div id="country-popup" class="country-pop-overlay" onclick="closeloginPopup('login-popup')">
  <div class="otp-login-form-wrapper">
    <form id="otp-login-form" class="otp-form-wrapper">
      <h2>WELCOME TO LUCIRA</h2>
      <p>Welcome To The Jewelry World Of Lucira! Find Exclusive Designs At Unbelievable Prices.</p>
      <label>Phone Number</label>
      <div class="mobile-wrap">
        <span class="country-code">+91</span>
        <input 
          type="tel" 
          id="mobile" 
          placeholder="Enter Phone Number" 
          maxlength="10" 
          required
        >
      </div>
      <button type="button" id="sendOtp" class="btn-primary">
        REQUEST OTP
      </button>
      <div id="otpSection" style="display:none">
        <label>Enter OTP</label>
        <div class="otp-inputs">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
        </div>
        <button type="button" id="verifyOtp" class="btn-primary">
          VERIFY OTP
        </button>
        <p id="otp-timer">Resend OTP in 02:00</p>
      </div>
    </form>
  </div>
</div>