<section class="try-at-home-section">
  <div class="grid-row">

    {% if show_try_at_home %}
      <div class="grid-column">
        <div class="visit-store-content">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/DSC_1888_1_1.png?v=1763643718"
            width="100%"
            height="auto"
          >
          <div class="visit-store-content-wrapper">
            <div class="visit-store-content-wrap">
              <div class="icon-title-wrap">
                <div class="svg-icon">
                  {{- 'store-icon.svg' | inline_asset_content -}}
                </div>
                <h3 class="visit-store-title">Visit Our Store</h3>
              </div>
              <p class="description-store-visit">Visit store to explore and try your favourite designs live</p>
            </div>
            <a 
              href="https://wa.me/919004435760?text=Hi,%20I%20would%20like%20to%20schedule%20a%20Visit%20to%20Lucira%20Store"
              target="_blank"
              rel="noopener"
              class="visit-store-home-button">
              Book Appointment
            </a>
          </div>
        </div>
      </div>

      <div class="grid-column">
        <div class="try-at-home-content">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Rectangle_23940.jpg?v=1763619691"
            width="100%"
            height="auto"
          >
          <div class="try-at-home-content-wrapper">
            <div class="try-at-home-content-wrap">
              <div class="icon-title-wrap">
                <div class="svg-icon">
                  {{- 'home-icon.svg' | inline_asset_content -}}
                </div>
                <h3 class="try-at-home-title">Try at Home</h3>
              </div>
              <p class="description-store-visit">Try your selected pieces from the comfort of your home</p>
            </div>
            {% comment %} <button class="try-at-home-button" onclick="openTryAtHomeOverlay()">Try at Home</button> {% endcomment %}
            <a
              class="try-at-home-button"
              href="https://wa.me/919004435760?text=Hi,%20I%20want%20to%20try%20this%20product%20at%20home%20:%20{{ product.title | url_encode }}"
              target="_blank"
              rel="noopener"
              >Try at Home</a
            >
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>

<style>
  .try-at-home-section .grid-row { display: grid ; grid-template-columns: repeat(1, 1fr); gap: 14px; }
  .try-at-home-section .grid-row .grid-column button { font-family: Futura Std; font-weight: 500; font-size: 12px; line-height: 100%; letter-spacing: 1px; text-transform: uppercase;  border: 0; padding: 10px 20px; width: 100%; color: #FFFFFF; border-radius: 8px; cursor: pointer;}
  .try-at-home-section .grid-row .grid-column button { font-family: Futura Std; font-weight: 500; font-size: 12px; line-height: 100%; letter-spacing: 1px; text-transform: uppercase;  border: 0; padding: 10px 20px; width: 100%; color: #FFFFFF; border-radius: 8px; cursor: pointer;}
  .try-at-home-section .grid-column h3 {font-weight: 500; font-size: 12px; line-height: 150%; letter-spacing: 1px; text-align: center; vertical-align: middle; margin: 0;}
  .try-at-home-content { width: 100%; border: 1px solid #ffffff; padding: 14px 14px 14px; border-radius: 12px; position: relative; box-shadow: 0px 0px 12px 0px #00000014; }
  .try-at-home-section .grid-row .grid-column button.try-at-home-button {background: #E266A7;}
  .try-at-home-section .grid-row .grid-column button.visit-store-home-button {background: #8D7BEF;}
  .try-at-home-section { margin-top: 16px; }

  .try-at-home-section .grid-row { display: grid ; grid-template-columns: repeat(1, 1fr); gap: 14px; }
  .try-at-home-section .grid-row .grid-column button { font-family: Futura Std; font-weight: 500; font-size: 12px; line-height: 100%; letter-spacing: 1px; text-transform: uppercase;  border: 0; padding: 10px 20px; width: 100%; color: #FFFFFF; border-radius: 8px; cursor: pointer;}
  .try-at-home-section .grid-column h3 {font-weight: 500; font-size: 12px; line-height: 150%; letter-spacing: 1px; text-align: center; vertical-align: middle; margin: 0;}
  .try-at-home-content { width: 100%; border: 1px solid #ffffff; padding: 14px 14px 14px; border-radius: 12px; position: relative; box-shadow: 0px 0px 12px 0px #00000014; }
  .try-at-home-section .grid-row .grid-column button.virtual-try-on-button-1 {background: #5BC0BE;}
  .try-at-home-section { margin-top: 16px; }

  div.form-popup-overlay { position: fixed; inset: 0; background: rgba(0, 0, 0, .6); display: none; align-items: center; justify-content: center; z-index: 99999999; margin: 0; }
  .form-popup-overlay .popup-form-container {background: #fff; border-radius: 12px; width: 90%; max-width: 420px; padding: 25px; position: fixed; box-shadow: 0 10px 30px rgba(0, 0, 0, .2);}
  .form-popup-overlay .popup-close-btn {position: absolute; top: 18px; right: 20px; font-size: 22px; cursor: pointer; color: #666; line-height: 1; transition: color .3s;}
  .form-popup-overlay .popup-topic {margin: 0;}
  .form-popup-overlay .popup-form-container {background: #fff; border-radius: 12px; width: 90%; max-width: 420px; padding: 0; position: fixed; box-shadow: 0 10px 30px rgba(0, 0, 0, .2); top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: hidden;}
  .form-popup-overlay .popup-topic { font-weight: 500; font-size: 16px; line-height: 150%; letter-spacing: 1.6px; vertical-align: middle; text-transform: uppercase; margin-bottom: 20px; text-align: center;}
  .input-icon-wrapper input { width: 100%; padding: 16px 20px 16px 50px; border: 1px solid #ddd; border-radius: 8px; font-family: 'Futura Std', sans-serif; font-size: 14px; letter-spacing: .5px; box-sizing: border-box; }
  .input-icon-wrapper svg { position: absolute; top: 50%; transform: translateY(-50%); left: 16px; pointer-events: none; }
  .input-icon-wrapper { position: relative; margin-bottom: 15px; }
  .popup-submit-btn {background: #b77766; color: #fff; padding: 16px; border: none; border-radius: 8px; cursor: pointer; font-family: 'Futura Std', sans-serif; font-weight: 500; font-size: 14px; text-transform: uppercase; letter-spacing: 1.3px; transition: background .3s; margin-top: 0px; width: 100%;}
  .btn-submit-try-at-store{background: #8D7BEF}
  .popup-submit-btn:not(:disabled):hover { opacity: 0.9; }
  .error-message { color: #e74c3c; font-size: 12px; margin-top: -10px; margin-bottom: 10px; }
  .popup-success-message { text-align: center; }
  .success-icon { margin: 0 auto 20px; }
  .popup-success-message h3 { font-size: 20px; margin-bottom: 10px; }
  .popup-success-message p {font-size: 14px; color: #666; max-width: 360px; margin: 14px auto 20px;}
  .progress-bar-container { width: 100%; height: 4px; background-color: #f0f0f0; border-radius: 2px; overflow: hidden; }
  .progress-bar { height: 100%; background: linear-gradient(90deg, #E266A7 0%, #2a9aa8 100%); width: 0; animation: progressAnimation 3s ease-in-out forwards; }
  #visitStoreOverlay .progress-bar { background: linear-gradient(90deg, #A398DE 0%, #8477c4 100%); }
  .input-icon-wrapper select { width: 100%; padding: 16px 20px 16px 50px; border: 1px solid #ddd; border-radius: 8px; font-family: 'Futura Std', sans-serif; font-size: 14px; letter-spacing: .5px; box-sizing: border-box; color: #747474; background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/arrow-down.svg?v=1765863659); background-size: .6em; background-position: calc(100% - 1.3em) center; background-repeat: no-repeat; appearance: none;}
  .progress-bar-container {margin: 0; position: relative;}
  .popup-success-message {text-align: center; padding: 20px 0px 0; overflow: hidden;}
  #tryAtHomeFormSection {padding: 30px 20px 30px; overflow: hidden;}
  #visitStoreFormSection {padding: 30px 20px 30px;}
  .icon-title-wrap {display: flex; align-items: center; gap: 8px; margin-top: 0; margin-bottom: 8px;}
  .icon-title-wrap svg {display: block;}
  .try-at-home-content-wrap {width: 100%;}
  .try-at-home-content img {width: 190px; height: 100%; border-radius: 8px; object-fit: cover; margin-left: 0;}
  .try-at-home-content {display: flex; align-items: center; justify-content: flex-start; gap: 12px;padding: 0;}
  .try-at-home-content-wrapper { width: 100%;margin-right: 0; padding: 8px 10px 8px 0px;}
  .visit-store-content {display: flex; align-items: center; justify-content: flex-start; gap: 12px;box-shadow: 0px 0px 12px 0px #00000014; width: 100%;border: 1px solid #ffffff;padding: 0px;border-radius: 12px;}
  .visit-store-content img {width: 190px; height: 100%; border-radius: 8px;}
  .visit-store-content-wrapper { width: 100%; padding: 8px 10px 8px 0px;}

  .virtual-try-on-wrap {width: 100%;}
  .virtual-try-on-content {display: flex; align-items: center; justify-content: flex-start; gap: 12px;box-shadow: 0px 0px 12px 0px #00000014; width: 100%;border: 1px solid #ffffff;padding: 0px;border-radius: 12px;}
  .virtual-try-on-content img {width: 190px; height: 100%; border-radius: 8px;}
  .virtual-try-on-content-wrapper { width: 100%; padding: 8px 10px 8px 0px;}


  .description-store-visit{margin:0;font-family: Futura Std; font-weight: 500; font-size: 10px; line-height: 1.4; letter-spacing: 1px; padding-bottom: 10px; padding-top: 0px;}
  .description-virtual-try-on{margin:0;font-family: Futura Std; font-weight: 500; font-size: 10px; line-height: 1.4; letter-spacing: 1px; padding-bottom: 10px; padding-top: 0px;}
  #tryAtHomeFormSection .popup-submit-btn {background: #E266A7;}
  .store-experience-banner-slider-content-header { font-size: 20px; margin-bottom: 20px; }
  a.visit-store-home-button { font-weight: 500; line-height: 100%; letter-spacing: 1px; text-transform: uppercase; border: 0; padding: 10px 14px; color: #FFFFFF; border-radius: 8px; cursor: pointer; font-size: 12px; background: rgb(141, 123, 239); min-width: 100%; max-width: 100%; display: flex; align-items: center; justify-content: center; }
  @keyframes progressAnimation { to { width: 100%; } }

  @media (max-width: 768px) {
      .visit-store-content-wrapper{padding-right: 2px;}
      .virtual-try-on-content-wrapper{padding-right: 2px;}
      .try-at-home-section .grid-row { grid-template-columns: 1fr; }
      .try-at-home-content { width: 100%; border: 1px solid #ffffff; padding: 0; border-radius: 12px; position: relative; box-shadow: 0px 0px 12px 0px #00000014; display: flex; align-items: center; justify-content: flex-start; gap: 10px; }
      .try-at-home-section .svg-icon { position: relative; top: auto; left: auto; transform: none; background: #fff; border-radius: 50%; }
      .try-at-home-section .grid-row .grid-column button {margin: 0;}
      .try-at-home-content {padding: 8px 8px 8px;}
      .visit-store-content {width: 100%; border: 1px solid #A398DE; padding: 8px 8px 8px; border-radius: 12px; position: relative; display: flex ; align-items: center; justify-content: space-between;}
      .visit-store-content { width: 100%; border: 1px solid #A398DE; padding:  8px 8px 8px; border-radius: 12px; position: relative; display: flex ; align-items: center; justify-content: space-between; gap: 10px; }
      .try-at-home-section { margin-top: 20px; }
      .try-at-home-section .grid-row .grid-column button {padding: 10px 12px;font-size: 10px;}
      .icon-title-wrap { display: flex;  align-items: center;gap: 8px;}
      .try-at-home-content { padding: 0; }
      .visit-store-content { padding: 0; }
      .try-at-home-section .grid-row {gap: 0;}
      .visit-store-content {border: 0;}
      .try-at-home-content {border: 0;}
      .try-at-home-content .svg-icon svg {width: 24px; height: 19px;}
      .try-at-home-atc-button { text-transform: uppercase; font-family: 'Futura Std', sans-serif; letter-spacing: 1px; border-radius: 8px; border: 1px solid #a68380; color: #a68380; background: #fff; width: 100%; padding: 14px 0; }
      .try-at-home-section .svg-icon { position: relative; top: auto; left: auto; transform: none; background: #fff; border-radius: 50%; }
      .try-at-home-content { padding: 0 8px; }
      .try-at-home-content .svg-icon svg { width: 20px; height: 17px; }
      .try-at-home-section .svg-icon svg { display: block; width: 20px; height: 20px; }
      .try-at-home-section .grid-row { gap: 12px; }
      .try-at-home-content { padding: 0 8px 0 0 !important; margin-bottom: 0; }
      .visit-store-content { border: 0; }
      .description-store-visit {font-size: 8px;}
      .visit-store-content-wrapper {padding: 0;}
      .try-at-home-content img {width: 170px; height: 100%; border-radius: 8px; object-fit: cover; margin-left: 0;}
      .visit-store-content img {width: 170px; height: 100%; border-radius: 8px; object-fit: cover; margin-left: 0;}
      .try-at-home-content {padding: 0 0 0 0 !important;}
      .virtual-try-on-content img {width: 170px; height: 100%; border-radius: 8px; object-fit: cover; margin-left: 0;}
      .visit-store-content-wrapper { padding: 8px 10px 8px 0px; }
  }

  @media (min-width: 1040px) and (max-width: 1300px) {
      .visit-store-content img {width: 160px;}
      .visit-store-content {padding: 0px 0px 0 8px;}
      .try-at-home-content img {width: 160px;}
      .try-at-home-section .grid-row .grid-column button {font-size: 10px;}
      .try-at-home-content {padding: 0px 0px 0 8px;}
      .virtual-try-on-content img {width: 160px;}
      .virtual-try-on-content {padding: 0px 0px 0 8px;}

  }

  @media (min-width: 2000px) {
      .visit-store-content img {width: 160px;}
      .try-at-home-content img {width: 160px;}
      .virtual-try-on-content img {width: 160px;}
  }
</style>
