{% comment %} <div class="certification-section-main">
  <div class="certification-section">
    <div class="certification-titles">
      <h2>Product is certified</h2>
      <h2 style="color: #3C2C2A;font-weight: 500; font-size: 14px; line-height: 150%; letter-spacing: .7px;">
        <a href="https://www.lucirajewelry.com/pages/certificate" style="color: #3C2C2A;" target="_blank"
          >Check Sample Certificate</a
        >
      </h2>
    </div>
    <div class="certification-logos">
      <img
        alt="Certification logo 1"
        title="Certification logo 1"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=100"
        loading="lazy"
        width="50"
        height="50"
      >

      <img
        alt="Certification logo 2"
        title="Certification logo 2"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=100"
        loading="lazy"
        width="50"
        height="50"
      >
      <img
        alt="Certification logo 5"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=100"
        title="certification logo 5"
        loading="lazy"
        width="50"
        height="50"
      >
    </div>
    <div class="certification-note">
      Note: Our products are handcrafted and personalised for your delight, hence a weight variance is expected.
    </div>
  </div>
</div> {% endcomment %}


<div class="certification-section-main">
  <div class="certification-section">
    <div class="certification-titles">
      <h2>Product is certified</h2>
      <h2 style="color: #3C2C2A;font-weight: 500; font-size: 14px; line-height: 150%; letter-spacing: .7px;">
        <a 
          href="https://www.lucirajewelry.com/pages/certificate" 
          style="color: #3C2C2A;" 
          target="_blank"
          onclick="trackCertificateClick(event)"
        >Check Sample Certificate</a>
      </h2>
    </div>
    <div class="certification-logos">
      <img
        alt="Certification logo 1"
        title="Certification logo 1"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/IGI.webp?v=1747116568&width=100"
        loading="lazy"
        width="50"
        height="50"
      >

      <img
        alt="Certification logo 2"
        title="Certification logo 2"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/SGL.webp?v=1747116568&width=100"
        loading="lazy"
        width="50"
        height="50"
      >
      <img
        alt="Certification logo 5"
        srcset="
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=50 50w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=100 100w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=150 150w,
          https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=300 300w
        "
        sizes="(max-width: 480px) 50px, 100px"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/BIS.webp?v=1747116567&width=100"
        title="certification logo 5"
        loading="lazy"
        width="50"
        height="50"
      >
    </div>
    <div class="certification-note">
      Note: Our products are handcrafted and personalized for you, hence weight variance may occur.<br>
      {% if product.tags contains 'Only Pendant' %}
        <span>Chain is not included in the purchase.</span>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function trackCertificateClick(event) {
    // Initialize dataLayer if it doesn't exist
    window.dataLayer = window.dataLayer || [];
    
    // Push the event to dataLayer
    window.dataLayer.push({
      event: "promoClick",
      promoClick: {
        promo_id: '{{ product.selected_or_first_available_variant.sku }}',
        creative_name: 'View Sample Certificate',
        promo_position: '{{ product.title }}',
        location_id: 'pdp'
      }
    });
  }
</script>