
<!-- Overlay -->
<div class="awy-overlay" onclick="closeAlwaysWithYou()"></div>

<!-- Drawer -->
<aside class="awy-drawer" role="dialog" aria-modal="true">
  <div class="awy-drawer__header">
    <h3>ALWAYS WITH YOU</h3>
    <button class="awy-close" onclick="closeAlwaysWithYou()">✕</button>
  </div>

  <div class="awy-drawer__content">
    <details data-index="1">
      <summary>Free Resizing</summary>
      <image
        class="image-drawer-awy"
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Top_10_Jewelry_Gift_Ideas_for_Raksha_Bandhan_2026_Desktop_1ee9fc98-f37e-4a1e-83b2-313da59a1e34.jpg?v=1768913895"
      />

      <p>
        Any item that faces sizing issues or discomfort can be resized free of cost within the applicable period after
        delivery.
      </p>
      <span class="design-font"> Coz we Dont sell Just products we build relations! </span>
    </details>

    <details data-index="2">
      <summary>15 Days Return</summary>
      <p>Return your product within 15 days of delivery in original condition.</p>
    </details>

    <details data-index="3">
      <summary>Loose Diamond Fixation</summary>
      <p>Complimentary inspection and tightening in case of loose diamond fixation.</p>
    </details>

    <details data-index="4">
      <summary>100% Lifetime Exchange</summary>
      <p>Exchange your jewellery anytime for another Lucira design of higher or equal value.</p>
    </details>
  </div>
</aside>
