<section class="always-with-you">
  <h2 class="always-with-you__title">ALWAYS WITH YOU</h2>

  <div class="always-with-you__grid">
    {% assign benefits = 'Free Resizing|15 Days Return|Loose diamond fixation|100% Lifetime Exchange' | split: '|' %}

    {% for benefit in benefits %}
      <button
        class="always-with-you__item"
        type="button"
        onclick="openAlwaysWithYou({{ forloop.index }})"
        aria-label="Open benefit details"
      >
        <div class="always-with-you__icon">
          {% case forloop.index %}
            {% when 1 %}
              <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.84645 15.2058L0 14.3514L4.3902 9.91012H0.519413V8.70429H6.43849V14.6816H5.24441V10.7727L0.84645 15.2058ZM8.61941 6.50189V0.524528H9.81349V4.44127L14.2037 0L15.0576 0.862624L10.6599 5.29605H14.5385V6.50189H8.61941ZM17.3137 28C16.8604 28 16.4338 27.9152 16.034 27.7457C15.6341 27.5762 15.269 27.3245 14.9384 26.9905L8.28697 20.2923L8.93599 19.6549C9.14029 19.4664 9.37181 19.3444 9.63056 19.2892C9.88931 19.2343 10.1511 19.2399 10.4159 19.3063L14.175 20.2422V8.91389C14.175 8.72076 14.2398 8.55887 14.3694 8.42822C14.499 8.29757 14.6595 8.23225 14.851 8.23225C15.0425 8.23225 15.2027 8.29757 15.3316 8.42822C15.4605 8.55887 15.525 8.72076 15.525 8.91389V22.0724L10.6157 20.7326L15.9013 26.044C16.0831 26.2276 16.2979 26.3723 16.5456 26.4782C16.7936 26.5839 17.0496 26.6367 17.3137 26.6367H22.275C23.2252 26.6367 24.0253 26.3085 24.6753 25.6521C25.3251 24.9959 25.65 24.188 25.65 23.2285V17.7753C25.65 17.5822 25.7148 17.4203 25.8444 17.2896C25.974 17.159 26.1345 17.0937 26.326 17.0937C26.5175 17.0937 26.6777 17.159 26.8066 17.2896C26.9355 17.4203 27 17.5822 27 17.7753V23.2285C27 24.5534 26.5406 25.6798 25.6217 26.6077C24.7025 27.5359 23.5887 28 22.2801 28H17.3137ZM17.9915 19.1386V13.6854C17.9915 13.4914 18.0563 13.3293 18.1859 13.1991C18.3152 13.0689 18.4757 13.0038 18.6671 13.0038C18.8588 13.0038 19.0191 13.0691 19.1481 13.1997C19.277 13.3304 19.3415 13.4923 19.3415 13.6854V19.1386H17.9915ZM21.8336 19.1386V15.0487C21.8336 14.8547 21.8983 14.6926 22.028 14.5624C22.1575 14.4322 22.3181 14.3671 22.5096 14.3671C22.701 14.3671 22.8612 14.4324 22.9902 14.563C23.1191 14.6937 23.1836 14.8556 23.1836 15.0487V19.1386H21.8336Z" fill="#1C1B1F"/>
              </svg>
            {% when 2 %}
<svg width="28" height="28" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M28.433 19.5092C28.1462 18.99 27.6904 18.5846 27.1415 18.3601C26.5925 18.1356 25.9832 18.1056 25.4148 18.2749L18.3138 20.3615C18.2749 20.3726 18.2341 20.3758 18.1938 20.3709C18.1536 20.3661 18.1148 20.3532 18.0796 20.3332C18.0444 20.3131 18.0135 20.2862 17.9888 20.2541C17.9642 20.2219 17.9462 20.1852 17.9359 20.146C17.782 19.594 17.4904 19.0902 17.0884 18.6819C16.6864 18.2735 16.1871 17.9741 15.6376 17.8118L10.8053 16.3594C10.7104 16.3304 10.6088 16.3322 10.515 16.3644L6.42128 17.7545C6.3753 17.7702 6.32625 17.7746 6.27819 17.7676C6.23014 17.7605 6.18446 17.742 6.14494 17.7138C6.10542 17.6856 6.0732 17.6483 6.05095 17.6051C6.02869 17.5619 6.01705 17.5141 6.01697 17.4655V17.1217C6.01697 16.9141 5.93453 16.7151 5.78778 16.5683C5.64103 16.4216 5.44199 16.3391 5.23445 16.3391H0.96123C0.753693 16.3391 0.554656 16.4216 0.407905 16.5683C0.261155 16.7151 0.178711 16.9141 0.178711 17.1217V25.7488C0.178782 25.9563 0.261248 26.1553 0.407983 26.3021C0.554719 26.4488 0.753715 26.5313 0.96123 26.5313H5.23445C5.44197 26.5313 5.64097 26.4488 5.7877 26.3021C5.93444 26.1553 6.0169 25.9563 6.01697 25.7488C6.01687 25.7011 6.02797 25.6539 6.04938 25.6112C6.07079 25.5686 6.1019 25.5315 6.14023 25.503C6.17857 25.4745 6.22304 25.4554 6.27009 25.4472C6.31715 25.439 6.36546 25.442 6.41116 25.4558C9.05543 26.2594 15.6384 27.9784 15.9655 28.0636C16.0701 28.0906 16.1808 28.0812 16.2795 28.037L19.9398 26.407C20.0554 26.3555 20.1457 26.2602 20.191 26.1422C20.2363 26.0241 20.2329 25.8928 20.1814 25.7773C20.13 25.6618 20.0347 25.5714 19.9166 25.5261C19.7986 25.4808 19.6673 25.4843 19.5518 25.5357L16.1426 27.0539C16.0793 27.0821 16.0083 27.088 15.9412 27.0704C13.445 26.4189 7.92426 24.9511 6.22712 24.4016C6.16577 24.3817 6.11233 24.3427 6.07448 24.2905C6.03663 24.2382 6.01631 24.1753 6.01644 24.1108V19.1168C6.01643 19.0529 6.03643 18.9906 6.07365 18.9386C6.11086 18.8867 6.16341 18.8476 6.22392 18.8271L10.5837 17.3465C10.644 17.326 10.7092 17.3249 10.7702 17.3433L15.3627 18.7248C15.811 18.8579 16.2113 19.1178 16.5153 19.4731C16.8194 19.8284 17.0143 20.264 17.0766 20.7274C17.0841 20.7792 17.0783 20.832 17.0596 20.8808C17.041 20.9297 17.0102 20.9729 16.9701 21.0066C16.4816 21.4149 15.2389 22.1721 13.0642 21.7414C12.9402 21.7167 12.8116 21.7422 12.7064 21.8124C12.6013 21.8825 12.5284 21.9915 12.5037 22.1155C12.4789 22.2394 12.5045 22.3681 12.5746 22.4732C12.6448 22.5783 12.7538 22.6513 12.8777 22.676C13.3491 22.7717 13.8288 22.821 14.3099 22.823C16.2776 22.823 17.3995 21.9297 17.7928 21.5446C17.8283 21.51 17.8718 21.4847 17.9194 21.4708L25.6817 19.1901C26.0857 19.0708 26.52 19.1098 26.8965 19.2989C27.2729 19.4881 27.5633 19.8134 27.7087 20.2088C27.8541 20.6041 27.8437 21.04 27.6796 21.428C27.5154 21.816 27.2099 22.1271 26.8248 22.2981L21.2188 24.7945C21.1034 24.846 21.0132 24.9412 20.9679 25.0592C20.9227 25.1772 20.9262 25.3083 20.9777 25.4237C21.0291 25.5392 21.1243 25.6294 21.2423 25.6746C21.3603 25.7199 21.4915 25.7164 21.6069 25.6649L27.215 23.1677C27.5464 23.0201 27.8434 22.805 28.0871 22.5363C28.3308 22.2676 28.5158 21.9511 28.6305 21.6069C28.7451 21.2628 28.7868 20.8985 28.7529 20.5373C28.719 20.1761 28.6102 19.826 28.4336 19.5092H28.433ZM4.75797 25.5778H1.43772C1.39752 25.5779 1.35771 25.57 1.32057 25.5546C1.28342 25.5392 1.24967 25.5167 1.22125 25.4883C1.19282 25.4598 1.17028 25.4261 1.15491 25.3889C1.13955 25.3518 1.13166 25.312 1.13169 25.2718V17.5987C1.13169 17.5175 1.16393 17.4397 1.22132 17.3823C1.27872 17.3249 1.35656 17.2927 1.43772 17.2927H4.75797C4.83913 17.2927 4.91697 17.3249 4.97436 17.3823C5.03175 17.4397 5.06399 17.5175 5.06399 17.5987V25.2718C5.06403 25.312 5.05614 25.3518 5.04077 25.3889C5.0254 25.4261 5.00286 25.4598 4.97444 25.4883C4.94601 25.5167 4.91226 25.5392 4.87512 25.5546C4.83797 25.57 4.79816 25.5779 4.75797 25.5778Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
<path d="M2.64278 19.1775H3.55634C3.61985 19.179 3.68301 19.1677 3.74212 19.1445C3.80123 19.1212 3.85509 19.0864 3.90053 19.042C3.94598 18.9976 3.98209 18.9446 4.00674 18.886C4.0314 18.8275 4.0441 18.7646 4.0441 18.7011C4.0441 18.6376 4.0314 18.5747 4.00674 18.5162C3.98209 18.4576 3.94598 18.4046 3.90053 18.3602C3.85509 18.3158 3.80123 18.281 3.74212 18.2577C3.68301 18.2345 3.61985 18.2232 3.55634 18.2247H2.64278C2.57928 18.2232 2.51612 18.2345 2.45701 18.2577C2.3979 18.281 2.34404 18.3158 2.2986 18.3602C2.25315 18.4046 2.21704 18.4576 2.19239 18.5162C2.16773 18.5747 2.15503 18.6376 2.15503 18.7011C2.15503 18.7646 2.16773 18.8275 2.19239 18.886C2.21704 18.9446 2.25315 18.9976 2.2986 19.042C2.34404 19.0864 2.3979 19.1212 2.45701 19.1445C2.51612 19.1677 2.57928 19.179 2.64278 19.1775Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.721787" stroke-miterlimit="10"/>
<path d="M17.4394 4.7516C17.4463 4.75662 17.4535 4.76116 17.461 4.76518C17.5576 4.81179 17.6053 4.89835 17.5848 4.99291C17.5643 5.08746 17.4841 5.14925 17.3784 5.15111C17.2777 5.15298 17.177 5.15111 17.0764 5.15111H15.5848L15.6498 5.20598C16.0441 5.5243 16.3009 5.98203 16.3671 6.48443C16.3743 6.53397 16.3913 6.54969 16.4422 6.54942C16.7554 6.54676 17.0685 6.54676 17.3813 6.54942C17.5441 6.54942 17.6399 6.70763 17.5635 6.84373C17.5206 6.92017 17.4516 6.94734 17.3669 6.94734C17.0673 6.94734 16.7677 6.94734 16.468 6.94734C16.3777 6.94734 16.3777 6.94734 16.366 7.04003C16.2659 7.8348 15.6179 8.53795 14.8279 8.71134C14.6396 8.75073 14.4474 8.7686 14.255 8.76461C14.0685 8.76274 13.88 8.76461 13.669 8.76461C13.7092 8.80189 13.7359 8.82613 13.7622 8.8509L16.1844 11.1415C16.2265 11.1814 16.2688 11.2214 16.3104 11.2618C16.4036 11.3527 16.4129 11.4763 16.3335 11.5604C16.2542 11.6446 16.1316 11.6441 16.0358 11.5532L14.2265 9.84064C13.8385 9.47344 13.4502 9.10641 13.0615 8.73957C13.0165 8.69695 12.9787 8.65141 12.972 8.58722C12.959 8.4623 13.054 8.36243 13.1893 8.36216C13.5826 8.36216 13.9761 8.36216 14.3698 8.36216C14.7075 8.36582 15.0374 8.26046 15.3105 8.06172C15.6693 7.8023 15.8858 7.45179 15.9652 7.01526C15.9764 6.954 15.9575 6.94601 15.9031 6.94627C15.0109 6.94752 14.1187 6.94752 13.2266 6.94627C13.1931 6.94737 13.1596 6.94522 13.1265 6.93988C13.08 6.93062 13.0385 6.9048 13.0096 6.86723C12.9808 6.82965 12.9666 6.78287 12.9696 6.7356C12.972 6.68823 12.9914 6.64332 13.0242 6.60908C13.0571 6.57485 13.1011 6.55357 13.1483 6.54915C13.175 6.54649 13.2016 6.54756 13.2282 6.54756C14.1183 6.54756 15.0083 6.54756 15.8981 6.54756C15.9609 6.54756 15.9742 6.53477 15.9638 6.47085C15.8634 5.84254 15.3196 5.29148 14.6854 5.17881C14.5711 5.15882 14.4552 5.14911 14.3391 5.14978C13.957 5.14978 13.5747 5.14978 13.1923 5.14978C13.0474 5.14978 12.9507 5.04724 12.9709 4.9178C12.9843 4.83124 13.0452 4.78462 13.118 4.75L17.4394 4.7516Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.71464" stroke-miterlimit="10"/>
<path d="M15.2787 16.1946C13.6949 16.1946 12.1466 15.7249 10.8297 14.845C9.51283 13.9651 8.48643 12.7144 7.88033 11.2512C7.27422 9.7879 7.11564 8.17777 7.42463 6.62438C7.73362 5.07099 8.49631 3.64411 9.61625 2.52419C11.118 1.0224 13.1549 0.178711 15.2787 0.178711C17.4026 0.178711 19.4394 1.0224 20.9412 2.52419C22.443 4.02597 23.2867 6.06282 23.2867 8.18666C23.2867 10.3105 22.443 12.3474 20.9412 13.8491C20.1993 14.5951 19.3169 15.1865 18.3449 15.589C17.3729 15.9916 16.3308 16.1975 15.2787 16.1946ZM21.1727 12.311C22.0215 11.1034 22.4763 9.6628 22.4745 8.18666C22.4745 4.21893 19.2465 0.990842 15.2787 0.990842C11.311 0.990842 8.08291 4.21893 8.08291 8.18666C8.08291 12.1544 11.311 15.3825 15.2787 15.3825C17.7136 15.3825 19.87 14.1669 21.1727 12.311Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
<path d="M19.2632 25.6681L23.0455 23.9854L23.5047 24.8163L19.5357 26.5841L19.2632 25.6681Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
</svg>
            {% when 3 %}
              <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                <path d="M14 7l3 3-7 7-3-3z"/>
              </svg>
            {% when 4 %}
              <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                <path d="M12 2l4 4-4 4-4-4zM2 12l4 4-4 4-4-4z"/>
              </svg>
          {% endcase %}
        </div>

        <p class="always-with-you__text">{{ benefit }}</p>
        <span class="always-with-you__arrow"></span>
      </button>
    {% endfor %}
  </div>
</section>

<style>
  /* ===== CARDS ===== */
  .always-with-you {
    text-align: center;
    padding: 10px 0;
  }

  .always-with-you__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 4%;
      text-transform: uppercase;
      text-align:left;
  }

  .always-with-you__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  span.design-font{
      font-family: Beau Rivage !important;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;

  }
  .always-with-you__item {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .always-with-you__icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  .always-with-you__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.2%;
      text-align: center;
      margin:0;
  }

  .always-with-you__arrow {
    margin-top: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
  }

  /* ===== OVERLAY ===== */
  .awy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 9998;
  }

  /* ===== DRAWER ===== */
  .awy-drawer {
    position: fixed;
    top: 0;
    justify-content: flex-start;
    right: 0;
    width: 40%;
    max-width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: transform .35s ease;
    z-index: 99999;
    display: flex;
    flex-direction: column;
  }

  /* ACTIVE STATE */
  .awy-open .awy-overlay {
    opacity: 1;
    pointer-events: auto;
    display:block;
  }

  .awy-open .awy-drawer {
    transform: translateX(0);
  }


  .awy-drawer__header {
    padding: 16px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .awy-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .awy-drawer__content {
    padding: 16px;
  }

  /* Accordion */
  .awy-drawer details {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
  }

  .awy-drawer summary {
    cursor: pointer;
    font-weight: 500;
    list-style: none;
  }

  .awy-drawer summary::-webkit-details-marker {
    display: none;
  }

  .awy-drawer p {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;
  }


  img.image-drawer-awy{
    width: 445px;
    height: 200px;
    object-fit: cover;
  }
  /* ===== MOBILE ===== */
  @media (max-width: 768px) {
    .always-with-you__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .awy-drawer {
      width: 100%;
      height: 85%;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
    }

    .awy-open .awy-drawer {
      transform: translateY(0);
    }
  }
</style>

<script>
  function openAlwaysWithYou(index) {
    document.documentElement.classList.add('awy-open');

    document.querySelectorAll('.awy-drawer details').forEach((d) => {
      d.removeAttribute('open');
      if (d.dataset.index == index) {
        d.setAttribute('open', 'open');
      }
    });
  }

  function closeAlwaysWithYou() {
    document.documentElement.classList.remove('awy-open');
  }
</script>
