<section class="always-with-you">
  <h2 class="always-with-you__title">ALWAYS WITH YOU</h2>

  <div class="always-with-you__grid">
    {% assign benefits = 
      "Free Resizing post purchase|15 Days Return|Loose diamond fixation|100% Lifetime Exchange" 
      | split: "|" 
    %}

    {% for benefit in benefits %}
      <div class="always-with-you__item">
        <div class="always-with-you__icon">
          {% case forloop.index %}
            {% when 1 %}
              {% render 'icon-resize' %}
            {% when 2 %}
              {% render 'icon-return' %}
            {% when 3 %}
              {% render 'icon-fixation' %}
            {% when 4 %}
              {% render 'icon-exchange' %}
          {% endcase %}
        </div>

        <p class="always-with-you__text">
          {{ benefit }}
        </p>

        <span class="always-with-you__arrow"></span>
      </div>
    {% endfor %}
  </div>
</section>
