<section class="try-at-home-section">
    <div class="page-width">
        <div class="grid-row">
            <div class="grid-column">
                 <div class="try-at-home-content">
                    <h3 class="try-at-home-title">Product is available for</h3>
                    <button class="try-at-home-button">Try at Home</button>
                </div>
            </div>
            <div class="grid-column">
                <div class="visit-store-content">
                    <h3 class="visit-store-home-title">At your Nearest location</h3>
                    <button class="visit-store-home-button">Visit our Store</button>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .try-at-home-section .grid-row { display: grid ; grid-template-columns: repeat(2, 1fr); gap: 20px; }
    .try-at-home-section .grid-row .grid-column {display: flex ; align-items: center; justify-content: center;}
    .try-at-home-section .grid-row .grid-column button { font-family: Futura Std; font-weight: 500; font-size: 12px; line-height: 100%; letter-spacing: 1px; text-transform: uppercase; background: #3EC1D3; border: 0; padding: 14px 20px; width: 100%; margin-top: 12px; color: #FFFFFF; border-radius: 8px; }
    .try-at-home-section .grid-column h3 {font-weight: 500; font-size: 12px; line-height: 150%; letter-spacing: 1px; text-align: center; vertical-align: middle; margin: 4px 0;}
    .try-at-home-content { width: 100%; border: 1px solid #3EC1D3; padding: 28px 14px 14px; border-radius: 12px; }
    .visit-store-content { width: 100%; border: 1px solid #A398DE; padding: 28px 14px 14px; border-radius: 12px; }
</style>