<section class="always-with-you">
  <h2 class="always-with-you__title">ALWAYS WITH YOU</h2>

  <div class="always-with-you__grid">
    {% assign benefits = 'Lifetime <br> Buyback|100% Lifetime Exchange|15 Day Easy Moneyback|Certified <br> Jewellery'
      | split: '|'
    %}

    {% for benefit in benefits %}
      <button
        class="always-with-you__item"
        type="button"
        onclick="openAlwaysWithYou({{ forloop.index }})"
        aria-label="Open benefit details"
      >
        <div class="always-with-you__icon">
          {% case forloop.index %}
            {% when 1 %}
              <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_12552_6496" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                <rect width="28" height="28" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_12552_6496)">
                <path d="M2.16705 14.4483L1.43555 13.717L5.22955 9.91634H1.88442V8.88442H6.99967V13.9997H5.96776V10.6545L2.16705 14.4483ZM8.88442 6.99967V1.88442H9.91634V5.23626L13.7103 1.43555L14.4483 2.17376L10.6478 5.96776H13.9997V6.99967H8.88442ZM16.398 25.3971C16.0062 25.3971 15.6376 25.3246 15.292 25.1795C14.9465 25.0345 14.6309 24.819 14.3453 24.5332L8.59713 18.8011L9.158 18.2557C9.33456 18.0943 9.53464 17.99 9.75825 17.9427C9.98187 17.8957 10.2081 17.9005 10.437 17.9573L13.6855 18.7582V9.0638C13.6855 8.89852 13.7415 8.75998 13.8535 8.64817C13.9655 8.53637 14.1043 8.48046 14.2698 8.48046C14.4352 8.48046 14.5737 8.53637 14.6851 8.64817C14.7965 8.75998 14.8522 8.89852 14.8522 9.0638V20.3245L10.6096 19.1779L15.1774 23.7233C15.3345 23.8804 15.5201 24.0042 15.7342 24.0948C15.9485 24.1853 16.1698 24.2305 16.398 24.2305H20.6855C21.5067 24.2305 22.1981 23.9496 22.7599 23.3878C23.3214 22.8263 23.6022 22.1349 23.6022 21.3138V16.6471C23.6022 16.4819 23.6582 16.3433 23.7702 16.2315C23.8822 16.1197 24.021 16.0638 24.1864 16.0638C24.3519 16.0638 24.4903 16.1197 24.6018 16.2315C24.7132 16.3433 24.7689 16.4819 24.7689 16.6471V21.3138C24.7689 22.4476 24.3718 23.4116 23.5777 24.2057C22.7834 25 21.8208 25.3971 20.6899 25.3971H16.398ZM16.9837 17.8138V13.1471C16.9837 12.9811 17.0397 12.8423 17.1517 12.7309C17.2635 12.6195 17.4022 12.5638 17.5676 12.5638C17.7333 12.5638 17.8718 12.6197 17.9833 12.7315C18.0947 12.8433 18.1504 12.9819 18.1504 13.1471V17.8138H16.9837ZM20.304 17.8138V14.3138C20.304 14.1477 20.36 14.009 20.472 13.8976C20.584 13.7862 20.7228 13.7305 20.8883 13.7305C21.0537 13.7305 21.1922 13.7864 21.3036 13.8982C21.415 14.01 21.4707 14.1485 21.4707 14.3138V17.8138H20.304Z" fill="#1C1B1F"/>
                </g>
              </svg>
            {% when 2 %}
              <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_12552_6508" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                <rect width="28" height="28" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_12552_6508)">
                <path d="M23.5319 17.2726C23.3312 16.9005 23.0123 16.6099 22.6282 16.4489C22.2441 16.288 21.8178 16.2665 21.4201 16.3879L16.4519 17.8836C16.4246 17.8916 16.396 17.8939 16.3679 17.8904C16.3398 17.8869 16.3126 17.8777 16.2879 17.8633C16.2633 17.849 16.2417 17.8297 16.2245 17.8066C16.2072 17.7836 16.1946 17.7573 16.1874 17.7292C16.0798 17.3335 15.8758 16.9723 15.5945 16.6796C15.3132 16.3869 14.9639 16.1722 14.5794 16.0558L11.1984 15.0147C11.1321 14.9939 11.061 14.9952 10.9953 15.0183L8.13111 16.0148C8.09894 16.026 8.06462 16.0292 8.031 16.0242C7.99737 16.0191 7.96541 16.0059 7.93776 15.9856C7.91011 15.9654 7.88757 15.9387 7.872 15.9077C7.85643 15.8768 7.84828 15.8425 7.84823 15.8076V15.5612C7.84823 15.4124 7.79055 15.2697 7.68787 15.1645C7.5852 15.0593 7.44594 15.0002 7.30073 15.0002H4.31093C4.16572 15.0002 4.02646 15.0593 3.92379 15.1645C3.82111 15.2697 3.76343 15.4124 3.76343 15.5612V21.7456C3.76348 21.8943 3.82118 22.037 3.92384 22.1422C4.02651 22.2474 4.16574 22.3065 4.31093 22.3065H7.30073C7.44592 22.3065 7.58515 22.2474 7.68782 22.1422C7.79048 22.037 7.84818 21.8943 7.84823 21.7456C7.84816 21.7113 7.85593 21.6776 7.8709 21.6469C7.88588 21.6163 7.90765 21.5898 7.93447 21.5693C7.96129 21.5489 7.99241 21.5352 8.02533 21.5294C8.05825 21.5235 8.09205 21.5256 8.12403 21.5355C9.97412 22.1116 14.58 23.3438 14.8088 23.4049C14.882 23.4243 14.9595 23.4175 15.0285 23.3858L17.5895 22.2174C17.6704 22.1805 17.7336 22.1122 17.7653 22.0275C17.797 21.9429 17.7945 21.8488 17.7585 21.766C17.7225 21.6832 17.6559 21.6184 17.5733 21.5859C17.4907 21.5535 17.3988 21.5559 17.318 21.5928L14.9327 22.6811C14.8884 22.7014 14.8387 22.7055 14.7918 22.693C13.0454 22.2259 9.18269 21.1737 7.99526 20.7798C7.95234 20.7655 7.91495 20.7376 7.88846 20.7002C7.86198 20.6627 7.84777 20.6176 7.84786 20.5713V16.9914C7.84785 16.9456 7.86185 16.9009 7.88788 16.8637C7.91392 16.8264 7.95069 16.7984 7.99303 16.7837L11.0434 15.7223C11.0856 15.7076 11.1312 15.7068 11.1738 15.72L14.3871 16.7104C14.7007 16.8058 14.9808 16.9921 15.1935 17.2468C15.4063 17.5015 15.5427 17.8137 15.5863 18.146C15.5915 18.1831 15.5874 18.2209 15.5743 18.2559C15.5613 18.2909 15.5397 18.322 15.5117 18.3461C15.1699 18.6388 14.3004 19.1816 12.7789 18.8728C12.6922 18.8551 12.6021 18.8734 12.5286 18.9237C12.455 18.974 12.404 19.0521 12.3867 19.141C12.3694 19.2298 12.3873 19.3221 12.4363 19.3974C12.4854 19.4728 12.5617 19.5251 12.6484 19.5428C12.9783 19.6114 13.3139 19.6467 13.6504 19.6482C15.0272 19.6482 15.8121 19.0078 16.0873 18.7317C16.1122 18.7069 16.1426 18.6888 16.1759 18.6788L21.6069 17.0439C21.8896 16.9584 22.1934 16.9863 22.4568 17.1219C22.7202 17.2575 22.9233 17.4907 23.0251 17.7741C23.1268 18.0576 23.1195 18.3701 23.0047 18.6482C22.8899 18.9263 22.6761 19.1493 22.4067 19.2719L18.4844 21.0615C18.4036 21.0984 18.3405 21.1666 18.3088 21.2512C18.2772 21.3358 18.2796 21.4298 18.3156 21.5125C18.3516 21.5953 18.4183 21.66 18.5008 21.6924C18.5834 21.7248 18.6751 21.7223 18.7559 21.6854L22.6797 19.8953C22.9115 19.7894 23.1193 19.6353 23.2898 19.4427C23.4603 19.2501 23.5898 19.0232 23.67 18.7764C23.7502 18.5297 23.7794 18.2686 23.7557 18.0097C23.7319 17.7508 23.6559 17.4998 23.5322 17.2726H23.5319ZM6.96735 21.623H4.64431C4.61618 21.623 4.58833 21.6174 4.56234 21.6063C4.53635 21.5953 4.51274 21.5792 4.49285 21.5588C4.47296 21.5384 4.45719 21.5142 4.44644 21.4876C4.43569 21.461 4.43017 21.4324 4.43019 21.4036V15.9031C4.43019 15.8449 4.45275 15.7891 4.4929 15.748C4.53306 15.7068 4.58752 15.6837 4.64431 15.6837H6.96735C7.02414 15.6837 7.0786 15.7068 7.11876 15.748C7.15891 15.7891 7.18147 15.8449 7.18147 15.9031V21.4036C7.18149 21.4324 7.17597 21.461 7.16522 21.4876C7.15447 21.5142 7.1387 21.5384 7.11881 21.5588C7.09892 21.5792 7.07531 21.5953 7.04932 21.6063C7.02333 21.6174 6.99548 21.623 6.96735 21.623Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
                <path d="M5.48756 17.0356H6.12675C6.17118 17.0367 6.21537 17.0286 6.25673 17.012C6.29808 16.9953 6.33577 16.9703 6.36756 16.9385C6.39936 16.9067 6.42462 16.8687 6.44187 16.8267C6.45912 16.7847 6.46801 16.7396 6.46801 16.6941C6.46801 16.6486 6.45912 16.6035 6.44187 16.5615C6.42462 16.5196 6.39936 16.4816 6.36756 16.4497C6.33577 16.4179 6.29808 16.3929 6.25673 16.3763C6.21537 16.3596 6.17118 16.3516 6.12675 16.3526H5.48756C5.44313 16.3516 5.39894 16.3596 5.35758 16.3763C5.31623 16.3929 5.27855 16.4179 5.24675 16.4497C5.21495 16.4816 5.18969 16.5196 5.17244 16.5615C5.15519 16.6035 5.1463 16.6486 5.1463 16.6941C5.1463 16.7396 5.15519 16.7847 5.17244 16.8267C5.18969 16.8687 5.21495 16.9067 5.24675 16.9385C5.27855 16.9703 5.31623 16.9953 5.35758 17.012C5.39894 17.0286 5.44313 17.0367 5.48756 17.0356Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.721787" stroke-miterlimit="10"/>
                <path d="M15.8399 6.6945C15.8447 6.69811 15.8497 6.70136 15.855 6.70424C15.9226 6.73765 15.956 6.79971 15.9416 6.86749C15.9273 6.93527 15.8712 6.97956 15.7972 6.9809C15.7268 6.98224 15.6563 6.9809 15.5859 6.9809H14.5423L14.5878 7.02023C14.8637 7.24842 15.0433 7.57654 15.0896 7.9367C15.0947 7.97221 15.1066 7.98347 15.1422 7.98328C15.3613 7.98137 15.5804 7.98137 15.7993 7.98328C15.9131 7.98328 15.9802 8.09669 15.9267 8.19426C15.8967 8.24906 15.8485 8.26853 15.7892 8.26853C15.5796 8.26853 15.3699 8.26853 15.1603 8.26853C15.0971 8.26853 15.0971 8.26853 15.0889 8.33498C15.0188 8.90471 14.5654 9.40877 14.0127 9.53306C13.8809 9.5613 13.7465 9.57412 13.6119 9.57125C13.4814 9.56991 13.3495 9.57125 13.2019 9.57125C13.23 9.59798 13.2487 9.61535 13.2671 9.63311L14.9618 11.2751C14.9912 11.3037 15.0209 11.3324 15.0499 11.3614C15.1152 11.4265 15.1217 11.5151 15.0662 11.5754C15.0106 11.6358 14.9249 11.6354 14.8578 11.5703L13.5919 10.3426C13.3205 10.0794 13.0488 9.81628 12.7768 9.5533C12.7453 9.52275 12.7189 9.4901 12.7142 9.44409C12.7051 9.35454 12.7716 9.28294 12.8663 9.28275C13.1415 9.28275 13.4168 9.28275 13.6922 9.28275C13.9285 9.28538 14.1593 9.20985 14.3504 9.06738C14.6014 8.88142 14.7529 8.63015 14.8084 8.31722C14.8163 8.27331 14.803 8.26758 14.765 8.26777C14.1407 8.26866 13.5165 8.26866 12.8924 8.26777C12.8689 8.26855 12.8455 8.26702 12.8223 8.26319C12.7898 8.25655 12.7608 8.23804 12.7406 8.2111C12.7204 8.18417 12.7104 8.15063 12.7125 8.11674C12.7142 8.08279 12.7278 8.0506 12.7508 8.02605C12.7737 8.00151 12.8046 7.98626 12.8376 7.98309C12.8562 7.98118 12.8749 7.98195 12.8935 7.98195C13.5163 7.98195 14.1389 7.98195 14.7615 7.98195C14.8055 7.98195 14.8148 7.97278 14.8075 7.92696C14.7372 7.47655 14.3567 7.08152 13.913 7.00076C13.833 6.98643 13.752 6.97946 13.6708 6.97995C13.4034 6.97995 13.1359 6.97995 12.8683 6.97995C12.767 6.97995 12.6993 6.90644 12.7135 6.81365C12.7228 6.75159 12.7655 6.71818 12.8163 6.69336L15.8399 6.6945Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.71464" stroke-miterlimit="10"/>
                <path d="M14.3283 14.8971C13.2202 14.8971 12.1369 14.5604 11.2155 13.9296C10.2942 13.2989 9.57603 12.4023 9.15196 11.3534C8.72789 10.3044 8.61694 9.15018 8.83313 8.03662C9.04932 6.92307 9.58294 5.9002 10.3665 5.09738C11.4173 4.02082 12.8424 3.41602 14.3283 3.41602C15.8143 3.41602 17.2394 4.02082 18.2901 5.09738C19.3409 6.17394 19.9312 7.63407 19.9312 9.15655C19.9312 10.679 19.3409 12.1392 18.2901 13.2157C17.7711 13.7505 17.1537 14.1744 16.4736 14.463C15.7936 14.7516 15.0644 14.8991 14.3283 14.8971ZM18.4521 12.1131C19.046 11.2474 19.3642 10.2147 19.363 9.15655C19.363 6.31227 17.1044 3.9982 14.3283 3.9982C11.5523 3.9982 9.2937 6.31227 9.2937 9.15655C9.2937 12.0008 11.5523 14.3149 14.3283 14.3149C16.0319 14.3149 17.5406 13.4435 18.4521 12.1131Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
                <path d="M17.1161 21.6877L19.7625 20.4814L20.0838 21.0771L17.3068 22.3444L17.1161 21.6877Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.35732" stroke-miterlimit="10"/>
                </g>
              </svg>
            {% when 3 %}
              <svg width="30" height="30" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.8225 19.8424L9.18079 12.1873C8.74718 12.3876 8.30472 12.5454 7.85342 12.6607C7.40211 12.7758 6.92319 12.8333 6.41667 12.8333C4.63439 12.8333 3.11937 12.2095 1.87163 10.9617C0.623875 9.71415 0 8.19914 0 6.41667C0 5.91111 0.0560969 5.42461 0.168291 4.95717C0.280486 4.48972 0.444305 4.04143 0.65975 3.61229L4.78333 7.69096L7.69125 4.78333L3.65721 0.704376C4.08654 0.489126 4.52813 0.317916 4.98196 0.190749C5.43579 0.0635827 5.91403 0 6.41667 0C8.19914 0 9.71425 0.623875 10.962 1.87162C12.2096 3.11918 12.8333 4.63419 12.8333 6.41667C12.8333 6.95372 12.7796 7.44771 12.672 7.89862C12.5643 8.34954 12.4027 8.77693 12.1873 9.18079L19.8424 16.8225C20.016 17.0012 20.1028 17.2171 20.1028 17.4702C20.1028 17.7234 20.0177 17.9351 19.8473 18.1052L18.0606 19.8923C17.8904 20.0624 17.6849 20.14 17.444 20.125C17.2033 20.11 16.9961 20.0158 16.8225 19.8424ZM17.4665 18.8215L18.8148 17.4732L10.7424 9.40071C11.0475 8.98187 11.2778 8.51482 11.4333 7.99954C11.5889 7.48426 11.6667 6.95664 11.6667 6.41667C11.6667 4.99567 11.1167 3.72167 10.0167 2.59467C8.91654 1.46767 7.50565 1.01111 5.78404 1.225L8.68292 4.12358C8.87133 4.31219 8.96554 4.53211 8.96554 4.78333C8.96554 5.03456 8.87133 5.25447 8.68292 5.44308L5.44308 8.68262C5.25467 8.87104 5.03475 8.96525 4.78333 8.96525C4.53211 8.96525 4.31229 8.87104 4.12387 8.68262L1.225 5.78404C1.05603 7.67015 1.54253 9.12207 2.6845 10.1398C3.82647 11.1577 5.07053 11.6667 6.41667 11.6667C6.93233 11.6667 7.4479 11.5926 7.96338 11.4444C8.47885 11.2964 8.95572 11.0647 9.394 10.7491L17.4665 18.8215Z" fill="#1C1B1F"/>
              </svg>

            {% when 4 %}
              <svg width="30" height="30" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_12552_6529" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                <rect width="28" height="28" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_12552_6529)">
                <path d="M13.8727 7.85959C15.2008 7.85959 16.5289 7.86336 17.857 7.85545C18.0885 7.85394 18.2516 7.92386 18.4057 8.1031C19.3825 9.23791 20.3691 10.3648 21.3537 11.4923C21.6137 11.7899 21.6137 11.8958 21.3597 12.2051C19.6949 14.2328 18.0304 16.261 16.3661 18.2896C15.6357 19.1783 14.8966 20.0613 14.1592 20.9437C13.9482 21.1967 13.7436 21.1984 13.5326 20.9437C12.4616 19.6518 11.3922 18.3587 10.3242 17.0645C8.96496 15.4173 7.60665 13.7694 6.24927 12.1208C6.07583 11.9109 6.06778 11.7686 6.25545 11.5554C7.18911 10.4977 8.14711 9.4605 9.05174 8.37846C9.39973 7.96231 9.76926 7.83358 10.2896 7.84885C11.483 7.88409 12.6783 7.85997 13.8727 7.85959ZM16.1601 12.0888C16.1212 12.0805 16.0819 12.0747 16.0423 12.0713C14.5971 12.0701 13.1522 12.0713 11.7072 12.0665C11.5354 12.0665 11.5431 12.1201 11.5817 12.2603C12.2494 14.6943 12.9652 17.1135 13.6775 19.5336C13.7273 19.7032 13.7817 19.8711 13.8339 20.0398C14.6758 17.4011 15.4074 14.7472 16.1601 12.0888ZM13.0458 19.5253C13.0776 19.2099 12.9587 18.9504 12.8772 18.6839C12.2339 16.5541 11.6293 14.4142 11.0342 12.271C10.9938 12.1254 10.944 12.069 10.785 12.0701C9.57485 12.0777 8.36475 12.0741 7.15464 12.076C7.08816 12.076 7.01567 12.0509 6.93589 12.1105L13.0458 19.5253ZM20.7334 12.1076C20.6671 12.0888 20.6463 12.0769 20.6254 12.0769C19.3681 12.0752 18.1108 12.0758 16.8535 12.0709C16.7306 12.0709 16.6954 12.1274 16.6673 12.232C16.5284 12.7503 16.3853 13.2674 16.238 13.7832C15.7274 15.565 15.216 17.3466 14.7037 19.128C14.6754 19.2269 14.5552 19.3692 14.6423 19.4176C14.7661 19.4866 14.8271 19.3091 14.8962 19.2252C16.3381 17.4716 17.7777 15.7164 19.215 13.9596C19.714 13.3516 20.2131 12.7419 20.7334 12.1076ZM11.8495 11.5017C11.887 11.5239 11.9057 11.5447 11.9244 11.5447C13.1889 11.5474 14.4533 11.5492 15.7175 11.5501C15.8548 11.5501 15.8363 11.4851 15.7799 11.4044C15.6357 11.1971 15.4916 10.9898 15.345 10.7855C14.8603 10.107 14.3746 9.42997 13.8691 8.72413C13.1851 9.66443 12.5199 10.5799 11.8495 11.5017ZM6.99863 11.5467C8.25986 11.5467 9.45929 11.5452 10.6585 11.5482C10.8325 11.5482 10.7821 11.4655 10.7409 11.3718C10.3738 10.535 10.0077 9.69773 9.64247 8.86002C9.57785 8.71075 9.53908 8.65025 9.40048 8.8161C9.05755 9.22641 8.69158 9.6175 8.33778 10.0188C7.90326 10.5126 7.47061 11.009 6.99957 11.5467H6.99863ZM20.6898 11.5507C19.8531 10.5821 19.0615 9.66594 18.2707 8.74882C18.1926 8.65854 18.1529 8.68116 18.1085 8.78237C17.7271 9.64935 17.3434 10.515 16.9574 11.3794C16.9095 11.4872 16.9012 11.5531 17.0569 11.5526C18.2437 11.5492 19.4293 11.5507 20.6913 11.5507H20.6898ZM16.371 11.356C16.3896 11.3354 16.4063 11.313 16.4208 11.2893C16.8276 10.3846 17.2318 9.47991 17.641 8.57523C17.7285 8.38167 17.6004 8.40768 17.4895 8.40768C16.5012 8.40894 15.5129 8.41088 14.5246 8.41352C14.4608 8.41352 14.3836 8.38186 14.3257 8.46403C15.0142 9.41979 15.7224 10.362 16.371 11.356ZM11.3081 11.3569C12.0102 10.3546 12.6983 9.39133 13.447 8.40862C12.3067 8.40862 11.2242 8.40862 10.1418 8.40862C9.98484 8.40862 10.0294 8.48948 10.0697 8.57523C10.2073 8.86775 10.3486 9.15951 10.4791 9.45447C10.7524 10.0721 11.0196 10.6941 11.3081 11.3569Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.53598" stroke-miterlimit="10"/>
                <path d="M9.84769 22.9271C9.99265 23.1764 10.1204 23.3982 10.2498 23.6178C10.3273 23.7498 10.3809 23.8826 10.217 23.987C10.0921 24.0666 9.93403 24.0091 9.84244 23.8489C9.57124 23.3738 9.30329 22.8969 9.03858 22.4182C8.93294 22.2259 8.99381 22.0927 9.2107 22.0375C9.80629 21.8867 10.4041 21.7417 11.0007 21.5934C11.1606 21.5536 11.2561 21.6292 11.2983 21.7664C11.3436 21.914 11.276 22.0169 11.1233 22.0546C10.7783 22.1396 10.432 22.2203 10.0863 22.3028C10.0155 22.3198 9.9447 22.3371 9.86679 22.3918C10.0857 22.4708 10.3022 22.5565 10.5238 22.6274C11.4764 22.9318 12.4432 23.1485 13.4522 23.199C14.9719 23.2744 16.4301 23.0501 17.8103 22.4221C20.0921 21.3833 21.7611 19.7441 22.7548 17.4664C23.4156 15.9508 23.6435 14.3603 23.4675 12.7322C23.2264 10.5111 22.277 8.60294 20.6605 7.01975C20.6313 6.99129 20.6034 6.96151 20.5732 6.93399C20.4609 6.83221 20.4584 6.72045 20.5598 6.61641C20.6611 6.51237 20.7808 6.51633 20.8894 6.61C21.158 6.84164 21.3985 7.10098 21.6279 7.36843C22.9489 8.9077 23.7271 10.6765 23.9404 12.6789C24.1393 14.5448 23.8383 16.3353 23.0279 18.0352C22.3014 19.5592 21.2151 20.796 19.8402 21.7962C18.8612 22.5085 17.7893 23.0352 16.6144 23.3532C15.9402 23.5355 15.2545 23.638 14.5542 23.6811C13.5037 23.7458 12.4767 23.6276 11.4595 23.3883C10.9947 23.2766 10.5372 23.1363 10.0895 22.9681C10.026 22.9448 9.96643 22.9137 9.84769 22.9271ZM9.88177 22.9271C9.87784 22.9227 9.87428 22.915 9.87016 22.9148C9.86604 22.9146 9.86136 22.9212 9.85686 22.925L9.87447 22.9387L9.88177 22.9271Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.53598" stroke-miterlimit="10"/>
                <path d="M17.4691 5.14803C17.3233 4.89171 17.1829 4.63274 17.03 4.38018C16.9488 4.24618 16.9499 4.13517 17.0915 4.05601C17.2413 3.97157 17.3454 4.05959 17.4159 4.17531C17.6032 4.48196 17.78 4.79427 17.9613 5.10412C18.0549 5.2647 18.151 5.42453 18.2439 5.58511C18.3589 5.78433 18.3078 5.91117 18.077 5.96677C17.6148 6.07797 17.1507 6.18144 16.6867 6.28718C16.5661 6.31432 16.4446 6.3407 16.3219 6.35597C16.1897 6.37218 16.1087 6.30527 16.0904 6.17786C16.073 6.05535 16.1153 5.96903 16.253 5.93756C16.6189 5.85406 16.9834 5.76491 17.4095 5.6637C17.1117 5.55476 16.8712 5.45449 16.6212 5.3791C15.9347 5.16895 15.2365 5.02289 14.5158 4.96898C13.6839 4.9066 12.8551 4.91244 12.034 5.05285C9.10509 5.55608 6.94803 7.11308 5.52441 9.63977C4.59375 11.2912 4.30981 13.0751 4.51977 14.9307C4.75164 16.9788 5.64933 18.7286 7.12858 20.198C7.31906 20.3864 7.34865 20.4971 7.23927 20.5985C7.12689 20.7031 6.97294 20.6705 6.79988 20.4958C5.30528 18.988 4.34521 17.2178 4.08412 15.1242C3.74044 12.36 4.43998 9.87518 6.29419 7.73693C7.48781 6.36106 8.97979 5.40436 10.7544 4.87474C11.8733 4.54095 13.0206 4.43051 14.1819 4.48309C15.2917 4.53258 16.3853 4.77012 17.4166 5.18573C17.437 5.20269 17.4608 5.21362 17.4825 5.19402C17.488 5.18912 17.4741 5.16386 17.4691 5.14803Z" fill="#1A1A1A" stroke="#1A1A1A" stroke-width="0.53598" stroke-miterlimit="10"/>
                </g>
              </svg>
          {% endcase %}
        </div>

        <p class="always-with-you__text">{{ benefit }}</p>
        <span class="always-with-you__arrow"></span>
      </button>
    {% endfor %}
  </div>
</section>

{% comment %} <style>
    html.awy-open, html.awy-open body { overflow: hidden; touch-action: none; /* prevents mobile scroll */ }
        /* Lock background scroll when overlay is open */
    .design-font-div-wrapper{
    text-align: center;
    }
          .awy-drawer {
          position: fixed;
          top: 0;
          right: 0;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }
      /* Arrow */
      .awy-drawer summary::after {
        content: ''; position: absolute; right: 12px; width: 8px; height: 8px; border-right: 1.5px solid #585858; border-bottom: 1.5px solid #585858; transform: rotate(45deg); transition: transform 0.25s ease;
      }

      /* Rotate arrow when open */
      .awy-drawer details[open] > summary::after {
        transform: rotate(-135deg);
      }

        .awy-overlay {
          position: fixed;
          inset: 0;
        }

            /* ===== CARDS ===== */
            .always-with-you {
              text-align: center;
              padding: 10px 0;
            }

            .always-with-you__title {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                letter-spacing: 4%;
                text-transform: uppercase;
                text-align:left;
            }

            .always-with-you__grid {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap:20px;
            }
            span.design-font{
            font-family: Beau Rivage !important; font-weight: 400; font-size: 24px; line-height: 150%; letter-spacing: 1px; text-align: center; padding: 0 0px;
            }
            .always-with-you__item {
              background: none;
              border: none;
              cursor: pointer;
              display: flex;
              padding:0;
              flex-direction: column;
              align-items: center;
            }

            .always-with-you__icon {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background: #f6f6f6;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;
            }

            .always-with-you__text {
                font-weight: 400;
                font-size: 12px;
                line-height: 21px;
                letter-spacing: 0.2%;
                text-align: center;
                margin:0;
            }

            .always-with-you__arrow {
              margin-top: 8px;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 6px solid #000;
            }

            /* ===== OVERLAY ===== */
            .awy-overlay {
              position: fixed;
              top: 0;
              left: 0;
              width: 100vw;
              height: 100vh;
              background: rgba(0, 0, 0, 0.45);
              opacity: 0;
              pointer-events: none;
              transition: opacity .3s ease;
              z-index: 9999999;
            }

            /* ===== DRAWER ===== */
            .awy-drawer {
              position: fixed;
              top: 0;
              justify-content: flex-start;
              right: 0;
              width: 40%;
              max-width: 100%;
              height: 100%;
              background: #fff;
              transform: translateX(100%);
              transition: transform .35s ease;
              z-index: 99999999;
              display: flex;
              border-top-left-radius: 24px;
              flex-direction: column;
            }

            /* ACTIVE STATE */
            .awy-open .awy-overlay {
              opacity: 1;
              pointer-events: auto;
              display:block;
            }

            .awy-open .awy-drawer {
              transform: translateX(0);
            }


            .awy-drawer__header {
              padding: 10px 32px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .awy-drawer__header h3 {font-weight: 400; font-size: 16px; line-height: 150%; letter-spacing: 1px; text-transform: uppercase;}
            span.text-title { font-family: Futura Std; font-weight: 500; font-size: 14px; line-height: 21px; letter-spacing: 0.7px; text-align: center; vertical-align: middle; text-transform: uppercase; }
            .awy-drawer p { font-family: Futura Std; font-weight: 300 !important; font-size: 14px; line-height: 150%; letter-spacing: 0.7px !important; padding: 0 !important; text-align: justify !important; }

            .awy-close {
              background: none;
              border: 1px solid #C6C6C6;
              border-radius: 50%;
              font-size: 20px;
              cursor: pointer;
              color: #000;
            }

            .awy-drawer__content {
              padding: 10px 32px;
            }


            /* Accordion */
            .awy-drawer details {
              border-bottom: 1px solid #eee;
              padding: 15px 0;

            }

            .awy-drawer summary {
                cursor: pointer;
                font-weight: 500;
                list-style: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.2%;
                text-transform: uppercase;
                display:flex;
                gap:10px;
                align-items:center;
            }

            .awy-drawer summary::-webkit-details-marker {
              display: none;
            }

            .awy-drawer p {
            font-weight: 300;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 2%;
            padding: 0 20px;
            text-align: center;
            }


            img.image-drawer-awy{
              width: 100%;
              height: 200px;
            display: block;
              object-fit: cover;
              padding-top: 10px;
            }
            .svg-summary-wrapper{
              display:flex;
              gap:10px;
          }
            /* ===== MOBILE ===== */
            @media (max-width: 768px) {
              .always-with-you__grid {
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
              }

              span.text-title{
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                letter-spacing: 2%;
                text-align: center;
                text-transform: uppercase;
            }
  .awy-drawer__content{
  padding: 0 22px;
  }
              .always-with-you__text{
                font-size: 12px;
                line-height: 17.15px;
                letter-spacing: 0.2%;
                text-align: center;
                color: #000;
            }
              .awy-drawer {
                width: 100%;
                height: 85%;
                top: auto;
                bottom: 0;
                transform: translateY(100%);
              }

              .awy-drawer p{
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 2%;
        text-align: center;
        padding : 0;
            }

            span.design-font{
            font-family: Beau Rivage;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 2%;
        padding: 0px;
            }
              .awy-open .awy-drawer {
                transform: translateY(0);
              }

            }
</style> {% endcomment %}


<style> html.awy-open, html.awy-open body {overflow: hidden;touch-action: none;}.design-font-div-wrapper{text-align: center;}.awy-drawer {position: fixed;top: 0;right: 0;overflow-y: auto;-webkit-overflow-scrolling: touch;}.awy-drawer summary::after {content: '';position: absolute;right: 12px;width: 8px;height: 8px;border-right: 1.5px solid #585858;border-bottom: 1.5px solid #585858;transform: rotate(45deg);transition: transform 0.25s ease;}.awy-drawer details[open] > summary::after {transform: rotate(-135deg);}.awy-overlay {position: fixed;inset: 0;}.always-with-you {text-align: center;padding: 10px 0;}.always-with-you__title {font-weight: 400;font-size: 12px;line-height: 150%;letter-spacing: 4%;text-transform: uppercase;text-align:left;}.always-with-you__grid {display: grid;grid-template-columns: repeat(4, 1fr);gap:20px;}span.design-font{font-family: Beau Rivage !important;font-weight: 400;font-size: 24px;line-height: 150%;letter-spacing: 1px;text-align: center;padding: 0 0px;}.always-with-you__item {background: none;border: none;cursor: pointer;display: flex;padding:0;flex-direction: column;align-items: center;}.always-with-you__icon {width: 60px;height: 60px;border-radius: 50%;background: #f6f6f6;display: flex;align-items: center;justify-content: center;margin-bottom: 10px;}.always-with-you__text {font-weight: 400;font-size: 12px;line-height: 21px;letter-spacing: 0.2%;text-align: center;margin:0;}.always-with-you__arrow {margin-top: 8px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid #000;}.awy-overlay {position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.45);opacity: 0;pointer-events: none;transition: opacity .3s ease;z-index: 9999999;}.awy-drawer {position: fixed;top: 0;justify-content: flex-start;right: 0;width: 40%;max-width: 100%;height: 100%;background: #fff;transform: translateX(100%);transition: transform .35s ease;z-index: 99999999;display: flex;border-top-left-radius: 24px;border-top-right-radius: 24px;flex-direction: column;}.awy-open .awy-overlay {opacity: 1;pointer-events: auto;display:block;}.awy-open .awy-drawer {transform: translateX(0);}.awy-drawer__header {padding: 10px 32px 0;display: flex;justify-content: space-between;align-items: center;}.awy-drawer__header h3 {font-weight: 400;font-size: 16px;line-height: 150%;letter-spacing: 1px;text-transform: uppercase;}span.text-title {font-family: Futura Std;font-weight: 500;font-size: 14px;line-height: 21px;letter-spacing: 0.7px;text-align: center;vertical-align: middle;text-transform: uppercase;}.awy-drawer p {font-family: Futura Std;font-weight: 300 !important;font-size: 14px;line-height: 150%;letter-spacing: 0.7px !important;padding: 0 !important;text-align: justify !important;}.awy-close {background: none;border: 1px solid #C6C6C6;border-radius: 50%;font-size: 20px;cursor: pointer;color: #000;}.awy-drawer__content {padding: 10px 32px;}.awy-drawer details {border-bottom: 1px solid #eee;padding: 15px 0;}.awy-drawer summary {cursor: pointer;font-weight: 500;list-style: none;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.2%;text-transform: uppercase;display:flex;gap:10px;align-items:center;}.awy-drawer summary::-webkit-details-marker {display: none;}.awy-drawer p {font-weight: 300;font-size: 14px;line-height: 150%;letter-spacing: 2%;padding: 0 20px;text-align: center;}img.image-drawer-awy{width: 100%;height: 200px;display: block;object-fit: cover;padding-top: 10px;}.svg-summary-wrapper{display:flex;gap:10px;}@media (max-width: 768px) {.always-with-you__grid {grid-template-columns: repeat(4, 1fr);gap: 10px;}span.text-title{font-weight: 400;font-size: 12px;line-height: 150%;letter-spacing: 2%;text-align: center;text-transform: uppercase;}.awy-drawer__content{padding: 0 22px;}.always-with-you__text{font-size: 12px;line-height: 17.15px;letter-spacing: 0.2%;text-align: center;color: #000;}.awy-drawer {width: 100%;height: 85%;top: auto;bottom: 0;transform: translateY(100%);}.awy-drawer p{font-weight: 300;font-size: 12px;line-height: 150%;letter-spacing: 2%;text-align: center;padding : 0;} .awy-drawer__header{padding: 10px 22px 0; } span.design-font{font-family: Beau Rivage;font-weight: 400;font-size: 16px;line-height: 150%;letter-spacing: 2%;padding: 0px;}.awy-open .awy-drawer {transform: translateY(0); }}</style>
<script>
  let awyCurrentIndex = 1;
  const awyTotal = document.querySelectorAll('.awy-drawer details').length;

  function openAlwaysWithYou(index) {
    awyCurrentIndex = index;
    document.documentElement.classList.add('awy-open');

    document.querySelectorAll('.awy-drawer details').forEach((d) => {
      d.removeAttribute('open');
      if (Number(d.dataset.index) === index) {
        d.setAttribute('open', '');
        d.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    });
  }

  function closeAlwaysWithYou() {
    document.documentElement.classList.remove('awy-open');
  }

  document.addEventListener('keydown', function (e) {
    if (!document.documentElement.classList.contains('awy-open')) return;

    if (e.key === 'ArrowRight') {
      awyCurrentIndex = awyCurrentIndex === awyTotal ? 1 : awyCurrentIndex + 1;
      openAlwaysWithYou(awyCurrentIndex);
    }

    if (e.key === 'ArrowLeft') {
      awyCurrentIndex = awyCurrentIndex === 1 ? awyTotal : awyCurrentIndex - 1;
      openAlwaysWithYou(awyCurrentIndex);
    }

    if (e.key === 'Escape') {
      closeAlwaysWithYou();
    }
  });
</script>
