<section class="try-at-home-section">
    <div class="page-width">
        <div class="grid-row">
            <div class="grid-column">
                 <div class="try-at-home-content">
                    <h3 class="try-at-home-title">Product is available for</h3>
                    <button class="try-at-home-button">Try at Home</button>
                </div>
            </div>
            <div class="grid-column">
                <div class="visit-store-home-content">
                    <h3 class="visit-store-home-title">At your Nearest location</h3>
                    <button class="visit-store-home-button">Visit our Store</button>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .try-at-home-section .grid-row { display: grid ; grid-template-columns: repeat(2, 1fr); gap: 20px; }
</style>