{{ 'select-popup-custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'select-popup-custom.js' | asset_url }}" defer="defer"></script>

<div id="product-popup" class="popup-overlay">
  <div class="popup-content">
    <div class="popup-left">
      <img id="popup-product-img" src="" width="auto" height="auto" loading="lazy" alt="Product Image">
      <div class="product-content">
        <div class="popup-color-options"></div>
        <h3 id="popup-product-title"></h3>
        <p>
          <span id="popup-product-price" class="current-price"></span>
          <span id="popup-product-compare" class="compare-price"></span>
        </p>
      </div>
    </div>

    <div class="popup-right">
      <h4>Select Your Size</h4>
      <div class="popup-side">
        <div id="popup-sizes" class="popup-sizes"></div>
        <div class="size-imge-cstm size-imge-cstm_desk">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Bracelets-Size.jpg?v=1771051705"
            alt=""
            width="auto"
            height="auto"
            loading="lazy"
          >
        </div>
        <div
          class="Proceed_button"
          id="Proceed_click_btn"
          onclick="proceedBtnClicked()"
          data-role="proceed"
          style="display:none;"
        >
          Proceed
        </div>
      </div>
    </div>
    <div class="size-imge-cstm size-imge-cstm_mob cstm_mob_custom">
      <img
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Bracelets-Size_1.jpg?v=1771051705"
        alt=""
        width="auto"
        height="auto"
        loading="lazy"
      >
    </div>
  </div>
</div>
