<div id="store-side-sheet" class="store-sheet">
    <div class="store-sheet-overlay">

    <div class="store-sheet-content">
      <div class="store-sheet-header">
        <h3>Store Availability</h3>
        <button id="close-store-sheet">&times;</button>
      </div>

      <div id="store-sheet-body"></div>
    </div>
    </div>
  </div>