{% if template.name != 'product' %}
<div class="fixed-cta-whatsapp">
  {% assign wa_text = 'Hi, I want to get more information about Lucira' %}

  {% if template.name == 'index' %}
    {% assign wa_text = ' Hi! Can you tell me more about Lucira Jewelry’s collection and designs?' %}

  {% elsif template.name == 'collection' %}
    {% assign wa_text = 'Hi, I want to get more information about this collection: ' | append: collection.title %}

  {% elsif template.name == 'product' %}
    {% assign wa_text = 'Hi, I want to get more information about this product: ' | append: product.title %}

  {% elsif template.name == 'blog' %}
    {% assign wa_text = 'Hi, Can you Tell me more about Lucira Blogs' %}

  {% elsif template.name == 'article' %}
    {% assign wa_text = 'Hi, can you tell me more about this blog: ' | append: article.title %}

  {% elsif template.name == 'page' %}
    {% if page.handle contains 'gold-rate' %}
      {% assign city = page.handle | remove: 'gold-rate-' | replace: '-', ' ' %}
      {% assign wa_text = 'Tell me more about ' | append: city | append: ' gold rate' %}

    {% elsif page.handle contains 'platinum-rate' %}
      {% assign city = page.handle | remove: 'platinum-rate-' | replace: '-', ' ' %}
      {% assign wa_text = 'Tell me more about ' | append: city | append: ' platinum rate' %}
    {% endif %}
  {% endif %}

  <a
    href="https://wa.me/+919004435760?text={{ wa_text | url_encode }}"
    style="padding: 0 !important; border: 0 !important;"
    target="_blank"

  >
    <img
      class="chat-with-experts"
      src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/whatsapp_1.png?v=1759555502"
      alt="Chat With Experts"
      title="chat with us"
      height="46"
      width="46"
      loading="lazy"
      decoding="async"
    >
  </a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const chatLink = document.querySelector('.fixed-cta-whatsapp');

    if (!chatLink) return;

    chatLink.addEventListener('click', function () {
      const chatData = {
        promo_id: '{{ product.selected_or_first_available_variant.sku }}', // Shopify Liquid
        promo_name: '{{ product.title }}',
        creative_name: 'chatWithExperts',
        location_id: '{{ request.path }}'
      };

      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'promoClick',
        promoClick: chatData,
      });

      console.log('✅ Chat with Experts dataLayer pushed:', chatData);
    });
  });
</script>
{% endif %}