<section class="lucira-section nector-reward-ways-to-earn-section">
  <div class="page-width">
    <div class="nector-reward-ways-to-earn-wrapper">
      <div class="heading-wrapper">
        <h2>HOW IT WORKS</h2>
        <p>Shopping made personal - get real-time guidance from Lucira experts.</p>
      </div>
      <div class="grid-row">
        <div class="grid-column">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Rectangle_22226_4.jpg?v=1751367485"
            title="how it works video call"
            width="415"
            height="415"
            alt="Step 1 : Schedule video call"
            loading="lazy"
          >
          <h3>Step 1 : Schedule a call</h3>
          <p>Fill out a quick form and one of our experts will get in touch to guide you every step of the way.</p>
        </div>
        <div class="grid-column">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Rectangle_22227.jpg?v=1751367485"
            title="step 1 video call"
            width="415"
            height="415"
            alt="Step 2 : select jewelry"
            loading="lazy"
          >
          <h3>Step 2 : select jewelry</h3>
          <p>
            Tell us the occasion, design inspiration, or any specific style you love and we’ll curate a selection just
            for you.
          </p>
        </div>
        <div class="grid-column">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Rectangle_22228.jpg?v=1751367486"
            title="step 2 select jewelry video call"
            width="415"
            height="415"
            alt="Step 3 : live video call"
            loading="lazy"
          >
          <h3>Step 3 : live video call</h3>
          <p>
            Join at your scheduled time to explore each piece up close with real-time photos and videos you can easily
            share with loved ones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
