{% comment %}
  Renders a "View Similar Items" button on product cards
  Only shows if the product has matching products in custom.matching_product metafield
  
  Usage:
  {% render 'view-similar-button', product: card_product %}
{% endcomment %}

{% if product.metafields.custom.matching_product != blank %}
  {% assign has_matching_products = false %}
  {% for matching_product in product.metafields.custom.matching_product.value limit: 1 %}
    {% assign has_matching_products = true %}
  {% endfor %}
  
  {% if has_matching_products %}
    <button 
      type="button"
      class="view-similar-btn"
      data-product-id="{{ product.id }}"
      data-product-handle="{{ product.handle }}"
      aria-label="View similar items for {{ product.title }}"
    >

      <span class="view-similar-btn__text">View Similar Items</span>
      <span class="view-similar-btn__icon">
        
        <!-- Use your existing SVG icon here -->
        <svg width="32" height="32" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.4"/>
        <mask id="mask0_13522_4537" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="4" width="24" height="24">
        <rect x="4" y="4" width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13522_4537)">
        <path d="M11.5008 23.5V8.5H20.5008V23.5H11.5008ZM7.80859 21.5V10.5H9.30859V21.5H7.80859ZM22.6931 21.5V10.5H24.1931V21.5H22.6931ZM13.0008 22H19.0008V10H13.0008V22Z" fill="#333333"/>
        </g>
        </svg>

      </span>

    </button>
  {% endif %}
{% endif %}
