{% comment %}
  Renders a "View Similar Items" button on product cards
  Only shows if the product has matching products in custom.matching_product metafield
  
  Usage:
  {% render 'view-similar-button', product: card_product %}
{% endcomment %}

{% if product.metafields.custom.matching_product != blank %}
  {% assign has_matching_products = false %}
  {% for matching_product in product.metafields.custom.matching_product.value limit: 1 %}
    {% assign has_matching_products = true %}
  {% endfor %}
  
  {% if has_matching_products %}
    <button 
      type="button"
      class="view-similar-btn"
      data-product-id="{{ product.id }}"
      data-product-handle="{{ product.handle }}"
      aria-label="View similar items for {{ product.title }}"
    >

      <span class="view-similar-btn__text">View Similar</span>
      <span class="view-similar-btn__icon">
        
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_13509_13149" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
        <rect width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_13509_13149)">
        <path d="M7.50084 19.5V4.5H16.5008V19.5H7.50084ZM3.80859 17.5V6.5H5.30859V17.5H3.80859ZM18.6931 17.5V6.5H20.1931V17.5H18.6931ZM9.00084 18H15.0008V6H9.00084V18Z" fill="#333333"/>
        </g>
        </svg>


      </span>

    </button>
  {% endif %}
{% endif %}
