<div class="full-page">
  <div class="page-title">
    <h1>Join The Lucira Team!</h1>
  </div>

    <div class="card">
      <div class="card-text">
        Are you all about fashion, e-commerce, and marketing? Do diamonds and exquisite gemstones steal your heart? If the answer’s a ‘Yes!’ then Lucira's just the place for you!
      </div>
      <div class="card-text">
        At <a href = https://www.lucirajewelry.com/ target="_blank"> Lucira Jewelry </a>, we’re dedicated to making our customers look stunning (it’s our name after all!) while redefining the jewelry game! If you think you've got what it takes to consistently outperform yourself and set new standards, then we’d love to hear from you!
      </div>
            
    </div>


      <div class="card">
        <div class="card-title">How to apply?</div>
          <div class="card-text">
              <ul>
                <li>
                  You can browse our job openings, find the ones that fit your expertise, and fill in the registration forms.
                </li>
                <li>
                    No job openings? No worries! Drop an email at hr@lucirajewelry.com and we’ll get back to you!                </li>
              </ul>

          </div>
      </div>


        <div class="card">
        <div class="card-title">But why us?</div>
          <div class="card-text">
              <ul>
                <li>
                  The Golden Standard: At Lucira Jewelry, we take excellence very seriously. We continuously raise the bar and redefine benchmarks - here, excellence is non-negotiable.
                </li>
                <li>
                    Learning and Experimentation: We combine lifelong learning with continuous experimentation to validate our insights and consistently enhance ourselves.
                </li>
                <li>
                  Perks and Benefits: Enjoy amazing employee discounts, competitive salaries and many more perks when you work with us!
                </li>
              </ul>

          </div>
      </div>

</div>

{{ 'careers-page-section.css' | asset_url | stylesheet_tag: preload: true }}
{% schema %}
{
  "name": "Section name",
  "settings": [
  ],
  "presets": [
    {
      "name": "Careers Section"
    }
  ]
}
{% endschema %}
