<section class="page-width custom-engagement-form">
  <div class="cer-header">
    <h2>Build your jewelry</h2>
    <p>Where Your Imagination Meets Masterful Craftsmanship</p>
  </div>
  <div style="postion: relative;">
    {% form 'contact', class: 'cer-form' %}
      {%- if form.posted_successfully? -%}
        <div class="cer-successful-message">We have received your message. Thanks for submitting</div>  
      {% endif %}
      {{ form.errors | default_errors }}
      <div class="cer-form-row">
        <div class="cer-form-col">
           <div class="cer-form-group" id="cer-image-upload">
            <label>Upload your design</label>
            <input type="hidden" id="cer-reference_image-data" name="contact[reference_image]" value="">

            <input id="cer-reference_image" type="file" hidden onchange="handleFormUpload(event)">
            <div id="cer-reference_image-status" style="display: none">Processing...</div>
            <label for="cer-reference_image" class="cer-drag-drop-label">
              <div class="cer-label-div"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<mask id="mask0_2443_58302" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
<rect width="24" height="24" fill="#D9D9D9"/>
</mask>
<g mask="url(#mask0_2443_58302)">
<path d="M5 21C4.45 21 3.97917 20.8042 3.5875 20.4125C3.19583 20.0208 3 19.55 3 19V5C3 4.45 3.19583 3.97917 3.5875 3.5875C3.97917 3.19583 4.45 3 5 3H13V5H5V19H19V11H21V19C21 19.55 20.8042 20.0208 20.4125 20.4125C20.0208 20.8042 19.55 21 19 21H5ZM6 17H18L14.25 12L11.25 16L9 13L6 17ZM17 9V7H15V5H17V3H19V5H21V7H19V9H17Z" fill="#666666"/>
</g>
</svg>
      </div>
             <div class="cer-label-div"> Drag and drop your design here, or click to browse</div>
      <div class="cer-label-div">Maximum size: 5mb</div>
            </label>
            <!-- <div class="cer-image-preview"></div> -->
          </div>
         
            <!-- <div class="cer-form-group">
              <label for="cer-type_of_diamond">Type Of Diamond</label>
              <select id="cer-type_of_diamond" name="contact[type_of_diamond]" >
                <option value="" disabled selected>Please Select</option>
                <option value="Natural Diamond">Natural Diamond</option>
                <option value="Lab Diamond">Lab Diamond</option>
              </select>
            </div> -->
      <div class="cer-form-group">
              <label for="cer-additional_comments">Description</label>
              <input style="height:10rem" id="cer-additional_comments" type="text" name="contact[additional_comments]" />
            </div>
    <div class="cer-form-cont"> 
            <div class="cer-form-group-1">
              <label for="cer-diamond_shape">Type Of Diamond</label>
              <select id="cer-diamond_shape" name="contact[diamond_shape]">
                <option value="" disabled selected>Please Select</option>
                <option value="Round">Round</option>
                <option value="Marquise">Marquise</option>
                <option value="Oval">Oval</option>
                <option value="Emerald">Emerald</option>
                <option value="Cushion">Cushion</option>
                <option value="Princess">Princess</option>
                <option value="Heart">Heart</option>
                <option value="Pear">Pear</option>
              </select>
            </div>

        
            <div class="cer-form-group-1">
              <label for="cer-metal_type">Metal Type</label>
              <select id="cer-metal_type" name="contact[metal_type]" >
                <option value="" disabled selected>Please Select</option>
                <option value="14 KT White Gold">14 KT White Gold</option>
                <option value="18 KT White Gold">18 KT White Gold</option>
                <option value="14 KT Yellow Gold">14 KT Yellow Gold</option>
                <option value="18 KT Yellow Gold">18 KT Yellow Gold</option>
                <option value="14 KT Rose Gold">14 KT Rose Gold</option>
                <option value="18 KT Rose Gold">18 KT Rose Gold</option>
                <option value="Platinum">Platinum</option>
              </select>
            </div>
            <div class="cer-form-group-1">
              <label for="cer-ring_size">Ring Size</label>
              <select id="cer-ring_size" name="contact[ring_size]" >
                <option value="" disabled selected>Please Select</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>

              </select>
            </div>
            <div class="cer-form-group-1">
              <label for="cer-budget_range">Budget Range</label>
              <select id="cer-budget_range" name="contact[budget_range]" >
                <option value="" disabled selected>Please Select</option>
                <option value="Below 50,000">Below 50,000</option>
                <option value="50,000 to 1,00,000">50,000 to 1,00,000</option>
                <option value="1,00,000 to 5,00,000">1,00,000 to 5,00,000</option>
                <option value="5,00,000 and above">5,00,000 and above</option>
              </select>
            </div>
          </div>
            
         
        </div>
        <div>
          <div class="cer-form-col">
             <!-- <h3>Contact Details</h3> -->
          <div class="cer-form-group">
            <label for="cer-full_name">Full Name *</label>
            <input id="cer-full_name" type="text" name="contact[full_name]" >
          </div>
          <div class="cer-form-group">
            <label for="cer-phone_number">Phone Number *</label>
            <input 
                  id="cer-phone_number" 
                  type="tel" 
                  name="contact[phone_number]" 
                  maxlength="13"
                  inputmode="numeric"
                  pattern="[0-9]{0,13}"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                >

          </div>
          <div class="cer-form-group">
            <label for="cer-email">Email Id </label>
            <input id="cer-email" type="email" name="contact[email]" >
          </div>
          </div>
          
        </div>
      </div>
      <div class="cer-submit-button">
        <button type="submit" >Submit</button>
      </div>
    {% endform %}
  </div>
</section>
<script src="{{ 'custom-engagement-form.js' | asset_url }}" async></script>
{{ 'custom-engagement-form.css' | asset_url | stylesheet_tag: preload: true }}
{% schema %}
{
  "name": "Custom Engagement Form",
  "settings": [],
  "presets": [
    {
      "name": "Custom Engagement Form"
    }
  ]
}
{% endschema %}
