<section class="dg-calc-container">
  <div class="dg-how-it-works-buy">
    <div><h3>Step 1</h3><p>Start Small or Go Big, Choose the Investment Amount/Gold Weight of your choice.</p></div>
    <div><h3>Step 2</h3><p>Once reviewed your feed, you can click on 'Buy Gold' to purchase.</p></div>
    <div><h3>Step 3</h3><p>Check your scheme status and cummulative amount in your Passbook.</p></div>
  </div>
  <div class="dg-how-it-works-sell" style="display: none;">
    <div><h3>Step 1</h3><p>Enter the amount/weight of gold you want to sell.</p></div>
    <div><h3>Step 2</h3><p>Click on 'Sell Gold'.</p></div>
    <div><h3>Step 3</h3><p>Choose method to receive money.</p></div>
  </div>
  <div class="dg-calc">
    <div class="dg-calc-tab">
      <span onclick="handleTabChange('buy')" id="dg-calc-buy-tab" class="active-tab">BUY</span>
      <span onclick="handleTabChange('sell')" id="dg-calc-sell-tab">SELL</span>
    </div>

    <form class="dg-calc-form" onsubmit="handleFormSubmit(event)">
      <div class="dg-calc-form-group">
        <label data-unit="₹">
        <input
          id="dg-calc-form-price"
          type="number"
          name="price"
          oninput="handlePriceChange(event)"
          placeholder="Enter Amount"
          min="0"
        >
      </label>
        <label data-unit="gram">
        <input
          id="dg-calc-form-weight"
          type="number"
          name="weight"
          oninput="handleWeightChange(event)"
          placeholder="Enter Weight"
          min="0"
          step="0.0001"
        >
      </label>
      </div>
        
      <button class="dg-calc-form-button" id="dg-calc-form-buy" type="submit">BUY GOLD</button>
      <button class="dg-calc-form-button" id="dg-calc-form-sell" type="submit" style="display: none;">SELL GOLD</button>
    </form>
  </div>
</section>

<style>
  .dg-calc-container {
    background-color: #F2DFCE;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dg-how-it-works-buy,
  .dg-how-it-works-sell {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: stretch;
  }
  .dg-how-it-works-buy > div,
  .dg-how-it-works-sell > div {
    flex: 1;
  }
  .dg-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 2rem;
    gap: 1rem;
    width: 60%;
  }
  .dg-calc-tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .dg-calc-tab > span {
    padding: 1rem;
    cursor: pointer;
    color: #B76E79;
    font-weight: bold;
    text-underline-offset: 0.3rem;
  }
  .dg-calc-tab > span.active-tab {
    text-decoration: underline;
  }
  .dg-calc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
  }
  .dg-calc-form-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .dg-calc-form label {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dg-calc-form label::after {
    content: attr(data-unit);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    font-weight: bold;
  }
  .dg-calc-form label input[type="number"] {
    width: 100%;
    font-weight: bold;
    padding: 2rem 4rem;
    background-color: white;
    border: 2px solid #B76E79;
    text-align: center;
    outline: none;
    box-shadow: none;
    font-size: large;
  }
  .dg-calc-form-button {
    width: 100%;
    border: 2px solid #B76E79;
    background-color: transparent;
    color: #B76E79;
    padding: 2rem 4rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s color ease, 0.3s background-color ease;
  }
  .dg-calc-form-button:hover {
    background-color: #B76E79;
    color: #F2DFCE;
  }
</style>
<script src="{{ 'digital-gold-calculator.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "Digital Gold Calculator",
  "settings": [],
  "presets": [
    {
      "name": "Digital Gold Calculator"
    }
  ]
}
{% endschema %}
