{% assign engraving_tags = product.tags | join: ',' | downcase %}
{% if engraving_tags contains 'engraving available' %}

<section
  id="lucira-engraving-section"
  class="lucira-engraving-section"
  style="background-color: {{ section.settings.background }}"
>
  <div class="engraving-drawer-overlay" id="engraving-drawer-overlay"></div>
  <div class="engraving-drawer" id="engraving-drawer">
    <div class="engraving-drawer-wrapper">
      <div class="engraving-drawer-title-wrap">
        {% if section.settings.lucira_engraving_title != blank %}
          <div class="title-wrapper">{{ section.settings.lucira_engraving_title }}</div>
        {% endif %}
        <div class="close-button" id="close-engraving-button">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
    </div>

    <div class="lucira-engraving-details-wrapper">
      <div class="grid-row">
        <div class="product_engraving_container">
          <div class="image-and-text-div">
            <img
              class="image_on_text"
              src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/upscalemedia-transformed.png?v=1745999646" width="450" height="112"
              alt="Engraving Preview"
              title="Engraving"
            >
            <div id="engraving-preview-text" class="overlay-text"></div>
          </div>
          <p class="product_engraving_note">
            <strong>Note:</strong> Text can only contain up to 8 English/alphanumeric characters (A-Z, a-z, 0-9) and special characters (heart and infinity).
          </p>

          <div class="engraving-font-selection-wrapper">
            <h3>Choose a Font <span style="color: #d32f2f;">*</span></h3>
            <div class="lucira_engraving_font_options">
              <div class="lucira_engraving_font_option" data-font="Lobster">Aa - Lobster</div>
              <div class="lucira_engraving_font_option" data-font="Yellowtail">Aa - Yellowtail</div>
              <div class="lucira_engraving_font_option" data-font="Satisfy">Aa - Satisfy</div>
              <div class="lucira_engraving_font_option" data-font="ABeeZee">Aa - ABeeZee</div>
            </div>
          </div>

          <div class="engraving-font-selection-wrapper">
            <h3>Inner Engraving <span style="color: #d32f2f;">*</span></h3>
            <div class="lucira-engraving-input">
              <input
                type="text"
                id="lucira_engraving_text"
                maxlength="8"
                placeholder="Type your text here"
              >
              <div class="lucira-engraving-icons">
                <span class="lucira-engraving-icon" onclick="EngravingAddSymbol('❤')">❤️</span>
                <span class="lucira-engraving-icon" onclick="ProductEngravAddSymbol('∞')">♾</span>
              </div>
            </div>
          </div>

          <div class="engraving-font-selection-wrapper">
            <button 
              id="product_engraving_confirm_submit" 
              class="engraving-save-btn lucira-engraving-save-btn" 
              type="button" 
              disabled>
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}

{% schema %}
{
  "name": "Engraving Drawer",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "lucira_engraving_title",
      "label": "Title",
      "default": "Engraving"
    }
  ],
  "blocks": [
    {
      "type": "engraving_item",
      "name": "Engraving Item",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Engraving Drawer",
      "blocks": [
        {
          "type": "engraving_item"
        }
      ]
    }
  ]
}
{% endschema %}