{{ 'marque-style.css' | asset_url | stylesheet_tag: preload: true }}

<section class="featured-in-section">
  <div class="page-width">
    <div class="featured-in-wrapper">
      <div class="marquee marquee--horizontal">
        <div class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/bw-disrupt.png?v=1763032304"
            alt="BW Disrupt Logo"
            title="BW Disrupt"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Media_Brief_logo.png?v=1763032386"
            alt="MediaBrief Logo"
            title="MediaBrief"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/jewelbuzz_logo.png?v=1763032468"
            alt="Jewelbuzz Logo"
            title="Jewelbuzz"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/bof_logo.png?v=1763032485"
            alt="BOF Logo"
            title="BOF"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/enterpreneur.png?v=1763032353"
            alt="Enterpreneur Logo"
            title="Enterpreneur"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Retail.com.png?v=1763032425"
            alt="Retail Logo"
            title="Retail"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Inc_42.png?v=1763032499"
            alt="Inc42 Logo"
            title="Inc42"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/india_retailing_logo.png?v=1763032448"
            alt="india_retailing Logo"
            title="Health"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/logo_smbstory_3.png?v=1763032023"
            alt="smbstory"
            title="Dentaly"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/zeebizhindi_logo_3.png?v=1763032023"
            alt="zee biz hindi Logo"
            title="zee biz hindi"
            width="auto"
            height="auto"
          >
        </div>
        <div aria-hidden="true" class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/bw-disrupt.png?v=1763032304"
            alt="BW Disrupt Logo"
            title="BW Disrupt"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Media_Brief_logo.png?v=1763032386"
            alt="MediaBrief Logo"
            title="MediaBrief"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/jewelbuzz_logo.png?v=1763032468"
            alt="Jewelbuzz Logo"
            title="Jewelbuzz"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/bof_logo.png?v=1763032485"
            alt="BOF Logo"
            title="BOF"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/enterpreneur.png?v=1763032353"
            alt="Enterpreneur Logo"
            title="Enterpreneur"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Retail.com.png?v=1763032425"
            alt="Retail Logo"
            title="Retail"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Inc_42.png?v=1763032499"
            alt="Inc42 Logo"
            title="Inc42"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/india_retailing_logo.png?v=1763032448"
            alt="india_retailing Logo"
            title="Health"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/logo_smbstory_3.png?v=1763032023"
            alt="smbstory"
            title="Dentaly"
            width="auto"
            height="auto"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/zeebizhindi_logo_3.png?v=1763032023"
            alt="zee biz hindi Logo"
            title="zee biz hindi"
            width="auto"
            height="auto"
          >
        </div>
      </div>
    </div>
  </div>
</section>
