<style>
.image-text-split-section{width:100%}
.image-text-split-section .inner-wrapper{display:flex;align-items:center;max-width:80%!important;gap:20px}
.image-text-split-section .inner-wrapper.reverse{flex-direction:row-reverse}
.image-text-split-section .image-side img{width:100%;height:auto;object-fit:cover;display:flex}
.image-side{width:50%}
.image-text-split-section .content-side{flex:1;text-align:center}
.image-text-split-section h2{margin:0;margin-bottom:12px;font-weight:500;font-size:28px;line-height:150%;text-align:center;vertical-align:middle;text-transform:uppercase}
.image-text-split-section .desc{margin:0;margin-bottom:40px;font-weight:300;font-size:18px;line-height:24px;text-align:center;vertical-align:middle}
.image-text-split-section .location{margin:0;font-weight:400;font-size:21px;line-height:24px;text-align:center;vertical-align:middle}
@media (max-width:768px){
.image-text-split-section .inner-wrapper.reverse{flex-direction:column;max-width:70%!important;margin-left:25%!important}
.image-text-split-section .inner-wrapper{flex-direction:column;max-width:70%!important;margin-left:5%!important}
.image-text-split-section .inner-wrapper.reverse{margin-right:5%!important}
.image-text-split-section .content-side{text-align:center}
.image-side{width:unset}
.image-text-split-section .inner-wrapper{gap:16px}
.image-text-split-section h2{margin-bottom:4px;font-size:18px;text-align:left}
.image-text-split-section .desc{margin-bottom:10px;font-size:12px;text-align:left}
.image-text-split-section .location{font-size:15px;text-align:left}
}
</style>

<section class="image-text-split-section">
  <div class="inner-wrapper {% if section.settings.reverse_layout %}reverse{% endif %} page-width">
    <div class="image-side">
      {% if section.settings.left_image != blank %}
        <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="">
      {% endif %}
    </div>

    <div class="content-side">
      {% if section.settings.heading %}
        <h2>{{ section.settings.heading }}</h2>
      {% endif %}

      {% if section.settings.subheading %}
        <p class="desc">{{ section.settings.subheading }}</p>
      {% endif %}

      {% if section.settings.location %}
        <p class="location">{{ section.settings.location }}</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image + Text Split",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "IT BEGINS WITH SKETCHING"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "text",
      "id": "location",
      "label": "Bottom Text",
      "default": "MUMBAI"
    },
    {
      "type": "checkbox",
      "id": "reverse_layout",
      "label": "Image on Right, Content on Left",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Image + Text Split"
    }
  ]
}
{% endschema %}
