<div class="account-page-login">

<div class="otp-login-form-wrapper">
  <form id="otp-login-form-page" class="otp-form-wrapper">

    <h2>welcome to lucira</h2>
    <p>Welcome To The Jewelry World Of Lucira! Find Exclusive Designs At Unbelievable Prices.</p>

    <div class="otp-number-wrapper">
      <label>phone number</label>
      <div class="mobile-wrap">
        <span class="country-code">+91</span>
        <input type="tel" id="loginMobilePage" maxlength="10">
      </div>
      <span class="error-message" id="mobileErrorPage"></span>
    </div>

    <button type="button" id="sendOtpPage" class="btn-primary">
      request otp
    </button>

    <!-- OTP -->
    <div id="otpSectionPage" style="display:none">
      <label>enter otp</label>

      <div class="mobile-wrap">
        <span class="country-code">+91</span>
        <input type="tel" id="otpMobilePage" readonly>
        <button type="button" id="editMobilePage">✏️</button>
      </div>

      <div class="otp-inputs">
        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">
      </div>

      <span class="error-message" id="otpErrorPage"></span>

      <button type="button" id="verifyOtpPage" class="btn-primary">
        verify otp
      </button>

      <p id="otp-timer-page">Resend OTP in 00:30</p>
    </div>

  </form>
</div>

</div>

<style>
  .account-page-login .otp-login-form-wrapper::before {content: none !important;}
  .account-page-login .otp-login-form-wrapper { height: auto; margin: 0 auto; }
  .account-page-login { max-width: 400px; margin: 20px auto; }
  .account-page-login .otp-login-form-wrapper {box-shadow: none !important;}
  .account-page-login .otp-form-wrapper { width: 100%; padding: 0; margin-left: 0px; }
  .account-page-login .otp-login-form-wrapper { max-width: 400px; margin: 20px auto; }
</style>


{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
