<div id="login-popup">
  <div class="otp-login-form-wrapper">
    <button class="close-button" onclick="closeloginPopup('login-popup')">
      {{ 'icon-login-close.svg' | inline_asset_content }}
    </button>

    <!-- 🔁 SPIN WHEEL -->
    <div class="spin-wheel-wrapper">
      <div class="wheel-container">
        <img
          src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Spin_The_Wheel_Wheel_1.png"
          class="spin-wheel-image"
          id="spin-wheel-image"
          width="800"
          height="800"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Spin_The_Wheel_Spinner_1.png"
          class="spin-wheel-cta"
          width="200"
          height="200"
        >
      </div>
    </div>

    <!-- 🔐 OTP FORM -->
    <form id="otp-login-form" class="otp-form-wrapper">
      <input type="hidden" id="spinResult" name="won_prize">

      <!-- MOBILE -->
      <div class="otp-number-wrapper">
        <p class="heading">WELCOME TO LUCIRA</p>
        <p>Welcome To The Jewelry World Of Lucira!</p>

        <label>Phone Number</label>
        <div class="mobile-wrap">
          <span class="country-code">+91</span>
          <input type="tel" id="loginMobile" maxlength="10">
        </div>
        <span id="mobileError" class="error-message"></span>
      </div>

      <button type="button" id="sendOtp" class="btn-primary">
        REQUEST OTP
      </button>

      <!-- OTP -->
      <div id="otpSection" style="display:none">
        <label>Enter OTP</label>

        <div class="otp-inputs">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
          <input maxlength="1">
        </div>

        <span id="otpError" class="error-message"></span>

        <button type="button" id="verifyOtp" class="btn-primary">
          VERIFY OTP
        </button>

        <p id="otp-timer">Resend OTP in 00:30</p>
      </div>

      <!-- SIGNUP -->
      <div class="signupSection" style="display:none">
        <input id="regFirstName" placeholder="First Name">
        <input id="regLastName" placeholder="Last Name">
        <input id="regEmail" placeholder="Email">
        <input id="signupMobile" readonly>

        <label>
          <input type="checkbox" id="privacyConsent" checked>
          I agree to Privacy Policy & T&Cs
        </label>

        <button type="button" id="completeRegistration" class="btn-primary">
          SPIN & CREATE ACCOUNT
        </button>
      </div>
    </form>
  </div>
</div>

<!-- 🔑 SHOPIFY AUTO LOGIN -->
<form id="shopify-auto-login-form" action="/account/login" method="post" style="display:none">
  <input type="hidden" name="form_type" value="customer_login">
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="return_to" id="loginReturnTo">
  <input type="email" name="customer[email]" id="ShopifyEmail">
  <input type="password" name="customer[password]" id="ShopifyPassword">
</form>


<style>
   .otp-login-form-wrapper {background-color: #FFFEFC; padding: 0 12px 0 0; border-radius: 12px; box-shadow: 0 0 10px #0000004d; max-width: 800px; height: 500px; width: 90%; text-align: left; position: relative;}
   .login-pop-overlay{position:fixed;inset:0;background:rgba(0,0,0,.5);display:none;justify-content:center;align-items:center;z-index:9999999;  background-color: #00000080; transition: display .3s; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);}
  .otp-login-form-wrapper { width: 800px; display: flex; border-radius: 12px; overflow: hidden; align-items: center;}
  .otp-login-form-wrapper::before { content: ""; width: 60%; background: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Jan-Popup-Desktop-New_2.jpg?v=1769844544) center / cover no-repeat; height: 100%; }
  .otp-form-wrapper{width: 40%; padding: 0; margin-left: 20px;}
  .mobile-wrap { display: flex; align-items: center; border: 1px solid #e2e2e2; border-radius: 8px; padding: 10px 16px; background: #ffffff; }
  .country-code { font-weight: 400; font-size: 14px; line-height: 1.6; text-transform: capitalize; margin-right: 10px; padding-right: 12px; border-right: 1px solid #d0d0d0; }
  .mobile-wrap input{border:0;outline:0;width:100%}
  .otp-inputs{display:flex;gap:8px;margin:15px 0}
  .otp-inputs input{width:40px;height:40px;border:1px solid #ddd;border-radius:6px;text-align:center;font-size:16px}
  .otp-login-form-wrapper .btn-primary {width: 100%; background: rgb(183, 119, 102); color: #fff; padding: 16px; border: 0; margin-top: 14px; font-family: Futura Std; font-weight: 400; line-height: 100%; letter-spacing: inherit; text-align: center; text-transform: uppercase; font-size: 13px; border-radius: 8px; cursor: pointer;}
  #otp-timer{text-align:center;margin-top:10px;font-size:13px}
  .login-image-wrapper img {width: 100%; height: auto;}
  .otp-login-form-wrapper h2 { font-weight: 500; font-size: 18px; line-height: 1.2; text-transform: uppercase; text-align: center; margin: 0; margin-bottom: 8px; }
  .otp-login-form-wrapper p {font-weight: 500; font-size: 12px; line-height: 1.5; letter-spacing: 1px; text-align: center; text-transform: capitalize; color: #5B5B5B; margin: 0 0 0px; max-width: 280px; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 20px;}
  .otp-form-wrapper label {font-family: Futura Std; font-weight: 400; font-size: 12px; letter-spacing: normal; color: #666; display: flex; line-height: 1.5; gap: 4px; align-items: center; margin-top: 0; margin-bottom: 8px;}
  .mobile-wrap input { border: 0; outline: 0; width: 100%; font-family: Futura Std; font-weight: 400; font-size: 14px; line-height: 150%; letter-spacing: normal; text-transform: capitalize; }
  .otp-login-form-wrapper button svg {display: block;}
  .otp-login-form-wrapper button.close-button { background: #fff; border-radius: 50%; padding: 4px; position: absolute; right: 20px; top: 20px; border: 0; z-index: 1;}
  .otp-login-form-wrapper input.field-input {outline: 0; width: 100%; font-family: Futura Std; font-weight: 400; font-size: 14px; line-height: 150%; letter-spacing: normal; text-transform: capitalize; border: 1px solid #e2e2e2; border-radius: 8px; padding: 10px 16px; background: #ffffff; margin-bottom: 14px;}
  .switch-link a {color: #b77766; font-weight: 500; margin-bottom: 8px;}
  p.switch-link { margin-bottom: 0; }
  .otp-inputs input { width: calc(25% - 0px); height: 50px; border: 1px solid #ddd; border-radius: 6px; text-align: center; font-size: 16px; }
  .otp-inputs { display: flex; gap: 8px; margin: 15px 0 0; }
  #editMobile {background: transparent; border: 0; padding: 0;}
  .otp-login-form-wrapper button svg { display: block; width: 16px; height: 16px; }
  .otp-login-form-wrapper input[type="email"].field-input {text-transform: lowercase;}
  .otp-login-form-wrapper input[type="email"].field-input::placeholder {text-transform: capitalize;}
  #otpSection .mobile-wrap {background: #eaeaea;}
  #otpSection .mobile-wrap input {background: #eaeaea;}
  .signupSection .mobile-wrap {background: #eaeaea;}
  .signupSection .mobile-wrap input {background: #eaeaea;}
  #otp-timer a {color: #b77766;}
  .otp-login-form-wrapper .close-button svg path {fill: #fff;}
  .otp-login-form-wrapper button.close-button {background: #b77766;}
  .lucira-logo-popup {text-align: center; margin-bottom: 12px;}
  .signupSection {overflow: hidden;}
  .spin-wheel-wrapper { width: 60%; height: 100%; display: none; align-items: center; justify-content: center; background: #f7efe6; flex-direction: column; position: relative; }
  .wheel-container { position: relative; width: 420px; height: 420px; }
  .spin-wheel-image { max-width: 100%; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
  .spin-wheel-cta {margin-top: 0; cursor: default; display: block; max-width: 440px; width: 100%; height: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 10; pointer-events: none;}
  .otp-login-form-wrapper.signup-active::before { display: none; }
  .otp-login-form-wrapper.signup-active .spin-wheel-wrapper { display: flex; }
  p.register-link {margin-top: 12px;}
  .register-link {text-align: center; font-size: 13px; margin-top: 10px;}
  .register-link a {color: #b77766; font-weight: 500; cursor: pointer;}
  .consent-wrapper{margin:12px 0}
  .consent-label{display:flex;align-items:flex-start !important; gap:8px;font-size:13px;line-height:1.4;cursor:pointer}
  .consent-label input[type=checkbox]{margin-top:2px}
  .consent-wrapper a{color:inherit;text-decoration:underline}
  #consentError{display:none;color:red;font-size:12px;margin-top:4px}
  input#privacyConsent { accent-color: rgb(183 119 102); }
  .consent-wrapper a { color: #b77766; text-decoration: none; }
  input#privacyConsent { accent-color: rgb(183 119 102); }
  .consent-wrapper {margin-bottom: 0;}
  .consent-wrapper .consent-label {margin-bottom: 0 !important;}
  .red-required {color: red;}
  span#mobileError { margin-top: 6px; color: #f70000; font-size: 12px; font-weight: 500; }
  .consent-label input[type=checkbox] {margin: 4px;}
  span#otpError { font-size: 12px; margin-top: 10px; color: #ff4545;}

  @media only screen and (max-width:767px){
      .account-hover-card.active {display: block;}
      .account-wrapper .account-hover-card { position: fixed; top: 98px; left: 50%; right: inherit; transform: translateX(-50%); width: 320px; background: #fff; padding: 20px; border-radius: 14px; box-shadow: 0 10px 30px #00000026; z-index: 99; }
      .otp-form-wrapper { width: 100%; padding: 12px; }
      .otp-login-form-wrapper { width: 95%; background: #fff; display: flex; flex-direction: column;border-radius: 12px; overflow: hidden; }
      .otp-login-form-wrapper::before { content: ""; width: 100%; height: 175px; background: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Jan-Popup-Mobile_jpg.jpg?v=1770010490) center / cover no-repeat; }
      .otp-form-wrapper {margin-left: 0;}
      .otp-login-form-wrapper {padding: 0 0px 0 0;}
      .otp-login-form-wrapper {height: auto;}
      .otp-form-wrapper {padding: 20px;}
      .otp-login-form-wrapper button.close-button {right: 10px; top: 10px;}
      #otp-timer {margin-bottom: 4px;}
      .otp-login-form-wrapper.hide-image::before { display: none; } 
      .otp-login-form-wrapper.hide-image .otp-form-wrapper { width: 100%; margin-left: 0; }
      .spin-wheel-wrapper { display: none !important; }
      .otp-login-form-wrapper.signup-active::before { display: none; }
      .otp-login-form-wrapper.signup-active .spin-wheel-wrapper { display: flex; height: 215px; width: 100%; }
      .wheel-container {position: absolute; width: 90%; height: 245px; top: -75px;}
      .otp-login-form-wrapper.signup-active .spin-wheel-wrapper {display: flex !important;}
      .signupSection h2 {display: none;}
      .signupSection p {display: none;}
      .otp-login-form-wrapper h2 { font-weight: 500; font-size: 16px; line-height: 1.2; text-transform: uppercase; text-align: center; margin: 0; margin-bottom: 6px; }
      
  }

  @media only screen and (min-width:768px){
    .registration-form-inputs {padding-right: 13px; width: 100%; height: 100%;}
  }
</style>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
