<div class="pdp-tags-container page-width">
  <div class="pdp-tags-title">Product tags</div>
  <div class="pdp-tags">
    {% for tag in product.tags %}
      {% unless tag == 'YMAL' %}
        <div class="pdp-tag">
          <a href="/collections/all/{{ tag | handleize }}">{{ tag }}</a>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "PDP Tags",
  "settings": [],
  "presets": [
    {
      "name": "PDP Tags"
    }
  ]
}
{% endschema %}
