<div class="pdp-tags-container page-width">
  <div class="pdp-tags-title">Related Categories</div>
  <div class="pdp-tags">
    {% for tag in product.tags %}
      {% assign tag_lower = tag | downcase %}
      {% unless tag == 'YMAL' 
        or tag_lower contains 'error' 
        or tag_lower contains 'loc-' 
        or tag_lower contains 'test'
         or tag_lower == 'NA'
        or tag_lower == '#n/a' 
        or tag_lower == 'n/a' %}
        <div class="pdp-tag">
          <a 
            href="/collections/all/{{ tag | handleize }}" 
            class="pdp-tag-link"
            data-tag="{{ tag }}"
          >
            {{ tag }}
          </a>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tagLinks = document.querySelectorAll('.pdp-tag-link');

    tagLinks.forEach(link => {
      link.addEventListener('click', function(e) {
        const tagName = this.dataset.tag;

        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          event: 'promoClick',
          creative_name: 'pdp_tags',
        });

        console.log('Tag clicked:', tagName);
      });
    });
  });
</script>

{% schema %}
{
  "name": "PDP Tags",
  "settings": [],
  "presets": [
    {
      "name": "PDP Tags"
    }
  ]
}
{% endschema %}