
<style>.progress-steps.svg-steps{position:relative;background:white;width:100%;display:flex;justify-content:center;align-items:center;}.progress-steps.svg-steps .steps-container{display:flex;align-items:center;justify-content:center;position:relative;z-index:1}.progress-steps.svg-steps .center-label{font-weight:400;letter-spacing:.5px;text-transform:uppercase;color:#111;font-size:14px}.progress-steps.svg-steps .step{background:transparent!important;transform:rotate(0deg);width:80px;height:80px;display:flex;align-items:center;justify-content:center;position:relative}.progress-steps.svg-steps .step svg{width:100%;height:100%;display:block}.progress-steps.svg-steps .step::before{content:"";position:absolute;top:50%;left:-60px;width:60px;height:2px;background:#dcdcdc;transform:translateY(-50%);z-index:-1}.progress-steps.svg-steps .step[data-step="1"]::before{display:none}.progress-steps.svg-steps.step-2-done .step-line{background:linear-gradient(to right,#008000 0%,#008000 33%,#dcdcdc 33%,#dcdcdc 100%)}@media(max-width:768px){.progress-steps.svg-steps .steps-container{gap:30px}.progress-steps.svg-steps .step{width:30px;height:30px}.progress-steps.svg-steps .center-label{font-size:12px}.progress-steps.svg-steps .step::before{left:-29px;width:69px}}</style>
<style>

.progress-steps.svg-steps::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #dcdcdc;
  transform: translateY(-50%);
  z-index: 0;
}
.steps-container .step[data-step="2"] + .center-label {
  margin-left: -40px; 
}

.steps-container .step[data-step="3"] + .center-label {
  margin-left: -40px; 
}

.progress-steps.svg-steps .steps-container,
.progress-steps.svg-steps .step,
.progress-steps.svg-steps .center-label {
  position: relative;
  z-index: 2;
  background: white; 
}
@media (max-width: 768px) {
  .progress-steps.svg-steps {
    margin: 0;
  }

  .progress-steps.svg-steps::before {
    top: 35%;  
    
  }

  .progress-steps.svg-steps .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    row-gap: 12px;
  }

  .carat-section {
    margin: 0px auto !important;
  }

  .progress-steps.svg-steps .center-label {
    order: 10;   
    text-align: center;
    font-size: 14px;
    background: transparent;
  }

  .progress-steps.svg-steps .step {
    width: 15%;
    height: 15%;
  }
  .progress-steps.svg-steps .step svg {
    width: 100%;
    height: 100%;
  }

}
@media screen and (min-width:900px) and (max-width:1600px) {
  .progress-steps.svg-steps .step {
    width: 60px;
    height: 60px;
  }
  .carat-filter{
  margin-bottom: 10px;
  }
}


</style>
<!-- ====== PROGRESS BAR ====== -->
<div class="progress-steps svg-steps">
  <div class="step-line"></div>

  <div class="steps-container custom_class_steps">
    <div class="step is-complete" onclick="activeSlide(this)"  data-step="1" data-svg="check"></div>
    <div class="step" data-step="2" onclick="activeSlide(this)" data-svg="s2"></div>
    <div class="center-label">SELECT YOUR STYLE</div>
    <div class="step" data-step="3" onclick="activeSlide(this)" data-svg="s3"></div>
    <div class="step" data-step="4" data-svg="s4"></div>
  </div>
</div>
<template id="svg-check">
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
  <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#008000"/>
  <mask id="mask0_149_1045" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="24" y="24" width="32" height="32">
    <rect x="24" y="24" width="32" height="32" fill="#D9D9D9"/>
  </mask>
  <g mask="url(#mask0_149_1045)">
    <path d="M36.7333 44.6874L48.2513 33.1694C48.4495 32.9709 48.6815 32.8696 48.9473 32.8654C49.213 32.8611 49.4494 32.9625 49.6563 33.1694C49.8631 33.3762 49.9666 33.6138 49.9666 33.882C49.9666 34.1505 49.8631 34.3881 49.6563 34.595L37.5769 46.695C37.3358 46.9359 37.0546 47.0564 36.7333 47.0564C36.4119 47.0564 36.1307 46.9359 35.8896 46.695L30.3229 41.1284C30.1247 40.9299 30.0269 40.6944 30.0296 40.4217C30.032 40.1492 30.1367 39.9096 30.3436 39.7027C30.5505 39.4958 30.788 39.3924 31.0563 39.3924C31.3247 39.3924 31.5624 39.4958 31.7693 39.7027L36.7333 44.6874Z" fill="white"/>
  </g>
</svg>
</template>

<!-- Step 2 svg -->
<template id="svg-s2">
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
  <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"/>
  <path d="M38.5345 45.936H45.8305V48H34.1425L42.0625 38.28C42.8065 37.368 43.6705 36.24 43.6705 35.04C43.6705 33.144 41.9905 31.584 40.1185 31.584C38.2705 31.584 36.7585 33.072 36.6385 34.896H34.3825C34.7425 31.68 36.8305 29.52 40.1185 29.52C43.1905 29.52 45.8305 31.8 45.8305 34.944C45.8305 36.288 45.3265 37.632 44.4865 38.664L38.5345 45.936Z" fill="white"/>
</svg>
</template>

<!-- Step 3 svg -->
<template id="svg-s3">
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
  <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"/>
  <path opacity="0.6" d="M39.6625 39.36V37.488C41.6065 37.488 43.2145 36.768 43.2145 34.584C43.2145 32.76 41.8705 31.488 40.0705 31.488C38.4385 31.488 37.3105 32.52 37.0705 34.08H34.8385C35.2705 31.104 37.1665 29.52 40.1425 29.52C43.0225 29.52 45.3745 31.368 45.3745 34.392C45.3745 36.168 44.6065 37.608 43.0705 38.472C44.8465 39.312 45.6385 41.016 45.6385 42.96C45.6385 46.344 43.0945 48.384 39.8545 48.384C37.0225 48.384 34.4785 46.512 34.3345 43.536H36.5185C36.7345 45.312 38.2945 46.416 40.0225 46.416C42.0385 46.416 43.4785 44.832 43.4785 42.864C43.4785 40.56 41.8945 39.192 39.6625 39.36Z" fill="white"/>
</svg>
</template>

<!-- Step 4 svg -->
<template id="svg-s4">
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
  <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"/>
  <path opacity="0.6" d="M44.3185 43.392H46.3825V45.36H44.3185V48H42.1585V45.36H33.2305L44.3185 29.136V43.392ZM42.1585 43.392V35.928H42.1105L37.0225 43.392H42.1585Z" fill="white"/>
</svg>
</template>



<script>
(function(){
  'use strict';

  function renderStep(el){
    if(!el) return;
    const key = el.dataset.svg || '';
    const tpl = document.getElementById('svg-' + key);
    if(!tpl) {
      console.warn('SVG template not found for key:', key);
      return;
    }
    el.innerHTML = '';                
    el.append(tpl.content.cloneNode(true)); 
  }

  function renderAll(){
    document.querySelectorAll('.progress-steps.svg-steps .step').forEach(renderStep);
  }

  function complete(n){
    const el = document.querySelector(`.progress-steps.svg-steps .step[data-step="${n}"]`);
    if(!el) return;

    el.dataset.svg = 'check';
    el.classList.add('is-complete');
    renderStep(el);
  }

  function resetTo(n, key){
    const el = document.querySelector(`.progress-steps.svg-steps .step[data-step="${n}"]`);
    if(!el) return;
    el.dataset.svg = key; 
    el.classList.remove('is-complete');
    renderStep(el);
  }

  document.addEventListener('DOMContentLoaded', () => {
    renderAll();
  });

  window.progressSteps = { complete, resetTo };

})();

function updateCenterLabelPosition() {
  const container = document.querySelector('.steps-container');
  const centerLabel = container.querySelector('.center-label');
  const steps = Array.from(container.querySelectorAll('.step'));
  const lastCompleteStep = steps.filter(s => s.classList.contains('is-complete')).pop();

  if (lastCompleteStep) {
    lastCompleteStep.insertAdjacentElement('afterend', centerLabel);
  }
}

</script>
<script>
  function activeSlide(element){
    document.body.style.setProperty('overflow', 'auto', 'important');
    // console.log("elementelement", element);
    const step = element.getAttribute('data-step');
    if(step == 1 && document.querySelector('.lucira-accessory-fullscreen').style.display == 'block'){
      document.querySelector('.steps-container [data-step="2"]').classList.remove('is-complete');
      document.querySelector('.steps-container [data-step="2"]').setAttribute('data-svg', 's2');
      document.querySelector('.steps-container [data-step="3"]').classList.remove('is-complete');
      document.querySelector('.steps-container [data-step="3"]').setAttribute('data-svg', 's3');
      document.querySelector('.carat-section').style.display = 'block';
      document.querySelector('#lucira-accessory-fullscreen').style.display = 'none';
      document.querySelector('.popup-overlay').classList.remove('active');
      document.body.style.overflow = 'auto';
      document.querySelector('#product-popup').style.display = 'flex';
      document.querySelector('.steps-container [data-step="2"]').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
        <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"></path>
        <path d="M38.5345 45.936H45.8305V48H34.1425L42.0625 38.28C42.8065 37.368 43.6705 36.24 43.6705 35.04C43.6705 33.144 41.9905 31.584 40.1185 31.584C38.2705 31.584 36.7585 33.072 36.6385 34.896H34.3825C34.7425 31.68 36.8305 29.52 40.1185 29.52C43.1905 29.52 45.8305 31.8 45.8305 34.944C45.8305 36.288 45.3265 37.632 44.4865 38.664L38.5345 45.936Z" fill="white"></path>
      </svg>`
      document.querySelector('.steps-container [data-step="3"]').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
        <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"></path>
        <path opacity="0.6" d="M39.6625 39.36V37.488C41.6065 37.488 43.2145 36.768 43.2145 34.584C43.2145 32.76 41.8705 31.488 40.0705 31.488C38.4385 31.488 37.3105 32.52 37.0705 34.08H34.8385C35.2705 31.104 37.1665 29.52 40.1425 29.52C43.0225 29.52 45.3745 31.368 45.3745 34.392C45.3745 36.168 44.6065 37.608 43.0705 38.472C44.8465 39.312 45.6385 41.016 45.6385 42.96C45.6385 46.344 43.0945 48.384 39.8545 48.384C37.0225 48.384 34.4785 46.512 34.3345 43.536H36.5185C36.7345 45.312 38.2945 46.416 40.0225 46.416C42.0385 46.416 43.4785 44.832 43.4785 42.864C43.4785 40.56 41.8945 39.192 39.6625 39.36Z" fill="white"></path>
      </svg>`

    }
    if(step == 2 && document.querySelector('.lucira-accessory-fullscreen').style.display == 'block'){
      document.querySelector('.steps-container [data-step="3"]').classList.remove('is-complete');
      document.querySelector('.steps-container [data-step="3"]').setAttribute('data-svg', 's3');
      document.querySelector('.carat-section').style.display = 'block';
      document.querySelector('#lucira-accessory-fullscreen').style.display = 'none';
      document.querySelector('#product-popup').classList.add('active');
      document.querySelector('.carat-panel.active').querySelector('.carat-item .select-class').click();
      document.querySelector('#product-popup').style.display = 'flex';
      document.querySelector('.steps-container [data-step="3"]').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none" aria-hidden="true" focusable="false">
        <path d="M80 40C66.6718 40 40 66.6718 40 80C40 66.6718 13.3282 40 0 40C13.3282 40 40 13.3282 40 0C40 13.3282 66.6718 40 80 40Z" fill="#A68380"></path>
        <path opacity="0.6" d="M39.6625 39.36V37.488C41.6065 37.488 43.2145 36.768 43.2145 34.584C43.2145 32.76 41.8705 31.488 40.0705 31.488C38.4385 31.488 37.3105 32.52 37.0705 34.08H34.8385C35.2705 31.104 37.1665 29.52 40.1425 29.52C43.0225 29.52 45.3745 31.368 45.3745 34.392C45.3745 36.168 44.6065 37.608 43.0705 38.472C44.8465 39.312 45.6385 41.016 45.6385 42.96C45.6385 46.344 43.0945 48.384 39.8545 48.384C37.0225 48.384 34.4785 46.512 34.3345 43.536H36.5185C36.7345 45.312 38.2945 46.416 40.0225 46.416C42.0385 46.416 43.4785 44.832 43.4785 42.864C43.4785 40.56 41.8945 39.192 39.6625 39.36Z" fill="white"></path>
      </svg>`
    }
  }
</script>
{% schema %}
{
  "name": "Progressbar Section Fun",
  "settings": [],
  "presets": [{ "name": "Progressbar Section Fun" }]
}
{% endschema %}