{{ 'progress-custom-fun.css' | asset_url | stylesheet_tag}}
<script src="{{ 'progress-custom-fun.js' | asset_url }}" defer="defer"></script>

<!-- ====== PROGRESS BAR ====== -->
<div class="progress-steps svg-steps">
  <div class="step-line"></div>

  <div>
    <div class="steps-container custom_class_steps">
      <div class="step" onclick="activeSlide(this)"></div>
      <div class="step" data-step="2" onclick="activeSlide(this)"></div>
      <div class="step" data-step="3" onclick="activeSlide(this)"></div>
      <div class="step" data-step="4"></div>
    </div>
    <div class="center-label">SELECT YOUR STYLE</div>
  </div>
</div>
<template id="svg-check">
{% render 'green1' %}
</template>

<template id="svg-s2">
{% render 'step2' %}
</template>

<template id="svg-s3">
{%  render 'green3' %}
</template>

<!-- Step 4 svg -->
<template id="svg-s4">
{% render 'step4' %}
</template>


{% schema %}
{
  "name": "Progressbar Section Fun",
  "settings": [],
  "presets": [{ "name": "Progressbar Section Fun" }]
}
{% endschema %}