<div class="schemes-offer-banner">
    <div class="page-width">
        <div class="schemes-offer-banner-wrapper">
            <div class="grid-row">
                <div class="grid-column">
                    <div class="schemes-content-wrapper">
                        <h2>Start Today Benefit at Diwali</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusegrdhds gsgs s dgfssdfsdfs</p>
                        <div class="grid-process-wrapper">
                            <div class="grid-process-column">
                                <div class="process-number">Today</div>
                                <div class="process-text">(1st month)</div>
                            </div>
                            <div class="grid-process-arrow-column">
                                <div class="process-number">Investment</div>
                                <div class="process-arrow">{{- 'arrow-right.svg' | inline_asset_content -}}</div>
                                <div class="process-text">(9 months)</div>
                            </div>
                            <div class="grid-process-column">
                                <div class="process-number">Diwali</div>
                                <div class="process-text">(10th month)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Schemes Offer Banner",
  "tag": "section",
  "class": "schemes-offer-banner",
  "settings": [
    {
      "type": "text",
      "label": "heading",
      "id": "schemes_offer_banner_title"
    },
  ],
  "presets": [
    {
      "name": "Schemes Offer Banner"
    }
  ]
}
{% endschema %}