<div class="schemes-offer-banner">
    <div class="page-width">
        <div class="schemes-offer-banner-wrapper">
            <div class="grid-row">
                <div class="grid-column">
                    <div class="schemes-content-wrapper">
                        <h2>Start Today Benefit at Diwali</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusegrdhds gsgs s dgfssdfsdfs</p>
                        <div class="grid-process-wrapper">
                            <div class="grid-process-column">
                                <div class="process-number">Today</div>
                                <div class="process-text">(1st month)</div>
                            </div>
                            <div class="grid-process-arrow-column">
                                <div class="process-number">Investment</div>
                                <div class="process-arrow">{{- 'arrow-right.svg' | inline_asset_content -}}</div>
                                <div class="process-text">(9 months)</div>
                            </div>
                            <div class="grid-process-column">
                                <div class="process-number">Diwali</div>
                                <div class="process-text">(10th month)</div>
                            </div>
                        </div>
                        <a href="#" class="book-an-appoinment">Book a Free Consultation</a>
                    </div>
                </div>
                <div class="grid-column">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .schemes-offer-banner-wrapper {background: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Banner_Image_2_1.jpg?v=1761386842); background-size: cover; background-position: center; background-repeat: no-repeat; height: 390px; border-radius: 12px;}
    .grid-process-wrapper {display: flex ; align-items: center; justify-content: center; gap: 30px;}
    .grid-process-column {display: flex ; flex-direction: column; align-items: center;}
    .process-number { color: #fff; }
    .process-text {color: #fff;}
    .process-number {text-align: center;}
    .process-text  {text-align: center;}
    .process-number { font-family: Futura Std; font-weight: 500; font-size: 20px; line-height: 150%; letter-spacing: 1.4px; text-align: center; vertical-align: middle; text-transform: uppercase; margin-bottom: 2px;}
    .process-text { font-family: Futura Std; font-weight: 500; font-size: 14px; line-height: 150%; letter-spacing: 1.4px; text-align: center; vertical-align: middle; text-transform: uppercase; margin-top: 2px;}
    .schemes-offer-banner-wrapper .grid-row { display: grid ; grid-template-columns: 1fr 1fr; gap: 40px; align-items: start; height: 100%; }
    .schemes-content-wrapper h2 { font-family: Futura Std; font-weight: 500; font-size: 24px; line-height: 150%; text-align: center; vertical-align: middle; text-transform: uppercase; color: #fff; letter-spacing: 1.4px; }
    .schemes-offer-banner h2 { font-weight: 500; font-size: 24px; line-height: 150%; text-align: center; vertical-align: middle; text-transform: uppercase; color: #fff; letter-spacing: 1.4px; margin: 0; }
    .schemes-content-wrapper p { font-weight: 400; font-size: 16px; line-height: 1.7; text-align: center; vertical-align: middle; color: #fff; margin-top: 18px; margin-bottom: 40px; max-width: 495px; margin-left: auto; margin-right: auto; }
    .schemes-offer-banner-wrapper .grid-row { display: grid ; grid-template-columns: 1fr 1fr; align-items: center !important; gap: 40px; height: 100%; padding: 0 45px;}
</style>

{% schema %}
{
  "name": "Schemes Offer Banner",
  "tag": "section",
  "class": "schemes-offer-banner",
  "settings": [
    {
      "type": "text",
      "label": "heading",
      "id": "schemes_offer_banner_title"
    },
  ],
  "presets": [
    {
      "name": "Schemes Offer Banner"
    }
  ]
}
{% endschema %}