{% schema %}
{
  "name": "Talk to Expert Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "why_schemes_title",
      "label": "Section Title",
      "default": "why scheme from lucira"
    }
  ],
  "presets": [
    {
      "name": "Talk to Expert",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="talk-to-us-expert-section">
  <div class="page-width">
    <div class="talk-to-us-expert-wrapper">
      <h2 class="talk-to-us-expert-title">Still confused? Let us Guide you</h2>
      <div class="talk-to-us-expert-input-wrapper">
        <input
          type="number"
          class="talk-to-us-expert-input"
          placeholder="Mobile Number"
        />
        <button class="talk-to-us-expert-button">Talk to an expert</button>
      </div>
  </div>
</div>