<section class="schema-banner">
    <div class="page-width">
      <div class="schema-banner-wrapper">
        {% if section.settings.banner_title != blank %}
          <h1>{{ section.settings.banner_title }}</h1>
        {% endif %}
        {% if section.settings.banner_subtitle != blank %}
          <p>{{ section.settings.banner_subtitle }}</p>
        {% endif %}
      </div>
    </div>
</section>

<style>
  .schema-banner {
    background-image: url({{ section.settings.banner_image_desktop | img_url: 'master' }});
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 749px) {
    .schema-banner {
      background-image: url({{ section.settings.banner_image_mobile | img_url: 'master' }});
    }
  }
</style>

{% schema %}
{
  "name": "Schemes Banner",
  "tag": "section",
  "class": "schemes-banner",
  "settings": [
    {
      "type": "text",
      "label": "Banner Title",
      "id": "banner_title"
    },
    {
      "type": "text",
      "label": "Banner Subtitle",
      "id": "banner_subtitle"
    },
    {
      "type": "image_picker",
      "label": "Desktop Banner",
      "id": "banner_image_desktop"
    },
    {
      "type": "image_picker",
      "label": "Mobile Banner",
      "id": "banner_image_mobile"
    }
  ],
  "presets": [
    {
      "name": "Schemes Banner"
    }
  ]
}
{% endschema %}