<div class="talk-to-us-expert-section">
  <div class="page-width">
    <div class="talk-to-us-expert-wrapper">
      {% if section.settings.talk_to_us_expert_banner_title != blank %}
        <h2 class="talk-to-us-expert-title">
          {{ section.settings.talk_to_us_expert_banner_title }}
        </h2>
      {% endif %}
      <div class="talk-to-us-expert-input-wrapper">
        <input
          type="number"
          class="talk-to-us-expert-input"
          placeholder="Mobile Number"
        />
        <button class="talk-to-us-expert-button">
          <svg width="24" height="24">
            <use href="#icon-bell"></use>
          </svg>
        Talk to an Expert</button>
      </div>
  </div>
</div>

<style>
  .talk-to-us-expert-section {padding: 30px 0;}
  .talk-to-us-expert-title {margin-bottom: 28px; margin-top: 0; font-weight: 500; font-size: 24px; line-height: 150%; letter-spacing: .7px; text-align: center; vertical-align: middle; text-transform: uppercase;}
  .talk-to-us-expert-button { background: #B76F79; color: #fff; border: 0; padding: 12px 28px; font-family: Futura Std; font-weight: 500; font-size: 14px; line-height: 100%; letter-spacing: 1.4px; text-transform: uppercase; border-radius: 8px; display: inline-flex ; align-items: center; gap: 10px; }
  input.talk-to-us-expert-input { padding: 12px 28px 12px 16px; font-family: Futura Std; font-weight: 500; font-size: 14px; line-height: 100%; letter-spacing: 1.4px; text-transform: uppercase; border-radius: 8px; border: 1px solid #666666; width: 300px; }
  .talk-to-us-expert-input-wrapper {text-align: center;}

</style>

{% schema %}
{
  "name": "Schemes Talk to Expert",
  "tag": "section",
  "class": "schemes-talk-to-expert",
  "settings": [
    {
      "type": "text",
      "label": "heading",
      "id": "talk_to_us_expert_banner_title"
    },
  ],
  "presets": [
    {
      "name": "Schemes Talk to Expert"
    }
  ]
}
{% endschema %}