<div class="talk-to-us-expert-section">
  <div class="page-width">
    <div class="talk-to-us-expert-wrapper">
      {% if section.settings.talk_to_us_expert_banner_title != blank %}
        <h2 class="talk-to-us-expert-title">
          {{ section.settings.talk_to_us_expert_banner_title }}
        </h2>
      {% endif %}
      <div class="talk-to-us-expert-input-wrapper">
        <input
          type="number"
          class="talk-to-us-expert-input"
          placeholder="Mobile Number"
        />
        <button class="talk-to-us-expert-button">Talk to an expert</button>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Schemes Talk to Expert",
  "tag": "section",
  "class": "schemes-talk-to-expert",
  "settings": [
    {
      "type": "text",
      "label": "Banner Title",
      "id": "banner_title"
    },
  ],
  "presets": [
    {
      "name": "Schemes Talk to Expert"
    }
  ]
}
{% endschema %}