{% comment %}
File: sections/store-collection-banner.liquid
{% endcomment %}

<section
  class="store-collection-banner"
>
    <div class="grid-row">
      <div class="grid-column">
        <div class="grid-banner-collection-wrapper">
          <div class="grid-banner-collection-carousel owl-carousel owl-theme">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
          </div>
        </div>
      </div>
      <div class="grid-column">
        
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Store Collection Banner",
  "settings": [
    {
      "type": "richtext",
      "id": "left_content",
      "label": "Left Column Content",
      "default": "<p>Left column content</p>"
    },
    {
      "type": "richtext",
      "id": "right_content",
      "label": "Right Column Content",
      "default": "<p>Right column content</p>"
    }
  ],
  "presets": [
    {
      "name": "Store Collection Banner"
    }
  ]
}
{% endschema %}