<section class="store-collection-banner" style="background: url('');">
  <div class="page-width">
    <div class="grid-row">
        <div class="grid-column">
            
        </div>
        <div class="grid-column">
            
        </div>
    </div>
  </div>
</section>