{% schema %}
{
  "name": "Why Schemes Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "why_schemes_title",
      "label": "Section Title",
      "default": "why scheme from lucira"
    },
    {
      "type": "textarea",
      "id": "why_schemes_subtitle",
      "label": "Section Subtitle",
      "default": "Experience the epitome of luxury living with our meticulously crafted schemes, designed to elevate your lifestyle to new heights."
    }
  ],
  "blocks": [
    {
      "type": "scheme_item",
      "name": "Scheme Item",
      "settings": [
        {
          "type": "text",
          "id": "why_schemes_scheme_title",
          "label": "Title",
          "default": "Flexible Payments"
        },
        {
          "type": "textarea",
          "id": "why_schemes_scheme_text",
          "label": "Description",
          "default": "Start with just ₹1000/month and save big!"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Why Schemes Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="why-schemes-section">
  <div class="page-width">
    <div class="title-wrapper">
      <h2>{{ section.settings.why_schemes_title }}</h2>
      <p>{{ section.settings.why_schemes_subtitle }}</p>
    </div>
    <div class="why-schemes-grid-wrapper">
      {% for block in section.blocks %}
        <div class="grid-item">
          <h3>{{ block.settings.why_schemes_scheme_title }}</h3>
          <p>{{ block.settings.why_schemes_scheme_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
    .why-schemes-section {padding: 40px 0;}
    .why-schemes-section h2 { margin-top: 0; margin-bottom: 0; font-family: Futura Std; font-weight: 500; font-size: 24px; line-height: 150%; text-align: center; vertical-align: middle; text-transform: uppercase; margin-bottom: 12px;}
    .why-schemes-section p {color: #1a1a1a; max-width: 690px; margin: 0 auto; font-weight: 400; font-size: 16px; letter-spacing: 1px; text-align: center; vertical-align: middle; line-height: 1.6;}
    .why-schemes-grid-wrapper {background: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/image_821_1.jpg?v=1760002703); background-size: cover; background-repeat: no-repeat; background-position: center; max-width: 740px; margin: 0 auto; border-radius: 12px;display: grid ; grid-template-columns: 1fr 1fr; gap: 80px; padding: 60px;}
    .grid-item:nth-child(even) {
        background-color: #f2f2f2;
        }
    @media (max-width:767px){
        .why-schemes-section h2 {font-size: 18px;}
        
    }
</style>