{% schema %}
{
  "name": "Why Schemes Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "why scheme from lucira"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Section Subtitle",
      "default": "Experience the epitome of luxury living with our meticulously crafted schemes, designed to elevate your lifestyle to new heights."
    }
  ],
  "blocks": [
    {
      "type": "scheme_item",
      "name": "Scheme Item",
      "settings": [
        {
          "type": "text",
          "id": "scheme_title",
          "label": "Title",
          "default": "Flexible Payments"
        },
        {
          "type": "textarea",
          "id": "scheme_text",
          "label": "Description",
          "default": "Start with just ₹1000/month and save big!"
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Why Schemes Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="why-schemes-section">
  <div class="page-width">
    <div class="title-wrapper">
      <h2>{{ section.settings.why_schemes_title }}</h2>
      <p>{{ section.settings.why_schemes_subtitle }}</p>
    </div>
    <div class="why-schemes-grid-wrapper">
      {% for block in section.blocks %}
        <div class="grid-item">
          <h3>{{ block.settings.why_schemes_scheme_title }}</h3>
          <p>{{ block.settings.why_schemes_scheme_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>