
  .scrollable {
    max-height: calc(100vh - 135px)!important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .lucira-accessory-fullscreen {
    overflow: hidden;
    background: rgba(255, 255, 255, .98);
    -webkit-overflow-scrolling: touch;
  }
    #lf-active-dot{
    display:none!important;
    }
  .lucira-full-inner {
    box-sizing: border-box;
  }

  .lucira-full-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 24px;
  }

  .progress-steps {
    width: 100%;
    position: relative;
  }

  .progress-steps .bp-step-line {
    position: absolute;
    left: 24px;
    right: 24px;
    top: 50%;
    height: 1px;
    background: #eee;
    transform: translateY(-50%);
    z-index: 1;
  }

  .steps-container {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .step {
    width: 34px;
    height: 34px;
    background: #b9968d;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: none;
    /* cursor: pointer; */
  }

  .step span {
    transform: rotate(-45deg);
    font-weight: 700;
    font-size: 12px;
  }

  .step.active {
    background: #0b8b2d;
  }

  .center-label {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .6px;
    margin-left: 14px;
    color: #2b2b2b;
  }

  .lucira-full-main {
    display: flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }

  .variant-card {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: #fff;
  }

  .variant-img-wrap {
    width: 850px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform-origin: 50% 50%;
  }

  #lf-variant-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    transition: transform .12s ease;
  }

  .variant-meta {
    display: none;
  }

  .variant-description {
    margin-top: 12px;
    color: #666;
    font-size: 14px;
  }

  .variant-zoom-controls input[type=range] {
    width: 360px;
  }

  .right-split-inner {
    background: #faf1f3;
    display: flex;
    align-items: flex-start;
  }

  .charms-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px 20px 9px 20px;
    align-items: flex-start;
    max-width: 100%;
    box-sizing: border-box;
  }

  .charm-card {
    background: #faf1f3;
    border-radius: 6px;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
    transition: all .12s ease;
  }

  .charm-thumb-wrap {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: #faf7f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .charm-thumb-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .charm-title {
    margin-top: 8px;
    font-size:18px;
    color: #232323;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .charm-qty {
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }

  .qty-btn {
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 1;
    color: #1d1d1f;
    cursor: pointer;
  }

  .qty-btn:focus {
    outline: 2px solid #c7c7ff33;
    outline-offset: 2px;
  }

  .qty-input {
    width: 38px;
    height: 32px;
    border: 0;
    background: transparent;
    text-align: center;
    font-size: 14px;
    pointer-events: none;
    color: #1d1d1f;
  }

  

  .cta-footer {
    position: sticky;
    bottom: 10%;
    right: 20%;
    background: #faf1f3;
    width: 100%;
    z-index: 2;
    transform: translateY(0);
    transition: transform .18s ease;
  }

  #lf-total-cta {
    width: 100%;
    padding: 22px;
    border: 0;
    font-family: "Futura Std", sans-serif !important;
    background: #A68380;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor:pointer;
    transition: opacity .12s ease, background .12s ease;
  }

  #lf-total-cta.enabled {
    background: #0b8b2d;
    cursor: pointer;
  }

  .tiles-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    right: 0;
    height: 100%;
  }

  .collection-tile {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background: #b76f79cc;
    padding: 12px;
    cursor: pointer;
    transition: all .12s ease;
    outline: none;
    border: 0;
  }

  .collection-tile .ct-title {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Futura Std", sans-serif !important;
  }

  .collection-tile .ct-qty {
    color: #fff;
    padding: 6px 8px;
    border-radius: 16px;
    font-size: 12px;
  }

  .collection-tile.active {
    background: #faf1f3;
  }

  .collection-tile.active .ct-title,
  .collection-tile.active .ct-qty {
    color: #000;
  }

  .ct-qty.active {
    color: #fff;
  }

  #lf-color-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    padding: 40px 40px 32px 40px;
  }

  #lf-active-dot {
    display: block;
    left: 0px;
    background: rgb(216, 140, 140);
    min-width: 18px;
    border-radius: 40px;
    height: 18px;
    outline: rgb(34, 34, 34) solid 2px;
  }

  #lf-color-name {
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
    margin-right: 8px;
    white-space: nowrap;
  }

  .lf-dots {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .charm-thumb-wrap {
  position: relative;
}

.view-details {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


  .color-dot {
    width: 18px;
    height: 18px;
    border-radius: 999px;
    border: 2px solid rgba(0, 0, 0, .18);
    display: inline-block;
    cursor: pointer;
    position: relative;
  }

  .color-dot.active {
    outline: 1px solid #222;
  }

  .color-dot[data-color="Yellow Gold"] {
    background: #f2c84b;
  }

  .color-dot[data-color="Rose Gold"] {
    background: #d88c8c;
  }

  .color-dot[data-color="White Gold"] {
    background: #e5e7eb;
  }

  .price-title-row {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .charm-price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    flex-wrap: wrap;
  }

  .charm-price .new-price {
    font-weight: 600;
    font-size: 100%;
    line-height: 1;
    color: #0f0f0f;
  }

  .charm-price .old-price {
    font-size: 75%;
    color: #9a9a9a;
  }

  .charm-price .old-price{
    text-decoration: line-through;
    opacity: .9;
  }

  .plp-collection-banner__count {
    color: #fff;
    margin: 0;
  }

  .plp-collection-banner__count.active {
    color: #000;
  }

  #lf-selected-cap {
        font-size: 63%;
    letter-spacing: .08em;
    font-weight: 600;
    color: #6a6a6a;
  }

  .charm-info {
    padding: 0 10px 10px;
  }
.charm-card .qty-incr,
.charm-card .qty-decr {
  outline: none !important;
  box-shadow: none !important;
}

.charm-card .qty-incr:focus,
.charm-card .qty-decr:focus,
.charm-card .qty-incr:active,
.charm-card .qty-decr:active {
  outline: none !important;
  box-shadow: none !important;
}


.charm-card:focus,
.charm-card:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

  .drawer-cta {
    width: 93%;
    border-radius: 12px;
    background: #fff;
    color: #A68380;
    border: 1px solid #A68380;
    font-size: 16px;
    font-family: "Futura Std", sans-serif !important;
    position:fixed;
    padding:20px;
    bottom:1%;
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  .plp-collection-banner__count small {
    color:white;
  }
 .collection-tile.active .plp-collection-banner__count small {
    color: black !important;
}

  .lucira-right-split {
    width: 50%;
  }

  .lucira-left {
    width: 50%;
  }

  .grids-column {
    width: 60%;
  }

  .tiles-column .collection-tile {
    width: 100%;
  }

  button.collection-tile {
    height: 100vh;
    max-height: 30vh;
  }

  .tiles-column .main-collection-tile-div {
    width: 100%;
    height: 100%;
  }

  .variant-zoom-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
  }

  .variant-zoom-controls button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }

  #zoom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 360px;
    height: 5px;
    border-radius: 999px;
    outline: none;
    background: linear-gradient(90deg, #888 0%, #ddd 100%);
    cursor: pointer;
    transition: background 0.3s ease;
  }

  #zoom-range::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 999px;
    background: transparent;
  }

  #zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: -8px;
    transition: transform 0.2s ease;
  }

  #zoom-range::-webkit-slider-thumb:hover {
    transform: scale(1.1);
  }

  #zoom-range::-moz-range-thumb {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  #zoom-range::-moz-range-track {
    height: 10px;
    border-radius: 999px;
    background: transparent;
  }

  .bp-step svg {
    width: 60px;
    height: 60px;
  }

  .ct-mobile-only {
    display: none;
  }

  .charms-grid::-webkit-scrollbar {
    display: none;
  }

  .cta-footer {
    display: block;
    z-index: 2;
    bottom: 0;
  }
  .charm-card.is-selected {
  border: 1px solid #000;  
  border-radius: 12px;      
  box-shadow: 0 0 0 1px rgba(0,0,0,0.05); 
}
  @media (max-width: 768px) {
    button.collection-tile {
      height: unset;
      max-height: unset;
    }
    .charm-title{
    font-size:14px;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

    }

    .cta-footer {
      position: sticky;
      bottom: 0;
      width: 100%;
    }

    .collection-tile .ct-title {
      font-size: 14px;
      color: black;
      font-family:"Futura Std", sans-serif !important;
      font-weight:500;
    }

    .plp-collection-banner__count small {
      font-size: 12px;
      color: #000;
    }

    #lf-color-name {
      display: none;
    }

    .lucira-full-inner .steps-container {
      gap: 5px;
    }

    .lucira-full-inner {
      /* padding: 18px; */
      box-sizing: border-box;
    }

    .lucira-accessory-fullscreen {
      z-index: 1;
    }

    .title_coll_container {
      overflow: auto;
    }
.title_coll_container::-webkit-scrollbar{

    display: none;
}
.charm-price .new-price{
    font-size: 12px;
}
.charm-qty{
  margin:0;
}
    .charm-price .new-price {
        font-size:16px;
    }

    .variant-zoom-controls input[type=range] {
      width: 200px;
    }

    .tiles-column {
      width: 100%;
      height: auto;
      position: unset;
    }

    .scrollable {
      padding: 0;
      overflow-y: unset !important;
    }
    .variant-zoom-controls{
        width:300px;
        margin:0 auto;
    }
    #zoom-range{
        height:3px;
    }
    .grids-column {
      width: 100% !important;
      box-sizing: border-box;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height .35s ease, opacity .25s ease;
    }

    .collection-tile {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      background: #fff;
    }

    .lucira-full-main {
      display: flex;
      flex-direction: column;
    }

    .plp-collection-banner__count {
      color: #000;
    }

    .collection-tile.active {
      background: #fff;
    }

    .lucira-left,
    .lucira-right-split {
      width: 100% !important;
    }

    .variant-card {
      justify-content: center;
      padding:0;
    }

    .charm-price .old-price{
        font-size:14px;
    }
    .main-collection-tile-div + .grids-column {
      max-height: 1200px;
      opacity: 1;
    }

    .collection-tile.open-with-grid {
      margin-bottom: 8px;
    }

    .ct-mobile-only {
      display: inline-flex;
      align-items: center;
    }

    .tiles-column .collection-tile {
      border-bottom: 1px solid grey;
      padding: 16px 12px;
    }

    #lf-color-filter {
      padding: 10px;
    }

    .price-title-row {
      margin-top: 0;
    }

    .charms-grid::-webkit-scrollbar {
      display: none;
    }

    .charm-card {
      background: none;
    }

    .center-label {
      font-size: 10px;
      margin-bottom: 16px;
    }

    .variant-img-wrap {
      width: 428px;
      height: auto!important;
      position:unset;

    }

    .right-split-inner {
      max-width: 200vw;
      background: unset;
    }
    .charm-card.custom-charm-grid {
        max-width: 168px;
        flex: 0 0 auto;
    }
  }


  .hide-footer footer  {
  display: none !important;
 }
.hide-footer-back .popular-searches-wrapper  {
  display: none !important;
} 

@media screen and (min-width:900px) and (max-width:1600px){
#lf-color-filter{
padding: 15px 20px 10px 20px;
}
#lf-color-name {
    font-size: 14px;
}
.color-dot {
    width: 14px;
    height: 16px;
}
.charm-title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}
.charm-qty {
    margin: 6px 0;
}
.price-title-row{
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.charms-grid {
gap: 10px;
}

}
@media screen and (max-width: 768px) {
  .collection-tile {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 4px;
  }

  .collection-tile .plp-collection-banner__count {
    margin-left: auto;
  }

  .collection-tile .ct-title,
  .collection-tile .ct-qty {
    font-size: 14px;
  }

  .konvajs-content{
    margin:0 auto;
  }
}
