
.selflove-options a {
  color: #000;
}


.selflove-right {
  padding: 0 60px;
}
.sefllove-header-div {
  margin-bottom: 1%;
}

/* Main Section */
.selflove-section {
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

/* Container */
.selflove-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Left & Right Columns */
.selflove-left,
.selflove-right {
  width: 50%;
  text-align: center;
}

/* Left Image Section */
.selflove-left {
  height: 800px;
  overflow: hidden;
}

.selflove-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

/* Text Section */
.selflove-subheading {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.selflove-heading {
  font-size: 50px;
  font-weight: 500;
  margin: -15px 0 0;
}

.selflove-description {
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 22px;
}

/* Options Section */
.selflove-options {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.sefllove-header-div .option img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sefllove-header-div .option p {
  margin-top: -20px;
  font-size: 17px;
  font-weight: 500;
}

/* ---------------------------
      Responsive Styles
----------------------------*/

/* Tablet */
@media (max-width: 768px) {

  .selflove-container {
    flex-wrap: wrap;
  }

  .selflove-left,
  .selflove-right {
    width: 100%;
  }

  .sefllove-header-div,
  .sefllove-header-div .option,
  .sefllove-header-div .option img {
    height: auto;
    max-height: 100%;
  }

  .selflove-right {
    padding: 0 10px;
  }

  .sefllove-header-div .option p {
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
  }

  .selflove-description {
    font-size: 13px;
    margin-bottom: 25px;
    line-height: 19px;
  }

  .selflove-heading {
    margin: -9px 0 0;
    font-size: 27px;
  }

  .selflove-subheading {
    font-size: 13px;
  }

  .selflove-left {
    height: 40vh;
  }

  .selflove-options {
    gap: 6px;
  }
}


 @media screen and (min-width:900px) and (max-width:1600px) {
 .selflove-left{
  height:500px;
 } 
}
