.product--no-media .rating-wrapper {
  text-align: center;
}

.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star { --letter-spacing: .8; --font-size: 1.7; margin-top: 10px; display: block; }
p.rating-summary.caption {margin-bottom: 0;}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --color-rating-star: rgb(var(--color-foreground));
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
    content: "\f005\f005\f005\f005\f005";
    background: linear-gradient(90deg, #EEB71C var(--percent), rgba(var(--color-foreground), .15) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

p.rating-summary.caption { display: inline; }
p.rating-summary.caption { display: inline; font-weight: 500; font-size: 12px; line-height: 18px; letter-spacing: 0.2px; vertical-align: middle; color: #1a1a1a; margin-top: 6px;}
span.rating-star { margin-top: 4px !important; }
.rating-summary span {position: relative; margin-right: 8px;}
.rating-summary span:after {content: ""; position: absolute; top: 3px; right: -7px; background: #333; height: 10px; width: 1px;}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
