
body.overflow-hidden { overflow: hidden !important; touch-action: none; }
.cart_drawer__close {cursor: pointer;}
.you-may-also-like-wrapper {height: 100%;}
button.you-may-also-like-add-button, button.you-may-also-like-add-button-mobile { width: 100%; margin: 0 auto; background: #a68380; border: 0; color: #fff; font-family: 'Futura Std', sans-serif; font-size: 14px; padding: 8px 16px; border-radius: 8px; cursor: pointer; }
button.you-may-also-like-add-button:disabled, button.you-may-also-like-add-button-mobile:disabled {background: #a6838094;}
.you-may-also-like-price-container {margin-bottom: 10px; margin-top: 10px;font-size: 12px;}
del.you-may-also-like-compare-price-mobile { color: #666; font-size: 10px; font-weight: 300; font-family: 'Futura Std', sans-serif; }
.you-may-also-like-price-container-mobile {margin-bottom: 10px;}
/* Add these styles to prevent flickering */
.checkout-button .totals>h2 {font-size: 14px;}
.sam__protect--wrapper{padding: 0 2rem;}
.sam__widget--title{font-weight:600 !important; font-size:16px !important;}
.sam__widget{max-width:100% !important;}
.sam__widget--description{font-size:12px !important;}
.sam__widget--content{margin-left:8px;}
@media only screen and (min-width:1600px) and (max-width:2100px){
.cart-drawer{width:36%!important}
}
@media (min-width:767px){
.price-breakup{cursor:pointer;font-size:14px}
.you-may-also-like-item{opacity:0;transform:translateX(50px);transition:transform .5s ease,opacity .5s ease; padding: 10px;}
.you-may-also-like-wrapper.active .you-may-also-like-item{opacity:1;transform:translateX(0)}
.you-may-also-like-wrapper.active{background:#f4f0f0}
.you-may-also-like-item:nth-child(1){transition-delay:.1s}
.you-may-also-like-item:nth-child(2){transition-delay:.2s}
.you-may-also-like-item:nth-child(3){transition-delay:.3s}
.you-may-also-like-item:nth-child(4){transition-delay:.4s}
.drawer .is-empty .you-may-also-like-wrapper{display:none}
.you-may-also-like-wrapper{background:#fff;padding:16px 6px 16px 16px;border-radius:0;border:1px solid #eaeaea;max-height:100h;z-index:9999999;margin:auto .5%;height:100%;width:18%}
.you-may-also-like-header{font-weight:400;font-size:18px!important;line-height:150%;text-align:center;text-transform:uppercase;color:#1a1a1a; margin-top: 0 !important;}
/* .you-may-also-like-container{display:flex;flex-direction:column;gap:20px} */
.you-may-also-like-container  {overflow-y: scroll; height: 100%; padding-right: 10px;}
.you-may-also-like-item{border:1px solid #999;border-radius:8px;overflow:hidden;display:flex;flex-direction:column;background-color:#fff;text-decoration:none;color:inherit;font-family:Futura,sans-serif; margin-bottom: 20px;}
.you-may-also-like-item:hover{box-shadow:0 4px 12px rgba(0,0,0,.15)}
.image-wrapper-you-may-like{max-width:200px;height:200px;object-fit:contain}
.you-may-also-like-image{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover}
.you-may-also-like-title{font-size:14px;letter-spacing:.04em;line-height:1.4;font-weight:500;color:#1a1a1a;margin-bottom: 4px; margin-left: 0; margin-right: 0; margin-top: 4px;width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.img-container-you-may-like{position:relative;width:100%;padding-top:100%;overflow:hidden}
.you-may-also-like-price{font-size:16px;font-weight:600;color:#5a413f;margin: 10px 0 ; }
.you-may-also-like-item a{text-decoration:none;color:inherit}

}
.checkout-info{margin:0 20px}
.drawer__footer{max-height:0;overflow:hidden;transition:max-height .8s ease-in-out}
.drawer__footer--visible{max-height:1500px}
.cart-drawer__form .savings-label{display:flex;align-items:center;gap:8px;background-color:#eaf6e9;border-radius:10px;padding:4px 16px;max-width:fit-content}
.cart-item__totals right{display:block}
.original-price-cut-off{text-decoration:line-through;font-size:10px}
.delivery-date-expected{font-size:14px;line-height:150%;letter-spacing:.1px;color:green}
h2.you-may-also-like-header{margin:0 auto 20px}
.you-may-also-like-container::-webkit-scrollbar{width:2px;background-color:#f5f5f5}
.you-may-also-like-container::-webkit-scrollbar-thumb{background-color:#666666}
.you-may-also-like-container::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#f5f5f5}
.cart-drawer .tax-note {font-size: 12px !important;}

@media(max-width:428px){
.cart-drawer__form .savings-label{padding:0 12px;height:42px}
.sam__widget--title{ font-size: 14px !important; line-height:1.4 !important}

}
.label-text{font-size:10px;font-weight:500;color:#147217;line-height:1.2;text-align:left}
@media(max-width:390px){
.cart-drawer__form .label-amount{letter-spacing:0}
}

.checkout-button .price-breakup {margin: 0 !important;}
.checkout-info {display: flex ; align-items: center;}
.cart-drawer__form .label-amount{font-size:14px !important;font-weight:600;color:green}
.cart-item__price-wrapper{display:flex;align-items:center;gap:10px;justify-content:flex-end;margin-bottom:6px}
.drawer{position:fixed;z-index:1000;left:0;top:0;width:100vw;height:100%;display:flex;justify-content:flex-end;background-color:rgba(var(--color-foreground),.5);transition:visibility var(--duration-default) ease;z-index:999999999;}
.drawer.active{visibility:visible}
.drawer__inner{height:100%;width:100%;max-width:calc(100vw - 3rem);border:.1rem solid rgba(var(--color-foreground),.2);border-right:0;overflow:hidden;display:flex;flex-direction:column;transform:translateX(100%);transition:transform var(--duration-default) ease}
.drawer__inner-empty{height:100%;padding:0 1.5rem;overflow:hidden;display:flex;flex-direction:column}
.cart-drawer__warnings{display:flex;flex-direction:column;flex:1;justify-content:center}
cart-drawer.is-empty .drawer__inner{display:grid;grid-template-rows:1fr;align-items:center;padding:0}
cart-drawer.is-empty .drawer__header{position:absolute}
cart-drawer.is-empty .insurance-container-cart{display:none}
cart-drawer.is-empty .drawer__footer{display:none}
cart-drawer:not(.is-empty) .cart-drawer__collection,cart-drawer:not(.is-empty) .cart-drawer__warnings{display:none}
.cart-drawer__warnings--has-collection .cart__login-title{margin-top:2.5rem}
.drawer.active .drawer__inner{transform:translateX(0)}
.drawer__header{background:#f4f0f0;color:#000;width:100%;height:62px;display:flex;align-items:center;justify-content:space-between;padding:1rem 2rem;top:0}
.drawer__heading{font-size:18px!important;color:#1a1a1a;font-weight:500;margin: 0;}
.cart_drawer__close img {display: block;}
.free-shipping-banner{text-align:center;color:green;font-size:16px;margin-bottom:10px;padding:16px 0;line-height:150%;letter-spacing:1%;border-bottom:1px solid #d9d9d9;padding-top:0px;}
.drawer__close{width:24px;height:24px;cursor:pointer}
.cart-drawer__warnings .drawer__close{right:5px}
.drawer__close .svg-wrapper{height:2rem;width:2rem}
.drawer__contents{flex-grow:1;display:flex;flex-direction:column;padding:2rem 1.5rem 0}
.drawer__footer{padding:0 20px;background:#f4f0f0;border-radius:8px}
cart-drawer-items.is-empty+.drawer__footer{display:none}
.drawer__footer>details{margin-top:-1.5rem;border-bottom:.1rem solid rgba(var(--color-foreground),.2)}
.drawer__footer>details[open]{padding-bottom:1.5rem}
.drawer__footer summary{display:flex;position:relative;line-height:1;padding:1.5rem 2.8rem 1.5rem 0}
.drawer__footer>details+.cart-drawer__footer{padding-top:1.5rem}
cart-drawer{position:fixed;top:0;left:0;width:100vw;height:100%}
.cart-drawer{width:40%;z-index:999999999}
.cart__empty-text {margin: 0rem 0 2rem !important;}

@media(max-width:786px){
.cart-drawer{width:100%}
.drawer__inner{max-width:100%;bottom:0;position:absolute;height:90%;border-radius:12px}
.free-shipping-banner{font-size:14px}
.cart-drawer .cart-item{padding-bottom:6px;/* height:145px!important;*/}
.cart-drawer .cart-item{padding-bottom:6px}
.cart-item__quantity{bottom:6px}
.cart-item__name{font-size:14px}
.delivery-date-expected{font-size:12px;/*position: absolute; bottom: 13px;*/}
.cart-item__price-wrapper{font-size:14px}
.cart-drawer__form .savings-label{height:30px}
.label-text{font-size:6px}
.label-amount{font-size:14px}
.cart-drawer__form .cart-item__media {width: 100%;}
.cart-drawer__form .cart-item__name {max-width: 130px !important;}
}
.cart-drawer__overlay{position:fixed;top:0;right:0;bottom:0;left:0}
.cart-drawer__overlay:empty{display:block}
.cart-drawer__form{flex-grow:1;display:flex;margin-bottom: 20px;}
.cart-drawer__collection{margin:0 2.5rem 1.5rem}
.cart-drawer .drawer__cart-items-wrapper{flex-grow:1}
.cart-drawer .cart-items,.cart-drawer tbody{display:grid;width:100%;gap:1rem}
.cart-drawer thead{display:inline-table;width:100%}
cart-drawer-items{overflow:auto;flex:1}
@media screen and (max-height:650px){
cart-drawer-items{overflow:visible}
.drawer__inner{overflow:scroll}
}
.cart-drawer .cart-item{display:grid;grid-template:repeat(3,auto)/repeat(5,1fr);gap:0;margin-bottom:0!important;position:relative;height:auto;align-items:baseline;column-gap: 1rem;}
.cart-drawer .cart-item:last-child{margin-bottom:1rem}
.cart-drawer .cart-item__media{grid-row:1/3}
.cart-drawer .cart-item__image{max-width:100%;position:absolute;}
.cart-drawer .cart-items thead{margin-bottom:.5rem}
.cart-drawer .cart-items thead th:first-child,.cart-drawer .cart-items thead th:last-child{width:0;padding:0}
.cart-drawer .cart-items thead th:nth-child(2){width:50%;padding-left:0;font-size:16px!important;text-align:left;color:#000!important}
.cart-drawer .cart-items thead tr{display:table-row;margin-bottom:0}
.cart-drawer .cart-items th{border:none;font-size:16px;padding:0;color:#000}
.cart-drawer .cart-item:last-child{margin-bottom:1.5rem}
.cart-drawer .cart-item .loading__spinner{right:5px;padding-top:2.5rem}
.cart-drawer .cart-items td{padding-top:1.7rem}
.cart-drawer .cart-item>td+td{padding-left:0}
.cart-drawer .cart-item__details{width:max-content;grid-column:2/4}
.cart-drawer .cart-item__totals{pointer-events:none;display:block;align-items:flex-start;justify-content:flex-end;grid-column:5/6;padding:10px 0;}
.cart-drawer.cart-drawer .cart-item__price-wrapper>:only-child{margin-top:0}
.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices{display:flex;gap:.6rem;}
.cart-drawer .unit-price{margin-top:.6rem}
.cart-drawer .cart-items .cart-item__quantity{padding-top:0;grid-column:2/7;bottom:0;right:0;padding:0 0px;display: flex; justify-content: space-between;align-items: center;}
.cart-drawer .product-option {font-size: 14px;}
.checkout-button .grand-total strong {color: #1a1a1a;}
.parent_item {border:1px solid #d5c5c3;border-radius:8px;}
.cart-item_components {grid-column: 1 / 7;padding-top:10px!important;display: flex;flex-direction: column;gap: 5px;padding-left:50px!important;padding-right: 15px !important;}
.component_item { display: grid;align-items:center;gap:30px; grid-template-columns: repeat(5, 1fr);border-bottom: 1px solid #cccccc;padding:10px;}
.component_item_details { grid-column: 2 / 5; }
.component_item_details .item_details { margin: 0!important }
.component_item_price { grid-column: 5 / 7; }
.component_item_price .cart-item__price-wrapper { flex-direction: column; gap: 0!important;}
.commponent_item_image_item {width:100%;height:100%;}
.cart-item_components .component_item:last-child {border: none;}
@media screen and (max-width:749px){
.cart-drawer .cart-item cart-remove-button{margin-left:0}
.cart-drawer .cart-item__totals{padding:0; grid-column:5/7;}
.cart-drawer__form .savings-label{right:0;position:absolute}
}
.cart-drawer__footer>*+*{margin-top:1rem}
.cart-drawer .totals{justify-content:space-between}
.cart-drawer .price{line-height:1.7;letter-spacing:-.5px;font-weight:600;font-size:16px}
.cart-drawer .tax-note{margin:1.2rem 0 2rem auto;text-align:left;font-size: 12px !important;}
.cart-drawer .product-option dd{word-break:break-word}
.cart-drawer details[open]>summary .icon-caret{transform:rotate(180deg)}
.cart-drawer .cart__checkout-button{max-width:none;width:90%;margin:0 20px}
.drawer__footer .cart__dynamic-checkout-buttons{max-width:100%}
.drawer__footer #dynamic-checkout-cart ul{flex-wrap:wrap!important;flex-direction:row!important;margin:.5rem -.5rem 0 0!important;gap:.5rem}
.drawer__footer [data-shopify-buttoncontainer]{justify-content:flex-start}
.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(50% - .5rem)!important;margin:0!important}
.drawer__footer #dynamic-checkout-cart ul>li:only-child{flex-basis:100%!important;margin-right:.5rem!important}
.cart-item_components {padding-left:30px!important;}
@media screen and (min-width:750px){
.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(100% / 3 - .5rem)!important;margin:0!important}
.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2)~li,.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4)~li{flex-basis:calc(50% - .5rem)!important}
}
cart-drawer-items::-webkit-scrollbar{width:3px}
cart-drawer-items::-webkit-scrollbar-thumb{background-color:rgba(var(--color-foreground),.7);border-radius:100px}
cart-drawer-items::-webkit-scrollbar-track-piece{margin-top:31px}
.cart-drawer .quantity-popover-container{padding:0}
.cart-drawer .quantity-popover__info.global-settings-popup{transform:translateY(0);top:100%}
.cart-drawer .cart-item__error{margin-top:.8rem}
.cart-drawer .quantity-popover__info+.cart-item__error{margin-top:.2rem}
.checkout-info{display:flex;justify-content:space-between}
.cart-drawer .cart__checkout-button {border-radius: 8px;}
@media screen and (min-width:750px){
.cart-drawer .cart-item__quantity--info quantity-popover>*{padding-left:0}
.cart-drawer .cart-item__error{margin-left:0}
.cart__ctas{flex-direction:column;width:100%}
}
.addtoWishlist{display:none}
.cart-qty{flex-direction:row-reverse}
.qty{width:90px!important;height:35px!important;min-height:0}
.cart-engrav{flex:1;display:flex;justify-content:center;align-items:center;gap:5px}
.cart-container{cursor:pointer;padding-block:10px;background:#f4f0f0;border-radius:0 0 8px 8px;display:flex;justify-content:space-evenly}
.td-cart{text-align:center;grid-column:1/7;padding:0!important}
.cart-engrav-p{margin:7px 0;font-weight:400;font-size:12px;line-height:150%;letter-spacing:.6px;text-align:center;vertical-align:middle;text-transform:capitalize;color:#666}
.cart-prodEngrav-engraving-input{display:none;margin-top:10px}
.cart-prodEngrav-icons{margin-top:5px}
.cart-prodEngrav-icon{cursor:pointer;font-size:18px;margin-right:5px}
.cart-prodEngrav-engravingText{height:35px;text-align:center;border:1px solid #ccc;border-radius:5px}
.insurance-container-cart{display:flex;align-items:center;justify-content:space-between;background-color:#f7f3f2;border-radius:8px;padding:10px 15px;height:66px;font-size:16px;color:#5f5f5f;border:1px solid #e0e0e0;margin:0 22px 22px}
.insurance-text-cart{display:flex;align-items:center;gap:10px}
.insurance-text-cart input[type=checkbox]{width:24px;height:24px;cursor:pointer}
.insurance-text-cart p{font-size:14px;margin:0;line-height:1.4}
.insurance-price-cart{font-weight:700;color:#000}
.vertical-line{display:flex!important;width:1px;margin:10px 0;background-color:#b3b3b3}
.checkout-button{position:sticky;align-items:start;justify-content:center;bottom:0;background:#f4f0f0;padding-block:1rem; padding-bottom: 20px; z-index:1000}
.cart-drawer__form .quantity__button {width: 25px;}
.cart-drawer__form .quantity:after {border-radius: 6px;}
.cart-drawer__form .cart-item__name {text-transform: capitalize !important; max-width: 210px; letter-spacing: 1px;}
.cart-drawer__empty-content a {border-radius: 8px; text-transform: capitalize;}
.cart-drawer h2.cart__empty-text { text-transform: capitalize; margin-bottom: 20px !important; font-size: 18px !important;}
.cart-drawer .cart__login-title { margin: 4.0rem 0 0rem !important; font-size: 15px !important; }
.checkout-info .grand-total {margin: 6px 0;}
lottie-player#empty-icon { width: 160px; height: 200px; object-fit: cover; margin: 0 auto; }
@media screen and (max-width:767px){
.you-may-also-like-wrapper-mobile{display:block!important}
.you-may-also-like-container-mobile{display:flex;gap:10px;overflow-x:scroll;margin:20px}
.you-may-also-like-item-mobile{border:1px solid grey;border-radius:8px;padding: 10px;max-width: 156px;}
.you-may-also-like-header-mobile{font-weight:400;font-style:Book;font-size:14px;leading-trim:NONE;line-height:150%;letter-spacing:4%;text-transform:uppercase;margin-left:20px}
.you-may-also-like-title-mobile{font-weight:400;font-style:Book;font-size:12px;color:#1a1a1a;margin:0;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.you-may-also-like-price-mobile{font-family:Futura Std;font-weight:600;font-size:14px;color:#1a1a1a;margin:0;margin-bottom:10px}
.you-may-also-like-item-mobile a{text-decoration:none}
img.you-may-also-like-image-mobile{height:170px;width:170px}
.cart-drawer .cart-item__details{grid-column:2/5;width:auto}
.cart-drawer .cart-item>td+td{padding-left:0;padding-top:0}
.cart-drawer .cart-item{padding:10px 8px;}
.cart-item__quantity .quantity__button{width:25px!important}
.quantity:after{border-radius:6px}
.quantity:before{border-radius:6px}
p#ViewPriceBreakup{font-size:12px}
.cart-drawer__form .cart-item__name {text-decoration: none; display: block; letter-spacing: .2px; text-transform: capitalize; color: #1a1a1a; font-weight: 500; font-size: 14px; line-height: 150%; vertical-align: middle;}
.cart-drawer .cart-item .product-option {font-size: 10px;} 
cart-remove-button .button {min-width: 25px !important; min-height: 25px !important;}
.quantity__input {font-size: 12px; padding: 0;}
.qty { width: 75px !important; height: 30px !important; min-height: 0; }
.cart-drawer .cart-items .cart-item__quantity {padding: 0;}
  .cart-drawer .price {font-size: 14px;}
  .cart-drawer__form .label-amount {font-size: 12px !important;}
  .cart-drawer__form .label-text {font-size: 8px;}
  .cart-drawer__form .savings-label {padding: 0 8px;}
.cart-items, .cart-items thead, .cart-items tbody { display: flex !important; width: 100%; flex-direction: column; }
  .cart-drawer .cart__checkout-button {border-radius: 8px;}
  .checkout-button .totals>h2 {font-size: 12px;}
  .checkout-button .totals__total-value {font-size: 12px;}
  .checkout-button .tax-note {font-size: 10px; margin-top: 24px;margin-top: 12px; margin-bottom: 12px;}
  .checkout-button .grand-total {color: #1a1a1a;}
  img.you-may-also-like-image-mobile { width:auto;height:140px; border-radius: 8px; }
  .cart-drawer__footer>*+* {margin-top: 6px;}
  .free-shipping-banner {border-bottom: 0;padding: 0;}
  cart-remove-button .icon-remove {height: 1.15rem !important; width: 1.15rem !important;}
  .matching-you-may-also-like-wrapper { display: flex ; gap: 10px; }
}
@media screen and (min-width:768px){
.you-may-also-like-wrapper-mobile{display:none!important}
}

@media screen and (min-width:1600px){
  .you-may-also-like-price {font-size: 18px;}
  .checkout-button .totals>h2 {font-size: 16px;}
}

@media only screen and (min-width:0px) and (max-width:370px){
  .qty {width: 70px !important;}
  .cart-item__quantity .quantity__button {width: 20px !important;}
}

.cart{position:relative;display:block}
.cart__empty-text,.is-empty .cart__contents,.is-empty .cart__footer,cart-items.is-empty .title-wrapper-with-link{display:none}
.is-empty .cart__empty-text,.is-empty .cart__warnings{display:block}
.cart__warnings{display:none;text-align:center;padding:3rem 0 1rem}
.cart__empty-text{margin:4.5rem 0 2rem}
.cart__contents>*+*{margin-top:2.5rem}
.cart__login-title{margin:5.5rem 0 .5rem}
.cart__login-paragraph{margin-top:.8rem}
.cart__login-paragraph a{font-size:inherit}
@media screen and (min-width:990px){
.cart__warnings{padding:7rem 0 1rem}
.cart__empty-text{margin:0 0 3rem}
}
cart-items{display:block}
.cart__items{position:relative;padding-bottom:3rem;border-bottom:.1rem solid rgba(var(--color-foreground),.08)}
.cart__items--disabled{pointer-events:none}
.cart__footer-wrapper:last-child .cart__footer{padding-bottom:5rem}
.cart__footer>div:only-child{margin-left:auto}
.cart__footer>*+*{margin-top:6.5rem}
.cart__footer .discounts{margin-bottom:1rem}
.cart__note{height:fit-content;top:2.5rem}
.cart__note label{display:flex;align-items:flex-end;position:absolute;line-height:1;height:1.8rem;top:-3rem;color:rgba(var(--color-foreground),.75)}
.cart__note .field__input{height:100%;position:relative;border-radius:var(--inputs-radius);padding:1rem 2rem}
.cart__note .text-area{resize:vertical}
.cart__note .field__input,.cart__note .field__input:focus,.cart__note:after,.cart__note:before,.cart__note:hover.cart__note:after,.cart__note:hover.cart__note:before{border-bottom-right-radius:0}
@media screen and (min-width:750px){
.cart__items{grid-column-start:1;grid-column-end:3;padding-bottom:4rem}
.cart__contents>*+*{margin-top:0}
.cart__items+.cart__footer{grid-column:2}
.cart__footer{display:flex;justify-content:space-between;border:0}
.cart__footer-wrapper:last-child{padding-top:0}
.cart__footer>*{width:35rem}
.cart__footer>*+*{margin-left:4rem;margin-top:0}
}
.cart__ctas button{width:90%;border-radius:8px;font-size:14px;text-transform:uppercase;padding:16px;margin:0 auto}
.cart__ctas>*+*{margin-top:0}
.cart__update-button{margin-bottom:1rem}
.cart__dynamic-checkout-buttons{max-width:36rem;margin:0 auto}
.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty){margin:0}
.cart__blocks>*+*{margin-top:1rem}
.cart-note__label{display:inline-block;margin-bottom:1rem;line-height:calc(1 + 1 / var(--font-body-scale))}
.tax-note{margin:2.2rem 0 1.6rem auto;text-align:center;display:block}
.cart__checkout-button{max-width:36rem}
.cart__ctas{text-align:center;width:100%}
@media screen and (min-width:750px){
.cart-note{max-width:35rem}
.cart__update-button{margin-bottom:0;margin-right:.8rem}
.tax-note{margin-bottom:2.2rem;text-align:right}
[data-shopify-buttoncontainer]{justify-content:flex-end}
.cart__ctas{display:flex;gap:1rem}
}

.totals{display:flex;justify-content:center;align-items:flex-end}
.totals>*{font-size:1.4rem;margin:0}
.totals>h2{font-size:calc(var(--font-heading-scale) * 1.6rem)}
.totals *{line-height:1}
.totals>*+*{margin-left:2rem}
.totals__total{margin-top:.5rem}
.totals__total-value{font-weight:500;font-size:14px;line-height:150%;letter-spacing:1px;vertical-align:middle;text-transform:capitalize}
.totals__total-value_delivery{font-weight:500;font-size:14px;line-height:150%;letter-spacing:1px;vertical-align:middle;text-transform:capitalize}
.cart__ctas+.totals{margin-top:2rem}
@media all and (min-width:750px){
.totals{justify-content:flex-end}
}

.price{font-size:1.6rem;letter-spacing:.1rem;line-height:calc(1 + .5 / var(--font-body-scale));color:rgb(var(--color-foreground))}
.price>*{display:inline-block;vertical-align:top}
.price.price--unavailable{visibility:hidden}
.price--end{text-align:right}
.price .price-item{display:inline-block;margin:0}
.price__regular .price-item--regular{margin-right:0}
.price:not(.price--show-badge) .price-item--last:last-of-type{margin:0}
@media screen and (min-width:750px){
.price{margin-bottom:0}
}
.price--large{font-size:1.6rem;line-height:calc(1 + .5 / var(--font-body-scale));letter-spacing:.13rem}
@media screen and (min-width:750px){
.price--large{font-size:1.8rem}
}
.price--sold-out .price__availability,.price__regular{display:block}
.price .price__badge-sale,.price .price__badge-sold-out,.price--on-sale .price__availability,.price--on-sale .price__regular,.price__availability,.price__sale{display:none}
.price--on-sale .price__badge-sale,.price--sold-out .price__badge-sold-out,.volume-pricing--sale-badge .price__badge-sale{display:inline-block}
.volume-pricing--sale-badge .price__badge-sale{margin-left:.5rem}
.price--on-sale .price__sale{display:initial;flex-direction:row;flex-wrap:wrap}
.price--center{display:initial;justify-content:center}
.price--on-sale .price-item--regular{text-decoration:line-through;color:rgba(var(--color-foreground),.75);font-size:1.3rem}
.unit-price{display:block;font-size:1.1rem;letter-spacing:.04rem;line-height:calc(1 + .2 / var(--font-body-scale));margin-top:.2rem;color:rgba(var(--color-foreground),.7)}

.discounts{font-size:1.2rem}
.discounts__discount{display:flex;align-items:center;line-height:calc(1 + .5 / var(--font-body-scale))}
.discounts__discount svg{color:rgba(var(--color-button),var(--alpha-button-background))}
.discounts__discount--position{justify-content:center}
@media screen and (min-width:750px){
.discounts__discount--position{justify-content:flex-end}
}
.discounts__discount>.icon{color:rgb(var(--color-foreground));width:1.2rem;height:1.2rem;margin-right:.7rem}

@media screen and (max-width:750px){
.cart-drawer__form .cart-item__name {font-size: 12px;}
}
.parent-remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  margin-left: 8px;
}
.drawer {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease;
}
.drawer.active {
  opacity: 1;
  pointer-events: auto;
}
.cart-item {
  transition: opacity 0.25s ease, transform 0.25s ease, height 0.25s ease;
}

.cart-item.is-removing {
  opacity: 0;
  transform: translateX(10px);
}
