@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
html {scroll-behavior: smooth;}
body {font-family: "Futura Std", sans-serif !important;}
h1, h2, h3, h4, h5, h6, p, span, a, li {font-family: "Futura Std", sans-serif !important;}
section#shopify-section-otp-section { position: relative; z-index: 9999999; }
.page-width {max-width: 1920px !important; width: 92% !important; margin: 0 auto !important; padding-left: 0 !important; padding-right: 0 !important;}
i {font-family: fontAwesome !important; font-weight: 500 !important;}
a {text-decoration: none;}
*:focus-visible {box-shadow: none !important; outline: none;}
/* header */
.header__active-menu-item {text-decoration: none;}
.header__menu-item span { color: #333333; }
.desktop-show {display: block !important;}
.mobile-show {display: none;}
.header details[open]>.header__menu-item {text-decoration: none;}
.mega-menu__link--level-2 { font-weight: 500 !important; font-size: 14px; line-height: 1.3 !important; letter-spacing: 1px; vertical-align: middle; text-transform: uppercase; text-decoration: none !important; color: #1A1A1A !important;}
.mega-menu__link { font-weight: 500; font-size: 14px; line-height: 1.3; letter-spacing: 1px; vertical-align: middle; }
.mega-menu__link {font-weight: 500 !important; color: #1a1a1a;}
.header__menu-item {font-weight: 500; font-size: 14px; line-height: 1.5; letter-spacing: 1px; vertical-align: middle; text-transform: uppercase; color: #1a1a1a; }
div#icon-kwikpass { width: 44px; display: flex ; justify-content: center; }
path#svgkp-path { stroke-width: 1; fill: #333333 !important; }
.header--icon {width: 44px; height: 44px; justify-content: center;}
#menu-backdrop {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); z-index: 3; }
#menu-backdrop.active {display: block;}
.mega-menu[open] .mega-menu__content {border-radius: 0 0 12px 12px; padding: 0;}
.mega-menu__list li:not(:last-child) { border-right: 1px solid #E6E6E6; }
.mega-menu__list li li {border: 0 !important;}
.mega-menu__list.page-width li {margin-top: 30px; margin-bottom: 30px;}
.mega-menu__list.page-width li li {margin-top: 0;margin-bottom: 0;display: flex ; align-items: center; gap: 8px;}
.mega-menu__image img {width: 24px; display: block;}
.mega-menu__image img { width: 20px; display: block; }
.field:before, .select:before, .customer .field:before, .customer select:before, .localization-form__select:before {box-shadow: none;}
.field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after {box-shadow: none;}
.search__input.field__input {background: #F2F2F2;}
.field:hover.field:after {box-shadow: none;}
.field__input:focus {box-shadow: none; !important}
.header__icons .search_wrapper {margin-right: 12px; max-width: 600px; width: 100%;}
.header__icons .search__input.field__input { padding-left: 5.8rem; padding-right: 2rem; font-family: Futura Std; font-weight: 500 !important; font-size: 14px !important; line-height: 100%; letter-spacing: 1px; vertical-align: middle; text-transform: capitalize; border-radius: 12px; }
.header__icons .search__input.field__input::placeholder {font-weight: 500 !important; font-size: 12px !important;}
button.search__button.field__button { left: 6px; }
.header:not(.header--middle-left,.header--middle-center) .header__inline-menu {margin-top: 1.4rem;}
.header__icons .icon-wrapper {display: flex;}
.header__icons { display: flex ; grid-area: icons; justify-self: end; padding-right: 0; justify-content: space-between; max-width: 80%; width: 100%; }
.search-modal__form .field__label {font-size: 14px;}
.field__input:focus {padding: .8rem 1.5rem .8rem 2rem;}
.field__input:focus~.field__label {display: none;}
predictive-search[open] .predictive-search {left: -490px; border-radius: 12px;}
.field__input:not(:placeholder-shown)~.field__label {display: none;}
.field__input:not(:placeholder-shown) {padding: .8rem 1.5rem .8rem 2rem;}
.index .caption-with-letter-spacing, .predictive-search .caption-with-letter-spacing { color: #876764 !important; font-weight: 500 !important; font-size: 14px !important; line-height: 2 !important; text-align: left; vertical-align: middle; }
.header__icon.announce svg path {stroke: #333;}


.predictive-search__result-group:first-child { background: #fff8ee;}
.predictive-search__item-heading { margin: 0; font-size: 16px; font-weight: 500 !important; text-decoration: none; }
.predictive-search__item-query-result *:not(mark) { font-weight: 500 !important; }
.predictive-search__item-query-result mark { background-color: transparent; font-weight: 500 !important; color: #604644; }
.predictive-search__item-heading { margin: 0; font-size: 14px; font-weight: 500 !important; text-decoration: none; line-height: 1.6; }
.header--icon { width: 44px; height: 42px; justify-content: center; }
.product-menu-image img {width: 100%; height: auto; border-radius: 8px;}
#MegaMenu-Content-7 .mega-menu__list {display: grid ; grid-template-columns: calc(15% - 5px) calc(15% - 5px) calc(33.33% - 5px) calc(33.33% - 5px); gap: 20px;}
#MegaMenu-Content-1 ul.mega-menu__list.page-width { grid-template-columns: calc(18% - 0px) calc(18% - 0px) calc(18% - 0px) calc(18% - 0px) auto; }
span.menu-image-caption { position: absolute; bottom: 14px; left: 20px; letter-spacing: 1.2px;z-index: 1;}
.product-menu-image a {position: relative; color: #fff; font-weight: 500; font-size: 14px; letter-spacing: 1px; vertical-align: middle; text-transform: uppercase; width: 100%;}
#MegaMenu-Content-6 ul.mega-menu__list { display: grid ; grid-template-columns: repeat(4, 1fr); gap: 20px !important; }
#MegaMenu-Content-6 .mega-menu__list li {border: 0;}
#MegaMenu-Content-7 .mega-menu__list li:not(:first-child) {border: 0;}
.mega-menu__content { max-height: 0; opacity: 0; overflow: hidden; transition: max-height 0.6s ease, opacity 0.1s ease-in; }
.mega-menu__content.active { max-height: 2000px; opacity: 1; overflow: hidden;}
.mega-menu__content::-webkit-scrollbar { display: none; }
.mega-menu__content { -ms-overflow-style: none; scrollbar-width: none; }
.mega-menu__content.leaving { opacity: 0; max-height: 2000px; transition: opacity 0.1s ease-out; }
#MegaMenu-Content-5 ul.mega-menu__list.page-width { grid-template-columns: calc(14% - 0px) calc(14% - 0px) calc(15% - 0px) calc(15% - 0px) calc(15% - 0px) auto; }







.header__icons .search__input.field__input:focus {border: 1px solid #a68380;}

.field__label { display: flex; gap: 5px; font-size: 14px; color: #666; overflow: hidden; height: 20px;}
.search-labels { display: inline-block; position: relative; height: 20px; overflow: hidden; }
.search-labels span { display: block; line-height: 20px; animation: slideUp 9s infinite; }
#MegaMenu-Content-6 .product-menu-image img { width: 100%; height: auto; border-radius: 8px; aspect-ratio: 1 / 1; }
#MegaMenu-Content-7 .product-menu-image img {aspect-ratio: 6 / 4;}
sticky-header .small-logo {display: none;}



.header-wrapper--transparent{position:absolute !important;width:100% !important;background:0 0 !important;transition:background .3s,color .3s,box-shadow .3s;z-index:50 !important;}
.header-wrapper--transparent header{color:#fff}
.header-wrapper .header__heading-logo-wrapper img {width: 90px; height: 50px;}
.header-wrapper--transparent .header__heading-logo-wrapper img{width:90px;height:50px;object-fit:contain;display:inline-block;transition:all .3s ease;content:url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/White_Logo_610_X_158_px_1_6ca77c93-575b-42eb-abba-38c27eb9aeae.png?v=1750069636)}
.header-wrapper--transparent .header__icon{color:#fff}
.header-wrapper--transparent .header__icon.announce svg path{stroke:#fff}
.header-wrapper--transparent .header__icon--cart svg path{fill:#fff}
.header-wrapper--transparent .search__input.field__input{background:0 0;border:1px solid #f2f2f2;color:#fff}
.header-wrapper--transparent .search__button svg path{fill:#fff}
.header-wrapper--transparent .field__label{color:#fff}
.header-wrapper--transparent .header__menu-item span{color:#fff}
.header-wrapper--transparent path#svgkp-path{fill:#fff!important}
.header-wrapper--transparent .header__icon--search svg path {fill: #fff;}
.header-wrapper--transparent:hover{background:#fff !important;}
.header-wrapper--transparent:hover .header__icon--cart svg path{fill:#333}
.header-wrapper--transparent:hover .header--icon{color:#333}
.header-wrapper--transparent:hover path#svgkp-path{fill:#333!important}
.header-wrapper--transparent:hover .iwishDrawer svg path{stroke:#333}
.header-wrapper--transparent:hover .header__icon.announce svg path{stroke:#333}
.header-wrapper--transparent:hover .field__label{color:#666}
.header-wrapper--transparent:hover .header__menu-item span{color:#1a1a1a}
.header-wrapper--transparent:hover .header__heading-logo-wrapper img{content:none}
.header-wrapper--transparent:hover .search__input.field__input{background:#f2f2f2;border:1px solid #f2f2f2}
.header-wrapper--transparent:hover .search__button svg path{fill:#1a1a1a}
.header-wrapper--transparent:hover .field__label{color:#666}
.header-wrapper--transparent:hover .search__input.field__input { background: #f2f2f2; border: 1px solid #f2f2f2; color: #333; }
.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after { box-shadow: none !important; outline: 0; border-radius: 12px;}
.field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after {border-radius: 12px; box-shadow: none;}
.header-wrapper--transparent:hover .header__icon--menu path {fill: #333;}
.header-wrapper--transparent .header__icon--search svg path {fill: #fff;}
.sticky-header.header-wrapper .header__heading-logo-wrapper img {content:none;}
.sticky-header header{color:#333}
.sticky-header.header-wrapper{position:relative;width:100%;background:#fff;transition:.3s}
.sticky-header.header-wrapper .search__input.field__input { background: #f2f2f2; border: 1px solid #f2f2f2; }
.sticky-header.header-wrapper .header__heading-logo-wrapper img{width:85px;height:50px;object-fit:contain;display:inline-block;transition:all .3s ease}
.sticky-header header .header__icon{color:#333}
.sticky-header .header {padding-top: 8px; padding-bottom: 8px;}
.sticky-header.header-wrapper .header__icon.announce svg path{stroke:#333}
.sticky-header.header-wrapper .search__button svg path { fill: #1a1a1a; }
.sticky-header.header-wrapper .search__input.field__input {color: #333;}
.sticky-header.header-wrapper .search__input.field__input:focus {color: #333;}
.sticky-header.header-wrapper .header__icon--cart svg path{fill:#333}
.sticky-header.header-wrapper .header__menu-item span {color:#1a1a1a}
.sticky-header.header-wrapper .field__label {color: #333;}
.sticky-header.header-wrapper .header__icon--menu path {fill: #333;}

.header-wrapper--transparent:hover .header__icon--search svg path {fill: #333 !important;}
.sticky-header.header-wrapper:hover .search__input.field__input{background:#f2f2f2;border:1px solid #ccc}
.sticky-header.header-wrapper:hover .search__button svg path{fill:#1a1a1a}
.sticky-header.header-wrapper:hover .header__icon{color:#333!important}
.sticky-header.header-wrapper:hover .field__label{color:#666}
.sticky-header.header-wrapper:hover .header__menu-item span{color:#1a1a1a}
.header-wrapper { transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; }
.header-wrapper .header__heading-logo-wrapper img { transition: all 0.3s ease; }
.header-wrapper--transparent { position: absolute; width: 100%; background: transparent; z-index: 50; }
.sticky-header.header-wrapper { position: fixed !important; /* stays on top */ top: 0; left: 0; width: 100% !important; background: #fff !important; box-shadow: 0 2px 6px rgba(0,0,0,0.08); /* smooth shadow on scroll */ transform: translateY(0); /* ensure smoothness */ }
svg.icon.icon-caret {width: 6px;}
a .header__active-menu-item {color: #a68380;}
.field:hover.field:after, .select:hover.select:after, .select__select:hover.select__select:after, .customer .field:hover.field:after, .customer select:hover.select:after, .localization-form__select:hover.localization-form__select:after {box-shadow; none !important; border: 0;}
.header__menu-item.list-menu__item.link {position: relative; transition: 0.3s; padding: 0; padding-left: 0; padding-right: 0; margin-left: 12px; margin-top: 12px; margin-bottom: 12px;}
.header__menu-item.list-menu__item.link:hover:after {content: ''; position: absolute; bottom: -20px; left: 0; background: #a68380; width: 100%; height: 2px;}
.header__menu-item.list-menu__item.link:hover span {color: #a68380;}
.sticky-header.header-wrapper .header__menu-item.list-menu__item.link {position: relative;}
.sticky-header.header-wrapper .header__menu-item.list-menu__item.link:hover:after {content: ''; position: absolute; bottom: -24px; left: 0; background: #a68380; width: 100%; height: 2px;}
/* input[type=checkbox] { accent-color: #a68380; border: 1px solid #a68380; border-radius: 0px; }
input[type="checkbox"]:checked {background-color: #a68380;}
input[type="checkbox"]:checked + svg + .svg-wrapper path { fill: #fff;}
.active-facets__button--light .active-facets__button-inner { box-shadow: none !important; background: #f2f2f2; }
.facets__summary { color: #1A1A1A; font-size: 14px; border-radius: 8px;}
.facets__summary svg.icon.icon-caret {width: 10px;}
span.facet-checkbox__text { color: #1A1A1A !important; font-size: 14px !important; letter-spacing: 0.7px !important; font-weight: 500 !important; }
.facets-vertical .facets__summary {font-weight: 500 !important; color: #1A1A1A !important; font-size: 14px !important; text-transform: capitalize; letter-spacing: 0.7px !important;}
.facets__heading--vertical { margin: 0 0 1.5rem; font-size: 16px !important; color: #1A1A1A !important; text-transform: uppercase !important; letter-spacing: 0.7px !important; }
.facet-filters__label label {font-size: 16px; color: #1A1A1A; text-transform: uppercase; letter-spacing: 0.6px;}
.facet-filters__sort:focus-visible {outline: none; outline-offset: inherit;}

a.active-facets__button-remove { font-weight: 500; font-size: 14px; letter-spacing: 0.7px; } */

section.information-content-section { padding: 0 !important; }
    
h2.information-content-heading {    margin-top: 28px !important; color: #1a1a1a; font-weight: 500; font-size: 26px; line-height: 150%; letter-spacing: 1px; vertical-align: middle; text-transform: uppercase; }
h3.information-content-heading {margin-top: 28px !important; margin-bottom: 0; color: #1a1a1a; font-weight: 400; font-size: 22px; line-height: 150%; letter-spacing: 1px; vertical-align: middle; text-transform: normal; }
.information-content-richtext p { font-weight: 400; font-size: 16px; line-height: 1.6; vertical-align: middle; color: #1a1a1a; margin-top: 12px; }
.information-content-richtext li {font-weight: 400; font-size: 16px; line-height: 1.6; vertical-align: middle; color: #1a1a1a;}
.information-content-wrapper {max-width: 840px; margin: 0 auto;}
.information-content-wrapper a { color: #5a413f; }
.information-content-section .page-width-full .information-content-wrapper {max-width: 100%;}
.information-content-section .page-width-full {max-width: 1920px !important; width: 92% !important; margin: 0 auto !important; padding-left: 0 !important; padding-right: 0 !important;}
.information-content-section .page-width-full .information-content-richtext h3 { margin: 0; font-size: 16px; margin-bottom: 6px; margin-top: 20px;  font-weight: 500; color: #5a413f; line-height: 1.6;}
.information-content-section .page-width-full .information-content-richtext p {font-weight: 400; font-size: 14px; line-height: 1.6; vertical-align: middle; color: #1a1a1a; margin-top: 12px; letter-spacing: 0.5px;}
section.information-content-section { padding: 20px 0 0 !important; }

.search-section{margin-bottom: 0; border-bottom: 1px solid #eee; padding-bottom: 12px;}
.popular-searches-wrapper .search-section:first-child {margin-top: 30px;}
.last{margin-bottom:40px}
h2.popular { color: #5a413f; font-weight: 500; margin-top: 26px; font-size: 18px !important; margin-bottom: 18px; padding-bottom: 20px; border-bottom: 1px solid #eaeaea; }
.search-section h3 { font-size: 16px; font-weight: 500; margin-top: 16px; color: #5a413f; }
.search-links{display:flex;flex-wrap:wrap;gap:6px 8px}
.search-links a { color: #333; text-decoration: none; font-weight: 500; transition: color .3s, transform .2s; padding: 2px 0; font-size: 14px; letter-spacing: 0.5px; }
.search-links a:hover{color:#a78481}
.search-links a:active{transform:scale(.98)}
.separator{color:#ccc;margin:0 2px}
.search-links .link-container{position: relative;}
.search-links .link-container:not(:first-child) {margin-left: 16px;}
.search-links .link-container:not(:last-child):after { content: ''; position: absolute; right: -12px; top: 8px; background: #666666; width: 1px; height: 12px; }
li.product-menu-image a {position: relative; display: block; border-radius: 12px; overflow: hidden;}
li.product-menu-image a img {display: block;}
li.product-menu-image a:after { content: ""; position: absolute; left: 0; top: 0px; width: 100%; height: 100%; background: linear-gradient(359.76deg, #000000 10%, #1698d500 40%); }
.empty-wishlist-container img {aspect-ratio: 1/1;}
img.item-certified { width: 44px; }
.cart-certificate-item-wrapper {display: flex ; align-items: center; gap: 16px; font-size: 16px; font-weight: 500;}
.cart-certificate-wrapper {display: flex ; align-items: center; gap: 40px; justify-content: center;    margin-bottom: 20px;}
.cart-drawer .drawer__cart-items-wrapper{flex-grow:1}

@media only screen and (min-width:1300px){
    .header-wrapper.sticky-header .header__heading,
    .header-wrapper.sticky-header .header__icons.header__icons--localization.header-localization { opacity: 0; transform: translateY(-20px); pointer-events: none; transition: opacity 0.3s ease, transform 0.3s ease; display: none;}
    .header-wrapper.sticky-header .header__inline-menu.desktop-menu {margin-top: 0px;}
    sticky-header.header-wrapper.sticky-header .small-logo {display: block;}
    sticky-header.header-wrapper.sticky-header .header__inline-menu.desktop-menu {display: flex; align-items: center;
        gap: 28px;}
    .header-wrapper.sticky-header .header__inline-menu {margin-left: 0 !important;}
    .small-logo img {display: block;}
    .header__heading, .header__icons.header__icons--localization.header-localization { opacity: 1; transform: translateY(0) scale(1); pointer-events: auto; transition: transform 0.4s ease, opacity 0.4s ease; will-change: transform, opacity; }
    .header-wrapper--transparent.sticky-header .header__heading, .header-wrapper--transparent.sticky-header .header__icons.header__icons--localization.header-localization { opacity: 0; transform: translateY(-50%) scale(0.9); pointer-events: none; }
    .header-wrapper.sticky-header .header__heading-link {display: none;}
}

@keyframes slideUp {
  0%, 20%   { transform: translateY(0%); }
  25%, 45%  { transform: translateY(-100%); }
  50%, 70%  { transform: translateY(-200%); }
  75%, 100% { transform: translateY(0%); }
}



@media only screen and (min-width:768px) and (max-width:1300px){
    nav.header__inline-menu { display: none; }
    .header { padding-top: 12px !important; padding-bottom: 12px !important; }
    .header__icons .search_wrapper { max-width: 300px;}
    .header--top-left, .header--middle-left:not(.header--has-menu) { grid-template-areas: "drawer heading icons" !important; grid-template-columns: auto auto 1fr !important; }
    .header__heading-logo { height: auto; max-width: 100%; width: 85px; }
    header-drawer {justify-self: start; margin-left: 0; margin-right: 12px;display: block !important;justify-self: start; margin: 0;}
    .header__heading-link {padding: 0;}
    header-drawer {margin-right: 10px;}
    .header--icon { width: 35px; height: 45px; justify-content: center;}
    ul.menu-drawer__menu.list-menu { padding-top: 12px; padding-left: 3rem; padding-right: 3rem; }
    .menu-drawer__menu-item {padding: 1rem 0rem !important;}
    .menu-drawer__menu-item>.svg-wrapper {right: 0rem; width: 6px;}
    .lucira-mobile-image-box img { width: 100%; height: auto; border-radius: 8px; }
    .lucira-mobile-image-box {position: relative;}
    .lucira-mobile-menu-drawer { display: grid ; grid-template-columns: 1fr 1fr; padding: 0 3rem; gap: 15px; margin-top: 12px; }
    .lucira-mobile-image-box span { position: absolute; bottom: 6px; left: 10px; color: #fff; font-size: 12px; }
    .lucira-mobile-image-box a {display: block;}
    .lucira-mobile-image-box img {display: block;}
    .menu-drawer__menu-item { padding: 1rem 3rem !important; text-decoration: none; font-size: 16px !important; }
    .menu-drawer__navigation { padding: 1rem 0 !important; }
    li.lucira-menu-drawer { display: grid ; grid-template-columns: 1fr 1fr; padding: 0 3rem; gap: 15px; margin-top: 12px; }
    ul.menu-drawer__menu.list-menu { padding-top: 12px; }
    ul.menu-drawer__menu.list-menu { padding-top: 12px; padding-left: 3rem; padding-right: 3rem; }
    .menu-drawer__menu-item {padding: 1rem 0rem !important;}
    .header__heading-link {padding: 0 .75rem;}

    h2.information-content-heading {font-size: 18px;}
    .information-content-richtext p {font-size: 14px;}
    .information-content-richtext li {font-size: 14px;}
    h3.information-content-heading {font-size: 16px;}
    .information-content-richtext ul { padding-left: 16px; }
    .investment-section { padding: 40px 0 20px; }
    .gold-table-v2-title { font-size: 18px; margin-bottom: 20px; text-align: left; }
    
}

@media only screen and (min-width:1200px) and (max-width:1300px){
    .header__icons {max-width: 850px !important;}
    .header__icons .search_wrapper {max-width: 540px;}
}

@media only screen and (min-width:1000px) and (max-width:1199px){
    .header__icons {max-width: 88% !important;}
    .header__icons .search_wrapper {max-width: 540px;}
}

@media only screen and (min-width:0px) and (max-width:999px){
    .header__icons {justify-content: flex-end;}
    .header__icons .search_wrapper {max-width: 350px;}
    
}

@media only screen and (min-width:0px) and (max-width:767px){
    .header__heading-logo-wrapper {width: 80px;}
    .header__icons .search_wrapper {margin-right: 0px;}
    predictive-search[open] .predictive-search { left: inherit; width: 100%; }
    .reset__button { left: 90%;}
    .reset__button:not(:focus):after {border-right: 0 !important;}
    .index .caption-with-letter-spacing, .predictive-search .caption-with-letter-spacing { color: #876764 !important; font-weight: 600 !important; font-size: 14px !important; line-height: 2 !important; letter-spacing: 1px; text-align: left; vertical-align: middle; }
    .header__heading-logo { height: auto; max-width: 100%; width: 80px; }
    .header { padding: 6px 0rem 6px 0rem !important; }
    .announcement-bar .slider-button--next { margin-right: 0; min-width: 30px; height: 30px; }
    .announcement-bar .slider-button--prev { margin-left: 0; min-width: 30px; height: 30px; }
    .announcement-bar__message {padding: 1.1rem 0;}
    .header__icon {height: 3.8rem; width: 3.8rem;}
    .header--icon { width: 35px; height: 35px; justify-content: center; }
    svg.icon-angle-arrow {height: 10px; width: 10px;}
    .lucira-mobile-image-box img { width: 100%; height: auto; border-radius: 8px; }
    .lucira-mobile-image-box {position: relative;}
    .lucira-mobile-menu-drawer { display: grid ; grid-template-columns: 1fr 1fr; padding: 0 3rem; gap: 15px; margin-top: 12px; }
    .lucira-mobile-image-box span { position: absolute; bottom: 6px; left: 10px; color: #fff; font-size: 12px; }
    .lucira-mobile-image-box a {display: block;}
    .lucira-mobile-image-box img {display: block;}
    .menu-drawer__menu-item { padding: 1rem 3rem !important; text-decoration: none; font-size: 16px !important; }
    .menu-drawer__navigation { padding: 1rem 0 !important; }
    li.lucira-menu-drawer { display: grid ; grid-template-columns: 1fr 1fr; padding: 0 3rem; gap: 15px; margin-top: 12px; }
    ul.menu-drawer__menu.list-menu { padding-top: 12px; }
    ul.menu-drawer__menu.list-menu { padding-top: 12px; padding-left: 3rem; padding-right: 3rem; }
    .menu-drawer__menu-item {padding: 1rem 0rem !important;}
    .header__heading-link {padding: 0 .75rem;}
    .menu-drawer__menu.list-menu .menu-drawer__menu li li { margin-bottom: .2rem; display: flex ; align-items: center; gap: 10px; }
    .desktop-search { display: none !important; }
    sticky-header.header-wrapper.sticky-header .header__inline-menu.desktop-menu {display: none;}

   .header-wrapper--transparent.sticky-header .header__icons.header__icons--localization.header-localization { opacity: 1 !important; transform: translateY(0) scale(1) !important; pointer-events: auto !important; display: flex !important;  align-items: center !important;}
   .header-wrapper--transparent.sticky-header .header__icon--search svg path { fill: #333; }
   .header-wrapper--transparent.sticky-header path#svgkp-path { fill: #333 !important; }
   .header__icons .icon-wrapper {align-items: center;}

   .popular-searches-wrapper .search-section{margin-bottom:20px; padding-bottom: 22px;}
   .popular-searches-wrapper .search-links .link-container:not(:first-child) {margin: 0;}
   .popular-searches-wrapper .search-links .link-container:not(:last-child):after { content: none;}
   .popular-searches-wrapper .search-links{gap:10px}
   .popular-searches-wrapper .search-links a{font-size:12px;padding:4px 0}
   .popular-searches-wrapper .link-container{display:inline-block;margin-bottom:6px;margin-right:6px}
   .popular-searches-wrapper .mobile-break{display:none}
   .popular-searches-wrapper .search-section h2 {font-size: 16px;}
   .popular-searches-wrapper h2.popular{font-size:18px;}
   .popular-searches-wrapper .follow-us-wrapper { display: flex ; flex-direction: column; align-items: center; gap: 8px; font-size: 14px; margin-top: 20px; }
   .popular-searches-wrapper .footer__content-bottom {row-gap: 0.5rem;}
   span.mobile-facets__open-label.button-label.medium-hide.large-up-hide { color: #1A1A1A; font-size: 12px; }
   .mobile-facets__open svg path {fill: #1A1A1A;}
    span#ProductCount { font-size: 10px; color: #1A1A1A; }
    .facets-container {gap: 10px;}
    .collection-template-page .header__search svg path { fill: #333 !important;}
    .facets-container::-webkit-scrollbar {width: 0px;}
    .mobile-show {display: block !important;}
    .desktop-show {display: none !important;}
}

@media only screen and (min-width:0px) and (max-width:480px){
    .popular-searches-wrapper .search-links{display:grid;grid-template-columns:repeat(2,1fr);gap:10px}
    .popular-searches-wrapper .popular{margin:20px 0 20px 0}
    .popular-searches-wrapper .search-section{margin:10px 0}
    .popular-searches-wrapper .link-container{margin-right:0;margin-bottom:0}
    .popular-searches-wrapper .separator{display:none}
    .popular-searches-wrapper .search-links a{display:block;padding:6px 10px;background-color:#f9f5f5;border-radius:4px;text-align:center}
    .popular-searches-wrapper .mobile-break{display:block;height:4px}
}






/* cart drawer css  */
body.overflow-hidden { overflow: hidden !important; touch-action: none; }
.cart_drawer__close {cursor: pointer;}
.you-may-also-like-wrapper {height: 100%;}
button.you-may-also-like-add-button, button.you-may-also-like-add-button-mobile { width: 100%; margin: 0 auto; background: #a68380; border: 0; color: #fff; font-family: 'Futura Std', sans-serif; font-size: 14px; padding: 8px 16px; border-radius: 8px; cursor: pointer; }
button.you-may-also-like-add-button:disabled, button.you-may-also-like-add-button-mobile:disabled {background: #a6838094;}
.you-may-also-like-price-container {margin-bottom: 10px; margin-top: 10px;font-size: 12px;}
del.you-may-also-like-compare-price-mobile { color: #666; font-size: 10px; font-weight: 300; font-family: 'Futura Std', sans-serif; }
.you-may-also-like-price-container-mobile {margin-bottom: 10px;}
/* Add these styles to prevent flickering */
.checkout-button .totals>h2 {font-size: 14px;}




@media only screen and (min-width:1600px) and (max-width:2100px){
.cart-drawer{width:36%!important}
}
@media (min-width:767px){
.price-breakup{cursor:pointer;font-size:14px}
.you-may-also-like-item{opacity:0;transform:translateX(50px);transition:transform .5s ease,opacity .5s ease; padding: 10px;}
.you-may-also-like-wrapper.active .you-may-also-like-item{opacity:1;transform:translateX(0)}
.you-may-also-like-wrapper.active{background:#f4f0f0}
.you-may-also-like-item:nth-child(1){transition-delay:.1s}
.you-may-also-like-item:nth-child(2){transition-delay:.2s}
.you-may-also-like-item:nth-child(3){transition-delay:.3s}
.you-may-also-like-item:nth-child(4){transition-delay:.4s}
.drawer .is-empty .you-may-also-like-wrapper{display:none}
.you-may-also-like-wrapper{background:#fff;padding:16px 6px 16px 16px;border-radius:0;border:1px solid #eaeaea;max-height:100h;z-index:9999999;margin:auto .5%;height:100%;width:18%}
.you-may-also-like-header{font-weight:400;font-size:18px!important;line-height:150%;text-align:center;text-transform:uppercase;color:#1a1a1a}
/* .you-may-also-like-container{display:flex;flex-direction:column;gap:20px} */
.you-may-also-like-container  {overflow-y: scroll; height: 100%; padding-right: 10px;}
.you-may-also-like-item{border:1px solid #999;border-radius:8px;overflow:hidden;display:flex;flex-direction:column;background-color:#fff;text-decoration:none;color:inherit;font-family:Futura,sans-serif; margin-bottom: 20px;}
.you-may-also-like-item:hover{box-shadow:0 4px 12px rgba(0,0,0,.15)}
.image-wrapper-you-may-like{max-width:200px;height:200px;object-fit:contain}
.you-may-also-like-image{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover}
.you-may-also-like-title{font-size:14px;letter-spacing:.04em;line-height:1.4;font-weight:500;color:#1a1a1a;margin-bottom: 4px; margin-left: 0; margin-right: 0; margin-top: 4px;width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.img-container-you-may-like{position:relative;width:100%;padding-top:100%;overflow:hidden}
.you-may-also-like-price{font-size:16px;font-weight:600;color:#5a413f;margin: 10px 0 ; }
.you-may-also-like-item a{text-decoration:none;color:inherit}
}
.checkout-info{margin:0 20px}
.drawer__footer{max-height:0;overflow:hidden;transition:max-height .8s ease-in-out}
.drawer__footer--visible{max-height:1500px}
.cart-drawer__form .savings-label{display:flex;align-items:center;gap:8px;background-color:#eaf6e9;border-radius:10px;padding:4px 16px;max-width:fit-content}
.cart-item__totals right{display:block}
.original-price-cut-off{text-decoration:line-through;font-size:10px}
.delivery-date-expected{font-size:14px;line-height:150%;letter-spacing:.1px;color:green}
h2.you-may-also-like-header{margin:0 auto 20px}
.you-may-also-like-container::-webkit-scrollbar{width:2px;background-color:#f5f5f5}
.you-may-also-like-container::-webkit-scrollbar-thumb{background-color:#666666}
.you-may-also-like-container::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#f5f5f5}
.cart-drawer .tax-note {font-size: 12px !important;}
@media(max-width:428px){
.cart-drawer__form .savings-label{padding:0 12px;height:42px}
}
.label-text{font-size:10px;font-weight:500;color:#147217;line-height:1.2;text-align:left}
@media(max-width:390px){
.cart-drawer__form .label-amount{letter-spacing:0}
}

.checkout-button .price-breakup {margin: 0 !important;}
.checkout-info {display: flex ; align-items: center;}
.cart-drawer__form .label-amount{font-size:14px !important;font-weight:600;color:green}
.cart-item__price-wrapper{display:flex;align-items:center;gap:10px;justify-content:flex-end;margin-bottom:6px}
.drawer{position:fixed;z-index:1000;left:0;top:0;width:100vw;height:100%;display:flex;justify-content:flex-end;background-color:rgba(var(--color-foreground),.5);transition:visibility var(--duration-default) ease;z-index:9999999}
.drawer.active{visibility:visible}
.drawer__inner{height:100%;width:100%;max-width:calc(100vw - 3rem);border:.1rem solid rgba(var(--color-foreground),.2);border-right:0;overflow:hidden;display:flex;flex-direction:column;transform:translateX(100%);transition:transform var(--duration-default) ease}
.drawer__inner-empty{height:100%;padding:0 1.5rem;overflow:hidden;display:flex;flex-direction:column}
.cart-drawer__warnings{display:flex;flex-direction:column;flex:1;justify-content:center}
cart-drawer.is-empty .drawer__inner{display:grid;grid-template-rows:1fr;align-items:center;padding:0}
cart-drawer.is-empty .drawer__header{position:absolute}
cart-drawer.is-empty .insurance-container-cart{display:none}
cart-drawer.is-empty .drawer__footer{display:none}
cart-drawer:not(.is-empty) .cart-drawer__collection,cart-drawer:not(.is-empty) .cart-drawer__warnings{display:none}
.cart-drawer__warnings--has-collection .cart__login-title{margin-top:2.5rem}
.drawer.active .drawer__inner{transform:translateX(0)}
.drawer__header{background:#f4f0f0;color:#000;width:100%;height:62px;display:flex;align-items:center;justify-content:space-between;padding:1rem 2rem;top:0}
.drawer__heading{font-size:18px!important;color:#1a1a1a;font-weight:500;margin: 0;}
.cart_drawer__close img {display: block;}
.free-shipping-banner{text-align:center;color:green;font-size:16px;margin-bottom:10px;padding:16px 0;line-height:150%;letter-spacing:1%;border-bottom:1px solid #d9d9d9;padding-top:0px;}
.drawer__close{width:24px;height:24px;cursor:pointer}
.cart-drawer__warnings .drawer__close{right:5px}
.drawer__close .svg-wrapper{height:2rem;width:2rem}
.drawer__contents{flex-grow:1;display:flex;flex-direction:column;padding:2rem 2rem 0}
.drawer__footer{padding:0 20px;background:#f4f0f0;border-radius:8px}
cart-drawer-items.is-empty+.drawer__footer{display:none}
.drawer__footer>details{margin-top:-1.5rem;border-bottom:.1rem solid rgba(var(--color-foreground),.2)}
.drawer__footer>details[open]{padding-bottom:1.5rem}
.drawer__footer summary{display:flex;position:relative;line-height:1;padding:1.5rem 2.8rem 1.5rem 0}
.drawer__footer>details+.cart-drawer__footer{padding-top:1.5rem}
cart-drawer{position:fixed;top:0;left:0;width:100vw;height:100%}
.cart-drawer{width:40%;z-index:999999999}
.cart__empty-text {margin: 0rem 0 2rem !important;}

@media(max-width:786px){
.cart-drawer{width:100%}
.drawer__inner{max-width:100%;bottom:0;position:absolute;height:90%;border-radius:12px}
.free-shipping-banner{font-size:14px}
.cart-drawer .cart-item{padding-bottom:6px;height:145px!important}
.cart-drawer .cart-item{padding-bottom:6px}
.cart-item__quantity{bottom:6px}
.cart-item__name{font-size:14px}
.delivery-date-expected{font-size:12px;position: absolute; bottom: 13px;}
.cart-item__price-wrapper{font-size:14px}
.cart-drawer__form .savings-label{height:30px}
.label-text{font-size:6px}
.label-amount{font-size:14px}
.cart-drawer__form .cart-item__media {width: 100%;}
.cart-drawer__form .cart-item__name {max-width: 130px !important;}
}
.cart-drawer__overlay{position:fixed;top:0;right:0;bottom:0;left:0}
.cart-drawer__overlay:empty{display:block}
.cart-drawer__form{flex-grow:1;display:flex;margin-bottom: 20px;}
.cart-drawer__collection{margin:0 2.5rem 1.5rem}
.cart-drawer .drawer__cart-items-wrapper{flex-grow:1}
.cart-drawer .cart-items,.cart-drawer tbody{display:grid;width:100%;gap:1rem}
.cart-drawer thead{display:inline-table;width:100%}
cart-drawer-items{overflow:auto;flex:1}
@media screen and (max-height:650px){
cart-drawer-items{overflow:visible}
.drawer__inner{overflow:scroll}
}
.cart-drawer .cart-item{display:grid;grid-template:repeat(2,auto)/repeat(5,1fr);gap:1rem;margin-bottom:0!important;border:1px solid #d5c5c3;border-radius:8px;position:relative;height:auto;align-items:baseline}
.cart-drawer .cart-item:last-child{margin-bottom:1rem}
.cart-drawer .cart-item__media{grid-row:1/3}
.cart-drawer .cart-item__image{max-width:100%;position:absolute}
.cart-drawer .cart-items thead{margin-bottom:.5rem}
.cart-drawer .cart-items thead th:first-child,.cart-drawer .cart-items thead th:last-child{width:0;padding:0}
.cart-drawer .cart-items thead th:nth-child(2){width:50%;padding-left:0;font-size:16px!important;text-align:left;color:#000!important}
.cart-drawer .cart-items thead tr{display:table-row;margin-bottom:0}
.cart-drawer .cart-items th{border:none;font-size:16px;padding:0;color:#000}
.cart-drawer .cart-item:last-child{margin-bottom:1.5rem}
.cart-drawer .cart-item .loading__spinner{right:5px;padding-top:2.5rem}
.cart-drawer .cart-items td{padding-top:1.7rem}
.cart-drawer .cart-item>td+td{padding-left:0}
.cart-drawer .cart-item__details{width:max-content;grid-column:2/4}
.cart-drawer .cart-item__totals{pointer-events:none;display:block;align-items:flex-start;justify-content:flex-end;grid-column:5/6;padding:10px 0;}
.cart-drawer.cart-drawer .cart-item__price-wrapper>:only-child{margin-top:0}
.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices{display:flex;flex-direction:column;gap:.6rem}
.cart-drawer .unit-price{margin-top:.6rem}
.cart-drawer .cart-items .cart-item__quantity{padding-top:0;grid-column:4/7;bottom:0;right:0;padding:0 10px}
.cart-drawer .product-option {font-size: 14px;}
.checkout-button .grand-total strong {color: #1a1a1a;}
@media screen and (max-width:749px){
.cart-drawer .cart-item cart-remove-button{margin-left:0}
.cart-drawer .cart-item__totals{padding:0; grid-column:5/7;}
.cart-drawer__form .savings-label{right:0;position:absolute}
}
.cart-drawer__footer>*+*{margin-top:1rem}
.cart-drawer .totals{justify-content:space-between}
.cart-drawer .price{line-height:1.7;letter-spacing:-.5px;font-weight:600;font-size:16px}
.cart-drawer .tax-note{margin:1.2rem 0 2rem auto;text-align:left;font-size: 12px !important;}
.cart-drawer .product-option dd{word-break:break-word}
.cart-drawer details[open]>summary .icon-caret{transform:rotate(180deg)}
.cart-drawer .cart__checkout-button{max-width:none;width:90%;margin:0 20px}
.drawer__footer .cart__dynamic-checkout-buttons{max-width:100%}
.drawer__footer #dynamic-checkout-cart ul{flex-wrap:wrap!important;flex-direction:row!important;margin:.5rem -.5rem 0 0!important;gap:.5rem}
.drawer__footer [data-shopify-buttoncontainer]{justify-content:flex-start}
.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(50% - .5rem)!important;margin:0!important}
.drawer__footer #dynamic-checkout-cart ul>li:only-child{flex-basis:100%!important;margin-right:.5rem!important}
@media screen and (min-width:750px){
.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(100% / 3 - .5rem)!important;margin:0!important}
.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2)~li,.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4)~li{flex-basis:calc(50% - .5rem)!important}
}
cart-drawer-items::-webkit-scrollbar{width:3px}
cart-drawer-items::-webkit-scrollbar-thumb{background-color:rgba(var(--color-foreground),.7);border-radius:100px}
cart-drawer-items::-webkit-scrollbar-track-piece{margin-top:31px}
.cart-drawer .quantity-popover-container{padding:0}
.cart-drawer .quantity-popover__info.global-settings-popup{transform:translateY(0);top:100%}
.cart-drawer .cart-item__error{margin-top:.8rem}
.cart-drawer .quantity-popover__info+.cart-item__error{margin-top:.2rem}
.checkout-info{display:flex;justify-content:space-between}
.cart-drawer .cart__checkout-button {border-radius: 8px;}
@media screen and (min-width:750px){
.cart-drawer .cart-item__quantity--info quantity-popover>*{padding-left:0}
.cart-drawer .cart-item__error{margin-left:0}
.cart__ctas{flex-direction:column;width:100%}
}
.addtoWishlist{display:none}
.cart-qty{flex-direction:row-reverse}
.qty{width:90px!important;height:35px!important;min-height:0}
.cart-engrav{flex:1;display:flex;justify-content:center;align-items:center;gap:5px}
.cart-container{cursor:pointer;padding-block:10px;background:#f4f0f0;border-radius:0 0 8px 8px;display:flex;justify-content:space-evenly}
.td-cart{text-align:center;grid-column:1/7;padding:0!important}
.cart-engrav-p{margin:7px 0;font-weight:400;font-size:12px;line-height:150%;letter-spacing:.6px;text-align:center;vertical-align:middle;text-transform:capitalize;color:#666}
.cart-prodEngrav-engraving-input{display:none;margin-top:10px}
.cart-prodEngrav-icons{margin-top:5px}
.cart-prodEngrav-icon{cursor:pointer;font-size:18px;margin-right:5px}
.cart-prodEngrav-engravingText{height:35px;text-align:center;border:1px solid #ccc;border-radius:5px}
.insurance-container-cart{display:flex;align-items:center;justify-content:space-between;background-color:#f7f3f2;border-radius:8px;padding:10px 15px;height:66px;font-size:16px;color:#5f5f5f;border:1px solid #e0e0e0;margin:0 22px 22px}
.insurance-text-cart{display:flex;align-items:center;gap:10px}
.insurance-text-cart input[type=checkbox]{width:24px;height:24px;cursor:pointer}
.insurance-text-cart p{font-size:14px;margin:0;line-height:1.4}
.insurance-price-cart{font-weight:700;color:#000}
.vertical-line{display:flex!important;width:1px;margin:10px 0;background-color:#b3b3b3}
.checkout-button{position:sticky;align-items:start;justify-content:center;bottom:0;background:#f4f0f0;padding-block:1rem; padding-bottom: 20px; z-index:1000}
.cart-drawer__form .quantity__button {width: 25px;}
.cart-drawer__form .quantity:after {border-radius: 6px;}
.cart-drawer__form .cart-item__name {text-transform: capitalize !important; max-width: 210px; letter-spacing: 1px;}
.cart-drawer__empty-content a {border-radius: 8px; text-transform: capitalize;}
.cart-drawer h2.cart__empty-text { text-transform: capitalize; margin-bottom: 20px !important; font-size: 18px !important;}
.cart-drawer .cart__login-title { margin: 4.0rem 0 0rem !important; font-size: 15px !important; }
.checkout-info .grand-total {margin: 6px 0;}
lottie-player#empty-icon { width: 160px; height: 200px; object-fit: cover; margin: 0 auto; }
@media screen and (max-width:767px){
.you-may-also-like-wrapper-mobile{display:block!important}
.you-may-also-like-container-mobile{display:flex;gap:10px;overflow-x:scroll;margin:20px}
.you-may-also-like-item-mobile{border:1px solid grey;border-radius:8px;padding: 10px;max-width: 156px;}
.you-may-also-like-header-mobile{font-weight:400;font-style:Book;font-size:14px;leading-trim:NONE;line-height:150%;letter-spacing:4%;text-transform:uppercase;margin-left:20px}
.you-may-also-like-title-mobile{font-weight:400;font-style:Book;font-size:12px;color:#1a1a1a;margin:0;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.you-may-also-like-price-mobile{font-family:Futura Std;font-weight:650;font-size:14px;color:#1a1a1a;margin:0;margin-bottom:10px}
.you-may-also-like-item-mobile a{text-decoration:none}
img.you-may-also-like-image-mobile{height:170px;width:170px}
.cart-drawer .cart-item__details{grid-column:2/5;width:auto}
.cart-drawer .cart-item>td+td{padding-left:0;padding-top:0}
.cart-drawer .cart-item{padding:10px 8px;}
.cart-item__quantity .quantity__button{width:25px!important}
.quantity:after{border-radius:6px}
.quantity:before{border-radius:6px}
p#ViewPriceBreakup{font-size:12px}
.cart-drawer__form .cart-item__name {text-decoration: none; display: block; letter-spacing: .2px; text-transform: capitalize; color: #1a1a1a; font-weight: 500; font-size: 14px; line-height: 150%; vertical-align: middle;}
.cart-drawer .cart-item .product-option {font-size: 10px;} 
cart-remove-button .button {min-width: 25px !important; min-height: 25px !important;}
.quantity__input {font-size: 12px; padding: 0;}
.qty { width: 75px !important; height: 30px !important; min-height: 0; }
.cart-drawer .cart-items .cart-item__quantity {padding: 0;}
  .cart-drawer .price {font-size: 14px;}
  .cart-drawer__form .label-amount {font-size: 12px !important;}
  .cart-drawer__form .label-text {font-size: 8px;}
  .cart-drawer__form .savings-label {padding: 0 8px;}
.cart-items, .cart-items thead, .cart-items tbody { display: flex !important; width: 100%; flex-direction: column; }
  .cart-drawer .cart__checkout-button {border-radius: 8px;}
  .checkout-button .totals>h2 {font-size: 12px;}
  .checkout-button .totals__total-value {font-size: 12px;}
  .checkout-button .tax-note {font-size: 10px; margin-top: 24px;margin-top: 12px; margin-bottom: 12px;}
  .checkout-button .grand-total {color: #1a1a1a;}
  img.you-may-also-like-image-mobile { height: 100%; width: 100%; border-radius: 8px; }
  .cart-drawer__footer>*+* {margin-top: 6px;}
  .free-shipping-banner {border-bottom: 0;padding: 0;}
  cart-remove-button .icon-remove {height: 1.15rem !important; width: 1.15rem !important;}
  .matching-you-may-also-like-wrapper { display: flex ; gap: 10px; }
}
@media screen and (min-width:768px){
.you-may-also-like-wrapper-mobile{display:none!important}
}

@media screen and (min-width:1600px){
  .you-may-also-like-price {font-size: 18px;}
  .checkout-button .totals>h2 {font-size: 16px;}
}

@media only screen and (min-width:0px) and (max-width:370px){
  .qty {width: 70px !important;}
  .cart-item__quantity .quantity__button {width: 20px !important;}
}