body {font-family: "Futura Std", sans-serif !important;}
h1, h2, h3, h4, h5, h6, p, span, a, li, input, strong, b, div {font-family: "Futura Std", sans-serif !important;}
label.acc-tab.open-acc{background:#F3E8E9;border-left:8px solid #B76F79;font-size:.729vw;font-weight:600;color:#333}
.log-tab a{text-transform:uppercase;font-size:14px;font-weight:500;text-decoration:none;color:#d32f2f; justify-content: center;}
.log-tab span{margin-right:12px;width:22px;height:22px}
.acc-logout{background:#f4f0f0;margin:48px 64px;padding:12px 0}
.log-tab{padding:0 52px;width:auto;display:flex;align-items:center; justify-content: center;}
label.acc-tab{border-bottom:1px solid #e6e6e6}
span.tab-option{display:flex;justify-content:space-between;width:100%;align-items:center}
span.tab-option span{margin-top:0; font-weight: 500; font-size: 14px; line-height: 150%; letter-spacing: 1.2px; margin-left: 10px; text-transform: uppercase;}
.tab-logo{width:22px;height:22px;margin-right:16px}
.acc-tab span{font-size:.729vw}
.acc-account{display: grid ; grid-template-columns: calc(30% - 10px) calc(70% - 10px); gap: 20px; padding: 0; width: 100%;}
.acc-account-left{flex:2.5 1 0%}
.acc-account-right{flex:7.5 1 0%;margin-top:0!important;transition:transform .3s ease;background:#fff}
.acc-info{padding:2rem 5rem;background:#B76F79;color:#fff;display:flex;gap:1rem}
.acc-user-greeting{display:flex;flex-direction:column;align-items:stretch}
.acc-tabs-container{background:#fff}
.acc-tab{padding:26px 64px;background:#fff;align-items:center;display:flex;justify-content:unset;text-transform:uppercase;cursor:pointer;border-bottom:1px solid #000}
#tab-my-orders:checked~.acc-account-right .acc-content-my-orders,#tab-offers-info:checked~.acc-account-right .acc-content-offers-info,#tab-personal-info:checked~.acc-account-right .acc-content-personal-info{display:block}
.acc-tab:has(+input:checked){background:linear-gradient(180deg,#fff 0,#ebe4e4 100%)}
.acc-content{display:none;background:#fff;color:#000;padding: 4rem 8rem 4rem 2rem; max-width: 100%; width: 100%; height: 100%;}
.acc-content.acc-content-offers-info{padding:0}
.acc-content h2{margin: 5px 0; text-align: left; margin-bottom: 24px; font-weight: 500; font-size: 20px; line-height: 150%; letter-spacing: 1px; vertical-align: middle; text-transform: uppercase; color: #000;}
.acc-mobile-go-back{display:none;padding:1rem 2rem;width:100%;align-items:center;justify-content:flex-start;gap:1rem;background:#f4f0f0}
.acc-info svg { position: relative; top: 4px; }
.acc-user-greeting strong {font-weight: 600; letter-spacing: 1.4px;}
i.fa-solid.fa-angle-right { font-size: 14px; color: #666666; }
.acc-account-left { box-shadow: 0px 4px 16px 0px #00000014; }

@media (max-width:768px){
label.acc-tab.open-acc{font-size:14px}
.acc-tab span{font-size:14px}
.acc-account{overflow:hidden}
.acc-account-left,.acc-account-right{min-width:100%}
.acc-account-right{transform:translateX(0)}
.acc-account>input[type=radio]:checked~.acc-account-right{transform:translateX(0)}
.acc-content{padding:1rem 1.6rem}
.acc-mobile-go-back{display:flex}
}