.plp-collection-banner__breadcrumbs {text-align: left; font-size: 10px; color: #666666;}
.plp-collection-banner__breadcrumbs a {color: #666666;}
.plp-collection-banner__title {font-size: 16px !important;}
.plp-collection-banner__content{display:flex;flex-direction: row;justify-content:space-between}
.plp-sort-select{font-size: 12px; width: 175px; border: none; font-family: Futura Std, sans-serif; letter-spacing: .7px; background: #f9f9f9; padding: 8px;}
.plp-collection-banner__right{flex-direction: right}
.sort-by-label-plp-banner{font-size:14px;}
.plp-collection-banner__right{display:flex; align-items:center}
.plp-collection-banner__header {display: flex ; align-items: center; gap: 12px; margin-top: 2px; margin-bottom: 2px;}
.plp-collection-banner__title {margin: 8px 0;}
.plp-collection-banner__count {margin: 8px 0; text-transform: capitalize;position: relative; font-size: 10px; line-height: 1.6;}
.collection-drawer{position:fixed;top:0;right:0;width:400px;max-width:100%;height:100%;background:#fff;box-shadow:-4px 0 20px rgba(0,0,0,.2);transform:translateX(100%);transition:transform .3s ease;z-index:9999;overflow-y:auto}
.collection-drawer:not(.hidden){transform:translateX(0)}
.drawer-overlay{position:fixed;top:0;left:0;width:calc(100% - 100px);height:100%;background:rgba(0,0,0,.5);z-index:9998}
.drawer-close{position:absolute;top:12px;right:12px;background:0 0;border:none;font-size:24px;color:#fff;cursor:pointer;z-index:9999999999; display: block;}
.drawer-image-wrapper{position:relative;width:100%;overflow:hidden}
.drawer-image{display:block;width:100%;height:auto;object-fit:cover}
.drawer-body{padding:20px}
.drawer-title{font-size:25px;color:#000;margin-top: 10px; margin-bottom: 22px;margin-left:0}
.drawer-description{font-size:14px;line-height:1.6;color:#000}
.Shopbutton{padding:10px 24px;border:1px solid #a68380;text-transform:uppercase;background:0 0;color:#a68380;text-decoration:none;border-radius:4px}
.shopping_button{padding:0 20px 24px;width:100%;box-sizing:border-box;transform:translate(10px,50px)}
.drawer-wrapper{position:fixed;top:0;left:0;width:100%;height:100%;display:flex;justify-content:flex-end;z-index:999999999}
.drawer-wrapper.hidden{display:none}
.drawer-overlay{flex:1;background-color:rgba(0,0,0,.6);cursor:pointer}
.collection-drawer{width:28%;background:#fff;height:100%;overflow-y:auto;box-shadow:-4px 0 20px rgba(0,0,0,.2);animation:slideIn .3s ease forwards}
.continue-button{display:block;width:100%;padding:12px 20px;background-color:#fff;color:#a68380;
    border: 1px solid #a68380;;text-align:center;text-transform:uppercase;text-decoration:none;border-radius:24px;box-sizing:border-box}
.continue-button:hover{background-color:#a68380;color:#fff;transition:.3s ease}

span.wheel-label { display: none; }
.drawer-close svg { width: 30px; height: 30px; }
.plp-banner__cta_btn a {display: block;}
.plp-banner__cta_btn img {display: block;}
.plp-collection-banner__title {display: flex ; align-items: center; gap: 8px;}
.curved-slider-section {background: #f9f9f9; padding-top: 8px; padding-bottom: 8px;}
.plp-collection-banner__count {padding-left: 12px;}
.plp-collection-banner__count {position: relative; position: relative; font-size: 10px; line-height: 1.6;}
.plp-collection-banner__count:before {content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: 0; background: #333333; height: 9px; width: 1px;}
.plp-drawer-wrapper .collection-drawer .drawer-close svg {width: 30px; height: 30px; background: #3300008f; border-radius: 50%; padding: 6px; backdrop-filter: blur(6px);}
@keyframes slideIn{
from{transform:translateX(100%)}
to{transform:translateX(0)}
}

body.drawer-open{overflow:hidden}
.plp-banner__cta-button{display:inline-block;color:#000;border-radius:4px;font-size:12px;font-weight:500;transition:background-color .3s ease}
.plp-banner__cta-text--desktop{display:inline}
.plp-banner__cta-icon--mobile{display:none}
span.plp-banner__cta-text--desktop{font-family:'Futura Std',sans-serif;font-weight:400;font-size:14px;line-height:24px;text-align:center;text-decoration:underline;text-decoration-style:solid;text-decoration-thickness:0}
.plp-collection-banner__count small { position: relative; font-size: 10px; }
.plp-collection-banner__count {margin: 0;}
.plp-collection-banner__title { margin: 0; }
nav.plp-collection-banner__breadcrumbs { margin-top: 2px; margin-bottom: 2px;}

@media screen and (min-width:0px) and (max-width:767px){
  .plp-collection-banner__right{display:none}
  .plp-collection-banner__count {margin: 0;}
  .curved-slider-section { background: #f9f9f9; padding-top: 6px; padding-bottom: 6px; }
  .collection-drawer {width: 100%;}
  .plp-collection-banner__title {font-size: 12px !important;}
  .plp-drawer-wrapper .collection-drawer .drawer-close svg {width: 30px; height: 30px; background: #3300008f; border-radius: 50%; padding: 6px; backdrop-filter: blur(6px);}
}