.product-grid{display:grid;grid-template-columns:repeat(5,1fr);gap:20px}
.product-card-wrapper .card-information .price--on-sale{display:inline-block}
.price-details-wrapper{display:flex;align-items:center;justify-content:space-between;margin-top:6px}
a.product-card-link{font-family:'Futura Std',sans-serif;margin-top:0!important;font-weight:400;font-size:14px;line-height:150%;vertical-align:middle;letter-spacing:1px;color:#1a1a1a!important;text-transform:capitalize;display: flex; align-items: center; font-size: 12px;}
.price-details-wrapper i.fa-solid.fa-angle-right{font-size:11px}
button.color-option{background:0 0;border:0;padding:0}
.video-modal{position:fixed;inset:0;background:rgba(0,0,0,.7);display:flex;align-items:center;justify-content:center;z-index:9999}
.video-modal.hidden{display:none}
.video-modal__content{position:relative;background:#fff;padding:20px;max-width:90%;max-height:80%}
.video-modal__video-container video{width:100%;height:auto}
.video-modal__close{position:absolute;top:8px;right:12px;font-size:24px;background:0 0;border:none;cursor:pointer}
.card-content-wrapper .rating-text { display: block; margin-right: 12px; margin-top: 0; margin-bottom: 0; }
.card-content-wrapper .card__rating .rating-text:after {content: ""; position: absolute; top: 5px; right: -6px; background: #1a1a1a; height: 10px; width: 1px;}
.card-information.price-details-wrapper .savings-label { display: none; }
.card-information.price-details-wrapper .price-breakup-wrapper { display: none; }
.card-wrapper .rating-star {margin: 0 !important;}
.card-wrapper.product-card-wrapper .rating-star:before {font-size: 10px !important;}
.pdp-match-shine .card__rating {display: none;}
a.product-card-link svg { width: 18px; height: 18px; }
.match-and-shine .card--standard>.card__content .card__information{padding:8px 8px 10px !important}
.match-and-shine  .card-content-wrapper {padding: 0 8px;}
.match-and-shine .card__inner.color-scheme-2.gradient.ratio{border:0 solid #e9e9e9;border-radius:8px; aspect-ratio: 1 / 1;}
@media (max-width:110em){
.product-grid{grid-template-columns:repeat(3,1fr)}
}
@media (max-width:48em){
.product-grid{grid-template-columns:calc(50% - 5px) calc(50% - 5px)}
}
.footer .grid__item,.pdp-match-shine .grid__item{max-width:100%!important;width:unset!important}
#product-grid .grid__item, .pdp-match-shine .grid__item{max-width:100%!important;width:100%!important}
.card-wrapper{padding:0;border-radius:12px}
.card-wrapper:hover .plp-product_image-sider-btn{visibility:visible}
.card__inner.color-scheme-2.gradient.ratio{border:0;border-radius:8px; aspect-ratio: 1 / 1;}
.card-wrapper a,.card-wrapper:hover a{text-decoration:none;color:initial}
.plp-product_image-container{position:relative}
.plp-product_image-slider{display:flex}
.plp-product_image-sider-btn{position:absolute;top:40%;border-radius:50%;height:24px;width:24px;background-color:#f4f4f4;border:none;z-index:9999;visibility:hidden;cursor:pointer;display:flex;align-items:center;justify-content:center}
.plp-product_image-sider-btn img{width:50%}
.slider--left-btn{left:10px}
.slider--right-btn{right:10px}
.card--standard>.card__content .card__information{padding:6px .75rem;overflow:hidden}
.card--standard>.card__content .card__information a{text-decoration:none}
.card__heading{width:100%;display:flex;align-items:center;justify-content:space-between;gap:1rem;font-weight:400;font-size:14px;line-height:150%;vertical-align:middle}
.card__rating{padding:0 0;display:flex;align-items:center;justify-content:flex-end}
.card__rating .rating{height: 20px; display: flex; align-items: center; position: relative; top: -1px; right: 2px;}
.color-variants-options{display:flex;align-items:center;justify-content:center;gap:10px}
.card__heading a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.card__heading a:first-of-type{flex:8}
.card__heading a:last-of-type{flex:1}
.card-content-wrapper{display:flex;justify-content:space-between;align-items:center;padding:0 .75rem;margin-bottom:8px;margin-top:12px}
button.color-option{cursor:pointer;border:1.5px solid #ebebeb;border-radius:50%}
button.color-option.active{border:1.5px solid #666;border-radius:50%}

.product-video-icon-wrapper{position:absolute!important;top: 230px;background:#ffffff8c;border-radius:50%;left:12px;align-items:center;justify-content:center;display:flex;flex-direction:column;gap:8px;z-index:1;cursor:pointer;width:30px;height:30px}
.card-content-wrapper {padding: 0 0;}

.product-video-icon-wrapper img{width:28px}

.card-wrapper.product-card-wrapper .rating-star:before{background:linear-gradient(90deg, rgb(254, 198, 2) var(--percent), #f9f9f9 var(--percent));-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:20px}
.card-wrapper.product-card-wrapper .caption{font-size:1.2rem;font-weight:500;top:2px;position:relative;color:#1a1a1a;font-family:'Futura Std',sans-serif!important;margin-top: 0; margin-bottom: 0;}
@media screen and (max-width:750px){
.collection .facets-vertical{padding:0 0!important}
.collection .product-grid{gap:6px 0px;padding:0px 0px;justify-content: space-evenly; margin: 0; margin-bottom: 20px;}
.card-wrapper{padding:0!important}
.plp-product_image-sider-btn{display:none}
.card-wrapper:hover{box-shadow:none}
.card-wrapper.product-card-wrapper .caption{font-size:10px;} 
.card-content-wrapper .card__rating .rating-text:after {top: 4px; right: -6px; height: 8px;}
}
.card_delivery_status{grid-row-start:3;padding:0;margin:0 .75rem;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.badge{background-color:#f4f4f4;color:#000;border-radius:0;left:0}
.quick-add{margin:.75rem}
.quick-add__submit:after{box-shadow:none}
.button.quick-add__submit:not([disabled]):hover:after{box-shadow:none}
.card-wrapper:hover .brad-card__similar_product{display:block}
.brad-card__similar_product{display:none;position:absolute;top:16px;right:45px;z-index:2;height:23px;width:23px;cursor:pointer}
.card__wishlist-icon{display:block}
.card-wrapper:hover .card__wishlist-icon{display:block}
.wishlist-btn[data-custom-wishlist-icon]{top:16px}
.color-variants-options img{display:block}
.card__information .discount-text {color: #00A652; font-weight: 500; margin-left: 0; margin-top: 4px !important; margin-bottom: 4px; display: block;animation: blink 2s ease-in infinite;}

/* @keyframes blink { 0%, 100% { color: #00A652; } 50% { color: #9CD2AE; } } */

@media screen and (max-width:750px){
.quick-add{display:none}
.brad-card__similar_product{display:block;right:25%!important}
.brad-card__wishlist-icon{display:block}
.wishlist-btn[data-custom-wishlist-icon]{top:8px;right:4px!important}
.product-video-icon-wrapper{right:4px;width:28px;height:28px}
.product-video-icon-wrapper img{width:28px}
.color-variants-options{gap:6px}
.color-variants-options img{display:block;width:16px;height:16px}
#product-grid .card__heading{font-size:12px}
a.product-card-link{font-size:0}
.card__rating .rating img{margin-right:4px;padding-right:4px;display:block;position:relative;width:18px}
.card__rating .rating img:after{content:'';position:absolute;background:#1a1a1a;right:0;top:0}
.card__rating{padding:0}
.product-video-icon-wrapper{bottom:125px}
.card__media .media img{border-radius:12px}
.card-content-wrapper{padding: 0 8px; margin-bottom: 4px; margin-top: 4px;}
.price-details-wrapper{margin-top:4px}
.card--standard>.card__content .card__information{padding:2px 8px !important;}
.card__inner.color-scheme-2.gradient.ratio{border:0 solid #e9e9e9;border-radius:8px}
.card__information .discount-text {font-size: 10px;}
}
.card__content span.price-item.price-item--sale,.price-item{letter-spacing:normal;font-weight:600;font-size:18px;line-height:150%;vertical-align:middle}
.price--on-sale .price-item--regular{font-size:14px;font-weight:400!important}
@media screen and (max-width:45em){
.card__content span.price-item.price-item--sale,.price-item{font-size:14px}
.price--on-sale .price-item--regular{font-size:10px}
.product-grid{display:grid;grid-template-columns:repeat(5,1fr);gap:20px}
.product-card-wrapper .card-information .price--on-sale{display:inline-block}
.price-details-wrapper{display:flex;align-items:center;justify-content:space-between;margin-top:6px}
a.product-card-link{font-family:'Futura Std',sans-serif;margin-top:0!important;font-weight:400;font-size:14px;line-height:150%;vertical-align:middle;letter-spacing:1px;color:#1a1a1a!important;text-transform:capitalize}
.price-details-wrapper i.fa-solid.fa-angle-right{font-size:11px}
button.color-option{background:0 0;border:0;padding:0}
.video-modal{position:fixed;inset:0;background:rgba(0,0,0,.7);display:flex;align-items:center;justify-content:center;z-index:9999}
.video-modal.hidden{display:none}
.video-modal__content{position:relative;background:#fff;padding:20px;max-width:90%;max-height:80%}
.video-modal__video-container video{width:100%;height:auto}
.video-modal__close{position:absolute;top:8px;right:12px;font-size:24px;background:0 0;border:none;cursor:pointer}
.card-content-wrapper .rating-text { display: block; margin-right: 12px; margin-top: 0; margin-bottom: 0; }
.card-content-wrapper .card__rating .rating-text:after {content: ""; position: absolute; top: 5px; right: -6px; background: #1a1a1a; height: 10px; width: 1px;}

@media (max-width:110em){
.product-grid{grid-template-columns:repeat(3,1fr)}
}
@media (max-width:48em){
.product-grid{grid-template-columns:calc(50% - 5px) calc(50% - 5px)}
}
.footer .grid__item,.pdp-match-shine .grid__item{max-width:100%!important;width:unset!important}
.grid__item,.pdp-match-shine .grid__item{max-width:100%!important;width:100%!important}
.card-wrapper{padding:0;border-radius:12px}
.card-wrapper:hover .plp-product_image-sider-btn{visibility:visible}
.card__inner.color-scheme-2.gradient.ratio{border:1px solid #e9e9e9;border-radius:8px}
.card-wrapper a,.card-wrapper:hover a{text-decoration:none;color:initial}
.plp-product_image-container{position:relative}
.plp-product_image-slider{display:flex}
.plp-product_image-sider-btn{position:absolute;top:40%;border-radius:50%;height:24px;width:24px;background-color:#f4f4f4;border:none;z-index:9999;visibility:hidden;cursor:pointer;display:flex;align-items:center;justify-content:center}
.plp-product_image-sider-btn img{width:50%}
.slider--left-btn{left:10px}
.slider--right-btn{right:10px}
.card--standard>.card__content .card__information{padding:6px .75rem;overflow:hidden}
.card--standard>.card__content .card__information a{text-decoration:none}
.card__heading{width:100%;display:flex;align-items:center;justify-content:space-between;gap:1rem;font-weight:400;font-size:14px;line-height:150%;vertical-align:middle}
.card__rating{padding:0 .75rem;display:flex;align-items:center;justify-content:flex-end}
.color-variants-options{display:flex;align-items:center;justify-content:center;gap:10px}
.card__heading a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.card__heading a:first-of-type{flex:8}
.card__heading a:last-of-type{flex:1}
.card-content-wrapper{display:flex;justify-content:space-between;align-items:center;padding:0 .75rem;margin-bottom:0;margin-top:12px}
button.color-option{cursor:pointer;border:1.5px solid #ebebeb;border-radius:50%}
button.color-option.active{border:1.5px solid #666;border-radius:50%}
.product-video-icon-wrapper{position:absolute!important;top:222px;background:#ffffff8c;border-radius:50%;right:12px;align-items:center;justify-content:center;display:flex;flex-direction:column;gap:8px;z-index:2;cursor:pointer;width:30px;height:30px}
.product-video-icon-wrapper img{width:28px}

.card-wrapper.product-card-wrapper .rating-star:before{background:linear-gradient(90deg, rgb(254, 198, 2) var(--percent), #f9f9f9 var(--percent));-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:20px}
.card-wrapper.product-card-wrapper .caption{font-size:1.2rem;font-weight:500;top:2px;position:relative;color:#1a1a1a;font-family:'Futura Std',sans-serif!important}
.product-card-wrapper .card__media img{ mix-blend-mode: multiply; display: block; max-width: 100%; height: auto;}

@media screen and (max-width:750px){
.collection .facets-vertical { padding: 0 0 !important; width: 100% !important; }
.collection .product-grid{gap: 6px 6px; padding: 0px 6px !important;}
.facets-container {width: 92% !important; margin: 0 auto; padding: 0;}
.card-wrapper{padding:0!important}
.plp-product_image-sider-btn{display:none}
.card-wrapper:hover{box-shadow:none}
.card-wrapper.product-card-wrapper .caption{font-size:10px;margin-top: 0; margin-bottom: 0;} 
.card-content-wrapper .card__rating .rating-text:after {top: 4px; right: -6px; height: 8px;}
}
.card_delivery_status{grid-row-start:3;padding:0;margin:0 .75rem;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.badge{background-color:#f4f4f4;color:#000;border-radius:0;left:0}
.quick-add{margin:.75rem}
.quick-add__submit:after{box-shadow:none}
.button.quick-add__submit:not([disabled]):hover:after{box-shadow:none}
.card-wrapper:hover .brad-card__similar_product{display:block}
.brad-card__similar_product{display:none;position:absolute;top:16px;right:45px;z-index:2;height:23px;width:23px;cursor:pointer}
.card__wishlist-icon{display:block}
.card-wrapper:hover .card__wishlist-icon{display:block}
.wishlist-btn[data-custom-wishlist-icon]{top:16px}
.color-variants-options img{display:block}
.discount-container { height: 25px; overflow: hidden; position: relative; }

@media screen and (max-width:750px){
.quick-add{display:none}
.brad-card__similar_product{display:block;right:25%!important}
.brad-card__wishlist-icon{display:block}
.wishlist-btn[data-custom-wishlist-icon]{top:8px;right:4px!important}
.product-video-icon-wrapper{right:8px;width:28px;height:28px}
.product-video-icon-wrapper img{width:24px}
.color-variants-options{gap:6px}
.color-variants-options img{display:block;width:18px;height:18px}
#product-grid .card__heading{font-size:12px}
a.product-card-link{font-size:0}
.card__rating .rating img{margin-right:4px;padding-right:4px;display:block;position:relative;width:18px}
.card__rating .rating img:after{content:'';position:absolute;background:#1a1a1a;right:0;top:0}
.card__rating{padding:0}

.product-video-icon-wrapper{top:160px;left:4px;}
.index .product-video-icon-wrapper{bottom:125px;left:4px;}
.card__media .media img{border-radius:12px}
.card-content-wrapper{padding:0 0px;margin-bottom:4px;margin-top:8px}
.price-details-wrapper{margin-top:4px}
.card--standard>.card__content .card__information{padding:2px 0 0px !important;}
.card__inner.color-scheme-2.gradient.ratio{border:0 solid #e9e9e9;border-radius:8px; aspect-ratio: 1 / 1;}
}
.card__content span.price-item.price-item--sale,.price-item{letter-spacing:normal;font-weight:600;font-size:18px;line-height:150%;vertical-align:middle}
.price--on-sale .price-item--regular{font-size:14px;font-weight:400!important}
@media screen and (max-width:45em){
.card__content span.price-item.price-item--sale,.price-item{font-size:14px}
.price--on-sale .price-item--regular{font-size:10px}
}



