.iwish-drawer-menu .add_to_cart span {color: #fff !important;}
.iwish-drawer-menu header {position: relative;}
#iwish-drawer-root .wishlist-drawer-show.show .iwish-drawer-menu {z-index: 999999999;}
.icon-wishlist-heart-empty {font-size: 20px; color: #1a1a1a; display: flex; align-items: center; justify-content: center;}
.iw_desk_link span.iwish-counter { position: absolute; background-color: rgb(var(--color-button)); color: rgb(var(--color-button-text)); height: 1.7rem; width: 1.7rem; border-radius: 50%; display: flex; justify-content: center; align-items: center; font-size: .9rem; bottom: .8rem; left: 2.2rem; z-index: 1; }

.iWishAddColl {top: 14px !important; right: 12px !important;}
.iWishAddColl {z-index: 1 !important;}
.iwishDrawer .svg-wrapper>svg { height: 23px; width: 23px; }
#iwish-drawer-root .iwish-backdrop {z-index: 999999999 !important;}
#iwish-drawer-root .iwish-drawer-menu .wish-drawer-header {background-color: #f4f0f0;}
#iwish-drawer-root .add_to_cart { border: 1px solid #a68380 !important; color: #ffffff !important; background: #a68380 !important; cursor: pointer; height: 100%; padding: 7px 30px; text-align: center; font-family: 'Futura Std', sans-serif !important; border-radius: 6px !important; font-size: 14px !important; }
a.wishlist-btn.heart-wishlist-animation {display: none !important;}
.qty-cart-sec {display: none !important;}
#iwish-drawer-root p.product-title a { color: #1a1a1a; font-size: 16px; font-weight: 500; margin-bottom: 6px; display: block; }
#iwish-drawer-root .product-variant {font-size: 12px !important;}
#iwish-drawer-root .price_Container .price-regular span {color: #1a1a1a; font-size: 14px; font-weight: 500;}
#iwish-drawer-root .price_Container .price-regular .strikeThrough {font-weight: 400; font-size: 12px; color: #5a5a5a;}
.mst-drawer-title-text {font-size: 18px !important;}
#iwish-drawer-root .price_Container { padding-bottom: 14px !important; padding-top: 6px !important; }
.wishlist-drawer-container .iwishProduct-row {font-size: 12px !important; margin-top: 4px !important;}
#iwish-drawer-root .iwish-drawer-menu header {border-bottom: 0 !important;}
span.mst-drawer-title-icon { position: relative; top: -2px; }
.login_msg { font-size: 14px; }
#iwish-drawer-root .iwish-drawer-menu header .is-logged a {color: #a68380 !important;}
#iwish-drawer-root .paginationContainer .continue-shopping-btn { background: #a68380 !important; border: 1px solid #a68380 !important; border-radius: 8px !important; color: #fff !important; letter-spacing: 1px; font-size: 14px !important; padding: 16px !important; }
#iwish-drawer-root .paginationContainer .addToCart-btn { background: #ffffff; border: 1px solid #a68380 !important; border-radius: 8px !important; color: #a68380 !important; letter-spacing: 1px !important; font-size: 14px !important; font-weight: 500; padding: 16px; font-family: 'Futura Std', sans-serif !important; }
#iwish-drawer-root .empty-wishlist-container .continue-shopping-btn:hover, #iwish-drawer-root .paginationContainer .addToCart-btn:hover, #iwish-drawer-root .paginationContainer .continue-shopping-btn:hover { background-color: #a68380; color: #ffffff; }
#iwish-drawer-root .iwish-drawer-menu .wish-drawer-title .iwish-row { align-items: center; display: flex ; flex-direction: row-reverse; justify-content: space-between; max-width: 100%; width: 100%; }
.mst-drawer-title-text {margin-left: 0px !important;}
.login_msg { font-size: 14px; margin-left: 10px !important; }
span.mst-drawer-title-icon { position: relative; top: -2px; background: #fff; font-weight: 600; width: 30px; height: 30px; border-radius: 50%; display: flex ; align-items: center; justify-content: center; }
.iwish-row.empty-wishlist-container p {display: none !important;}
.iwish-row.empty-wishlist-container h4 { font-weight: 600; font-size: 18px; }
#iwish-drawer-root .empty-wishlist-container .continue-shopping-btn, #iwish-drawer-root .empty-wishlist-container .continue-shopping-btn:hover {align-items: center; background-color: #a68380 !important; border: 1px solid #a68380 !important; color: #fff !important; cursor: pointer; display: flex ; justify-content: center; min-height: auto; text-align: center; text-transform: uppercase; width: 80%; padding: 12px 18px !important; border-radius: 12px !important;}
.iWishAdd.st-1.iwishAdded svg path, .iWishAddColl.iwishAdded svg path { fill: #ff0000; stroke: #ff0000; }
.iWishAdd span {display: none;}
#iwish-drawer-root .wish-drawer-title .closeNewCatWrapper span {display: flex; justify-content: end;}
#iwish-drawer-root .wish-drawer-title .closeNewCatWrapper svg {fill: #a68380;}
#dropdown-basic {background: #fff; border-radius: 10px; line-height: 1.7; border: 1px solid #dddddd;}
.paginationContainer .social-container {display: none !important;}
#iwish-drawer-root .wish-drawer-title .iwish-overlay .col-9+.col-3>button { border: 1px solid #a68380 !important; color: #fff !important; font-size: 12px !important; height: 100%; width: 100%; background: #a68380 !important; font-family: 'Futura Std', sans-serif !important; padding: 5px !important; letter-spacing: 1px !important; border-radius: 6px !important; }
.iwish-app-block-product { width: 30px; height: 30px; display: flex ; align-items: center; justify-content: center; background-color: rgb(255 255 255 / 100%); color: #fff; backdrop-filter: blur(5px); isolation: isolate; transition: background-color .3s ease, opacity .3s ease, visibility .3s ease; border-radius: 50%;}


@media only screen and (min-width:0px) and (max-width:767px){
    .wishlist-drawer-container * {color: #000;}
    .iwish-app-block-product {margin: 0 !important;}
    .paginationContainer .iwish-row {flex-direction: column;}
    #iwish-drawer-root .empty-wishlist-container .continue-shopping-btn, #iwish-drawer-root .paginationContainer .addToCart-btn, #iwish-drawer-root .paginationContainer .continue-shopping-btn {width: 100% !important;}
}

@media only screen and (min-width: 375px){
    .iw_mob_link {display: none;}
}