<h1 style="display: none;">Craftmanship</h1>

<section class="craftmanship-banner" id="bannerSection" data-heading="Ideation & Sketching">
  <div class="page-width">
    <div class="craftmanship-banner-wrapper" id="bannerContent">
      <h2>Ideation & sketching</h2>
    </div>
  </div>
</section>

<section class="craftmanship-3d-design-banner" id="bannerSection2" data-heading="3d Designing">
  <div class="page-width">
    <div class="craftmanship-3d-design-banner-wrapper" id="bannerContent2">
      <h2>3d Designing</h2>
    </div>
  </div>
</section>

<section class="craftmanship-molding-casting-banner" id="bannerSection3" data-heading="Molding & Casting">
  <div class="page-width">
    <div class="craftmanship-molding-casting-wrapper" id="bannerContent3">
      <h2>Molding & Casting</h2>
    </div>
  </div>
</section>

{% comment %} <section class="craftmanship-grinding-filing-banner" id="bannerSection4" data-heading="Grinding & Filing">
  <div class="page-width">
    <div class="craftmanship-grinding-filing-wrapper" id="bannerContent4">
      <h2>Grinding & filing</h2>
    </div>
  </div>
</section> {% endcomment %}

<section class="craftmanship-polishing-banner" id="bannerSection5" id="bannerSection6" data-heading="Quality Check">
  <div class="page-width">
    <div class="craftmanship-polishing-banner-wrapper" id="bannerContent5">
      <h2>Filing & Polishing</h2>
    </div>
  </div>
</section>

<section class="craftmanship-metal-setting-banner" id="bannerSection6" id="bannerSection6" data-heading="Metal Setting">
  <div class="page-width">
    <div class="craftmanship-metal-setting-banner-wrapper" id="bannerContent6">
      <h2>Diamond Setting</h2>
    </div>
  </div>
</section>

<section class="craftmanship-quality-check-banner" id="bannerSection7">
  <div class="page-width">
    <div class="craftmanship-quality-check-banner-wrapper" id="bannerContent7">
      <h2>Quality Check</h2>
    </div>
  </div>
</section>

<section class="craftmanship-packaging-banner" id="bannerSection8" data-heading="Packaging">
  <div class="page-width">
    <div class="craftmanship-packaging-banner-wrapper" id="bannerContent2">
      <h2>Packaging</h2>
    </div>
  </div>
</section>

<style>
  .page-craftmanship-template-page .section-header.shopify-section-group-header-group { z-index: 21; }
  .page-craftmanship-template-page summary.list-menu__item { color: white; }
  .page-craftmanship-template-page .header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom:hover summary.list-menu__item { color: #000000; }
  .page-craftmanship-template-page .header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom:hover {background: #fff;}

  .craftmanship-banner,
  .craftmanship-3d-design-banner,
  .craftmanship-molding-casting-banner,
  .craftmanship-grinding-filing-banner,
  .craftmanship-polishing-banner,
  .craftmanship-quality-check-banner,
  .craftmanship-metal-setting-banner,
  .craftmanship-packaging-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .craftmanship-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Ideation_Sketching.png?v=1751633529);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Ideation_Sketching.png?v=1751633529);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 9;
  }

  .craftmanship-3d-design-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Pexels_Photo_by_ThisIsEngineering.jpg?v=1751457529);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Pexels_Photo_by_ThisIsEngineering.jpg?v=1751457529);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 8;
  }

  .craftmanship-molding-casting-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Molding_Casting_1.png?v=1751633860);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Molding_Casting_1.png?v=1751633860);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 7;
  }

  .craftmanship-grinding-filing-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Grinding_Filing_1.png?v=1751634033);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Grinding_Filing_1.png?v=1751634033);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 6;
  }

  .craftmanship-polishing-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Polishing_Coating_1.png?v=1751634033);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Polishing_Coating_1.png?v=1751634033);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 5;
  }

  .craftmanship-metal-setting-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Diamond-Setting_1.jpg?v=1760704290);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Diamond-Setting_1.jpg?v=1760704290);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 4;
  }

  .craftmanship-packaging-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Packaging_1.png?v=1751634963);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Packaging_1.png?v=1751634963);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 3;
  }

  .craftmanship-quality-check-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/QC_1.jpg?v=1760704290);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/QC_1.jpg?v=1760704290);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 2;
  }

  .craftmanship-banner::before,
  .craftmanship-3d-design-banner::before,
  .craftmanship-molding-casting-banner::before,
  .craftmanship-grinding-filing-banner::before,
  .craftmanship-metal-setting-banner::before,
  .craftmanship-polishing-banner::before,
  .craftmanship-quality-check-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  .craftmanship-banner h2,
  .craftmanship-3d-design-banner h2,
  .craftmanship-molding-casting-banner h2,
  .craftmanship-grinding-filing-banner h2,
  .craftmanship-polishing-banner h2,
  .craftmanship-quality-check-banner h2,
  .craftmanship-metal-setting-banner h2,
  .craftmanship-packaging-banner h2 {
    color: #fff;
    margin: 0 auto;
    font-family: Futura, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;
    z-index: 3;
  }

  .craftmanship-banner-wrapper,
  .craftmanship-3d-design-banner-wrapper,
  .craftmanship-molding-casting-wrapper,
  .craftmanship-grinding-filing-wrapper,
  .craftmanship-polishing-banner-wrapper,
  .craftmanship-quality-check-banner-wrapper,
  .craftmanship-metal-setting-banner-wrapper,
  .craftmanship-packaging-banner-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(1000px) translateZ(100px);
    z-index: 2;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    pointer-events: none;
    opacity: 1;
  }

  .section-active .craftmanship-banner-wrapper,
  .section-active .craftmanship-3d-design-banner-wrapper,
  .section-active .craftmanship-molding-casting-wrapper,
  .section-active .craftmanship-grinding-filing-wrapper,
  .section-active .craftmanship-polishing-banner-wrapper,
  .section-active .craftmanship-quality-check-banner-wrapper,
  .section-active .craftmanship-metal-setting-banner-wrapper {
    opacity: 1;
  }

  .section-active::before {
    filter: blur(2px);
    opacity: 0.8;
    transition: all 0.6s ease;
  }


  

  @media only screen and (max-width: 767px) {
    .purpose-value-banner h1 { font-size: 24px !important; letter-spacing: 2px; max-width: 330px; }
    .craftmanship-banner-wrapper h2,
    .craftmanship-3d-design-banner-wrapper h2,
    .craftmanship-molding-casting-wrapper h2,
    .craftmanship-grinding-filing-wrapper h2,
    .craftmanship-polishing-banner-wrapper h2,
    .craftmanship-quality-check-banner-wrapper h2,
    .craftmanship-packaging-banner-wrapper h2,
    .craftmanship-metal-setting-banner-wrapper h2{
      font-size: 20px !important;
      letter-spacing: 2px;
      max-width: 330px;
    }

    .page-craftmanship-template-page .header-wrapper.color-scheme-1.gradient.header-wrapper--border-bottom {
      background: #ffffff;
    }

    

    .page-craftmanship-template-page .hulkapps-wl-wishlist-icon .icon-wishlist-heart-empty {
      color: #000000 !important;
    }

    .craftmanship-banner {
      background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Ideation_Sketching_Mob_1.png?v=1751635669);
      -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Ideation_Sketching_Mob_1.png?v=1751635669);
      -webkit-mask-size: cover;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      z-index: 9;
    }

  .craftmanship-3d-design-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/3D.jpg?v=1761630096);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/3D.jpg?v=1761630096);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 8;
  }

  .craftmanship-molding-casting-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Molding_Casting_Mob_1.png?v=1751635669);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Molding_Casting_Mob_1.png?v=1751635669);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 7;
  }

  .craftmanship-grinding-filing-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Grinding_Filing_Mob_1.png?v=1751635456);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Grinding_Filing_Mob_1.png?v=1751635456);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 6;
  }

  .craftmanship-polishing-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Polishing_Coating_Mob_1.png?v=1751635404);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Polishing_Coating_Mob_1.png?v=1751635404);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 5;
  }

  .craftmanship-metal-setting-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Diamond-Setting_2.jpg?v=1761630096);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Diamond-Setting_2.jpg?v=1761630096);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 4;
  }

  .craftmanship-packaging-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Packaging_Mob_1.png?v=1751635669);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Packaging_Mob_1.png?v=1751635669);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 3;
  }

  .craftmanship-quality-check-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/QC_2.jpg?v=1761630096);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0739/8516/3482/files/QC_2.jpg?v=1761630096);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    z-index: 2;
  }


  }
</style>


